<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet" href="__CSS__/public.css">
<link rel="stylesheet" href="__CSS__/main.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/common.js"></script>

<!-- Owl Carousel Assets -->
<link href="__CSS__/owl.carousel.css" rel="stylesheet">
<link href="__CSS__/owl.theme.css" rel="stylesheet">
<script src="__JS__/owl.carousel.js"></script>

<title>{$title}</title>
</head>