
<include file="Public:header" /><body>

    <section class="search">
        <!-- 首页搜索 start -->
        <div class="index-search-open">
            <form class="top-search">
                <div class="top-bar-btn">
                    <img src="__IMG__/back_icon.png" onClick="history.back(-1)" class="back-img" alt="">
                </div>
                <div class="top-bar">
                    <input type="text" class="s-input" id="keyword" placeholder="商品名称、商品编号">
                    <input type="button" class="search-btn" onClick="searchgs()">
                </div>
            </form>
        </div>
        <!-- 首页搜索 end -->

        <section class="wrapper">
            <div class="item-box search-list">
                <div class="goods-list clearfix">
                    <ul id="gList">
						<volist name="goodsList" id="goodsArr">
                        <li class="col-2">
                            <a href="商品详情.html">
                                <p><img src="{$goodsArr['thumb']}" alt=""></p>
                                <p class="good-name">{$goodsArr['goods_name']}</p>
                                <small>{$goodsArr['goods_sn']}</small>
                                <p class="rmb">￥{$goodsArr['goods_price']}</p>
                            </a>
                        </li>
						</volist>
						
						<volist name="goodsList" id="goodsArr">
                        <li class="col-2">
                            <a href="商品详情.html">
                                <p><img src="{$goodsArr['thumb']}" alt=""></p>
                                <p class="good-name">{$goodsArr['goods_name']}</p>
                                <small>{$goodsArr['goods_sn']}</small>
                                <p class="rmb">￥{$goodsArr['goods_price']}</p>
                            </a>
                        </li>
						</volist>
                    </ul>
                </div>
            </div>

            <!-- loading -->
<input type="hidden" id="getCount" value="{$getCount}" />
<input type="hidden" id="goodsPage" value="1"/>
<input type="hidden" id="searchKeyword" value="{$keyword}"/>
<div class="loading" <if condition="$getCount gt $pageSize">style="display: block"<else />style="display: none"</if> ><img src="__IMG__/loading.gif" alt=""></div>
<script>
	function SetCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*60*60*1000));
        var expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }

    function GetCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1);
            if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
        }
        return "";
    }
	
	function searchgs(){
		//点击搜索操作
		var keyword	= $("#keyword").val().toString();
		if(keyword==null || keyword==undefined || keyword==""){
			layer.open({
				   content: '请输入搜索内容'
				   ,btn: '确定'
			});	
		}else{
			//对搜索记录做特殊处理
			var kWord = GetCookie("keyword");
			var strs= new Array(); //定义一数组
			strs=kWord.split("|"); //字符分割
			var s = strs.indexOf(keyword);  
			if(s==-1){
				//当搜索记录不存在的时候
				var newStr = strs.slice(-3);
				var theSep = newStr.join('|');
				var newWord = theSep+"|"+keyword;
				var newArr = new Array();
				newArr = newWord.split("|");
				newArr = newArr.reverse();
				newKeyWord = newArr.join('|');
				SetCookie("keyword", newKeyWord, 1000);
			}
			window.location.href = '/Search/searchList.html?keyword='+keyword;
		}
	}

    $(function(){
        $(window).scroll(function(){
            if($(document).scrollTop() + $(window).height() >= $(document).height()){	
				var getCount		= $("#getCount").val();
				var goodsPage   	= $("#goodsPage").val();
				var searchKeyword	= $("#searchKeyword").val();
				$.ajax({
					url: '/Search/getSearchList',
					type: 'POST',
					dataType: 'json',
					data: {'getCount':getCount,'goodsPage':goodsPage,'searchKeyword':searchKeyword},
					success: function(d){
						$('.loading').show();
						var newData = d.data;
						if(d.success){
							//加载当前页
							$("#goodsPage").val(d.page);
							html = '';
							for(var i=0;i<newData.length;i++){
								html += '<li class="col-2"><a href="商品详情.html"><p><img src="'+newData[i]["thumb"]+'" alt=""></p><p class="good-name">'+newData[i]["goods_name"]+'</p><small>'+newData[i]["goods_sn"]+'</small><p class="rmb">￥'+newData[i]["goods_price"]+'</p></a></li>';
							}
							$('#gList').append(html);
						}else{
							$('.loading').hide();	
						}
					}
				});
            }
        });
    });
</script>
<!-- loading end -->

        </section>
    </section>
</body>
</html>
