<div class="baikeList">
    <div class="box here"><span>您当前的位置:钻石百科>{$catname}</span></div>
    <div class="listLeft">
    	<include file=".:Com:b2c:article:article_list" />
    </div>
    <div class="listRight">
    	<div class="box baikeCat mb10">
            <include file=".:Com:b2c:article:baike_cat" />
        </div>
        <div class="box baikeGoods mb10">
            <include file=".:Com:b2c:product:hot_list_article" />
        </div>
        <div class="box top">
            <include file=".:Com:b2c:article:hot_list2" />
        </div>
    </div>
    <div class="clear"></div>
</div>