<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人信息-订单详情_待付款</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/user.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script>
	<script src="__JS__/user.js"></script>
</head>
<body class="wrap-bg">
	<!-- Header -->
	<header class="header text-center">
		          <if condition="$orderInfo['status']  eq 0">
				  取消
				  <elseif condition="$orderInfo['status']  eq 4" />
				  确认收货
				  </if>
        <a href="javascript:;" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </header>
    <!-- Header END //-->

	<!-- Main -->
    <div class="container-fluid user-info user-order-detail">

		<div class="panel panel-default border-radius-none">
		  <div class="panel-body username user-order-pad">
		  	<h5>订单编号：{$orderInfo.order_sn}</h5>
		    <p>
		    	<span class=""><i class="glyphicon glyphicon-map-marker font-1em" style="visibility: hidden"></i> {$addressInfo.name}</span>
		    	<span class="pull-right" style="margin-top: 8px;">{$addressInfo.phone}</span>
		    	<div class="clear"></div>
		    </p>
		    <p><i class="glyphicon glyphicon-map-marker font-1em"></i> {$addressInfo.addressInfo}</p>
			<div class="clear"></div>
		  </div>
		</div>

		<div class="panel panel-default border-radius-none">
			<div class="panel-body username usbox order-detail-list">
				<ul class="user-info-sex-ul user-order-detail-more">
				 <volist name="goodsList['consignment']" id="vo" mod="2">
					<li> 
				  		<div class="orderimgl">
				  			<img class="media-object" src="__IMG__/orderimg_03.png" alt="...">
				  		</div>
				  		<div class="titleright">
						
						
				  			<h6 class="media-heading">{$vo.goods_name}</h6>
				  			
		   <p><span class="rmb">￥<eq name="orderInfo.order_status" value="0">
            	<input style="width: 70px;" type="text" value="{$vo.goods_price}" data-id="{$vo['og_id']}" name="consignment[{$vo['og_id']}][price]" class="goods_price">
            <elseif condition="$orderInfo['order_status'] == -1 or $orderInfo['order_status'] == -2" />
            	{$vo.goods_price}
            <else />
            	{$vo.goods_price_up}
            </eq></span> <span class="sum">
					<eq name="orderInfo.order_status" value="0">
	            	<input type="text" style="width: 50px;" name="consignment[{$vo['og_id']}][goods_num]" value="{$vo.goods_number}" class="goods_num" />
						<elseif condition="$orderInfo['order_status'] == -1 or $orderInfo['order_status'] == -2" />
							x{$vo.goods_number}
						<else />
							x{$vo.goods_number_up}
					</eq>
							</span></p>
				  		</div>	
				  		<div class="clear"></div>
					</li>
				</volist>
				</ul>
				<!--<p class="text-center gdsp">更多商品 <img src="__IMG__/x_03.png" alt=""></p>-->
			</div>
		</div>

		<div class="panel panel-default border-radius-none">
			<div class="panel-body username usbox">
				<ul class="user-info-sex-ul">
					<!--<li> 
				  		支付方式 <span class="pull-right">银行转账汇款</span>
					</li>-->
					<li> 
				  		配送方式: <span class="pull-right">顺丰快递</span>
					</li>
				</ul>
			</div>
		</div>

		<div class="panel panel-default border-radius-none">
			<div class="panel-body username usbox order-settlement">
				<ul class="user-info-sex-ul">
					<li> 
				  		总金额<span class="pull-right">￥{$orderInfo.order_price}</span>
					</li>
					
					<!--<li> 
				  		运费 <span class="pull-right">￥25</span>
					</li>-->
					<li> 
				  		实际付款 <span class="pull-right">￥<?php echo $orderInfo['order_price']+25?></span>
					</li>
				</ul>
			</div>
		</div>

		<div class="order-time">
			<div class="panel-body username usbox order-settlement">下单时间：{$orderInfo.create_time|date="Y-m-d H:i:s",###}</div>
		</div>

		<div class="to-payment">
			<div class="panel-body username usbox order-settlement">
				<div class="row">
					<div class="col-xs-6"><button type="button" class="btn btn-primary exit-button">取消订单</button></div>
					<div class="col-xs-6"><button type="button" class="btn btn-primary exit-button">去付款</button></div>
				</div>
			</div>
		</div>
	</div>
    <!-- Main END //-->
</body>
</html>