<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>清除数据</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/test.css"/>
	</head>
	<body>
		<form action="" method="post">
		<table> 
			<tr>
				<th width="10%">选中</th>
				<th width="20%">清空数据对象</th>
				<th width="70%">内容</th>
			</tr>
			<tr>
				<td>
					<div class="checkboxFour">
				  		<input type="checkbox" value="1" id="checkbox_1" name="par" />
					  	<label for="checkbox_1"></label>
				  	</div>
				</td>
				<td>清除用户</td>
				<td>清除2015年7月17号后注册的用户</td>
			</tr>
			<tr>
				<td>
					<div class="checkboxFour">
				  		<input type="checkbox" value="2" id="checkbox_2" name="par" />
					  	<label for="checkbox_2"></label>
				  	</div>
				</td>
				<td>清除珠宝产品</td>
				<td>清除官网的所有珠宝产品</td>
			</tr>
			<tr>
				<td>
					<div class="checkboxFour">
				  		<input type="checkbox" value="3" id="checkbox_3" name="par" />
					  	<label for="checkbox_3"></label>
				  	</div>
				</td>
				<td>清除订单</td>
				<td>清除官网的所有订单，发货单，发货单产品，做期信息，应付信息，收款记录</td>
			</tr>
			<tr>
				<td>
					<div class="checkboxFour">
				  		<input type="checkbox" value="4" id="checkbox_4" name="par" />
					  	<label for="checkbox_4"></label>
				  	</div>
				</td>
				<td>设置裸钻库存</td>
				<td>钻明官网裸钻数据库所有的库存都还原为1</td>
			</tr>
			<tr>
				<td>
					<div class="checkboxFour">
				  		<input type="checkbox" value="5" id="checkbox_5" name="par" />
					  	<label for="checkbox_5"></label>
				  	</div>
				</td>
				<td>清空分销商</td>
				<td>清空所有分销商数据，包括珠宝产品表相关，分销商订单表相关，用户相关</td>
			</tr>
		</table>
		<div class="action">
			<input type="submit" value="提交" class="fl" />
			<input type="reset"  value="重置" class="fr" />
		</div>
		</form>
	</body>
</html>
