<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>信息提交成功</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/user.css">
	<link rel="stylesheet" href="__CSS__/cart.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script>

</head>
<style>
	.succebox { margin-top: 3em;}
	.succebox span { display: inline-block; text-align: right; width: 100px;}
</style>
<body>
	<!-- Header -->
	<header class="header text-center">
    	加入分销商
        <a href="javascript:;" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </header>
    <!-- Header END //-->

	<!-- Main -->
	<div class="container wrap cart-submit-order-successful">
    	<div class="empty">
    		<div class="row">
    			<div class="col-xs-12">
    				<p><img src="img/cuss_03.png" alt="" class="cussimg"><strong>己提交成功！</strong></p>
    			</div>
    			<div class="col-xs-12">
    				<div class="succebox">
		            	<p class="text-left"><span>分销商：</span>林大富</p>
						<p class="text-left"><span>公司名称：</span>大富珠宝有限公司</p>
			            <p class="text-left"><span>联系人：</span>林大富</p>
			            <p class="text-left"><span>联系电话：</span>13888888888</p>
			            <p class="text-left"><span>营业执照：</span></p>
			            <p class="text-left"><span></span><img src="..." alt=""></p>
			            <p class="text-left"><span>注册资金：</span>3万</p>
			            <p class="text-left"><span>分销地区：</span>广东深圳</p>
		            </div>
    			</div>
    		</div>
   		</div>
	</div>
    <!-- Main END //-->

</body>
</html>