<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>设置金价</title>
</head>
<body>
<div class="page-main edit">
    <div class="subMenu">
        <h3>当前操作：设置金价</h3>
        <ul>
           <li class="active"><a href="/Admin/Zgoods/setGoldPrice.html" >设置金价</a></li>
           <li><a href="/Admin/Zgoods/goldPriceLog.html" >金价操作日志</a></li>
        </ul>
    </div>
	<form action="{:U('Admin/Zgoods/setGoldPrice')}" method="post">
    	<div style="padding:10px 50px;">
        	<volist name="materialList" id="vo">
        	<div class="info">
                <div class="title">{$vo.name}:</div>
                <input name="material_id[{$vo.ma_id}]" type="text" value="{$vo.price}" />
            </div>
        	</volist>
            <div class="info">
                <div class="title">&nbsp;</div>
                <input type="submit" class="button fl" value="修改金价">
                <input type="reset" class="button fl ml10" value="重置">
                <div class="clear"></div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
