
<!-- cart -->
<div class="steps" style="margin-top: 20px;">
	<div class="container">
		<div class="path">
			<ol class="breadcrumb" style="margin: 0;">
				当前位置：
				<li><a href="javascript:void(0);">首页</a></li>
				<li class="active">我的收藏</li>
			</ol>
		</div>
	</div>
</div>
<div class="cart">
	<if condition="!empty($product['data'])" >
		<div class="table-box">
			<div class="container">
				<div class="cart-list table-responsive">
					<table class="table">
						<thead>
						<tr>
							<th><input id="selectThisPage" checked type="checkbox">全选</th>
							<th align="center">商品名称</th>
							<th>货品编号/货号</th>
							<th>收藏时间</th>
							<th>单价</th>
							<th>操作</th>
						</tr>
						</thead>
						<tbody>
						<if condition="$product['data']">
							<volist name="product['data']" id="vo" >
								<tr>
									<td scope="row">
										<input class="checkbox" data-id="chk_{$vo['id']}"  name="tbSelectedId" type="checkbox">

									</td>
									<if condition="$vo['goods_type'] gt 2">
										<td>
											<a href="{:U('/Home/Goods/goodsDetails',array('goods_type'=>$vo['goods_type'],'gid'=>$vo['goods_id']))}">
												<img src="{$vo['goods_attrs']['thumb']}" width="80" height="80" alt="{$vo['goods_attrs']['goods_name']}" title="{$vo['goods_attrs']['goods_name']}" />
											</a>
											<br>
											<a href="{:U('/Home/Goods/goodsDetails',array('goods_type'=>$vo['goods_type'],'gid'=>$vo['goods_id']))}">
												{$vo['goods_attrs']['goods_name']} {$vo['goods_attrs']['attrs']}

												<?php echo !empty($vo['goods_attrs']['associateInfo']['material_name']) 	? '材质:'.$vo['goods_attrs']['associateInfo']['material_name']		 	: '';?>

												<?php echo !empty($vo['goods_attrs']['hand']) 				? '手寸:'.$vo['goods_attrs']['hand']		 			: '';?>
												<?php echo !empty($vo['goods_attrs']['word']) 				? '刻字:'.$vo['goods_attrs']['word']		 			: '';?>

												<?php echo !empty($vo['goods_attrs']['hand1']) 				? '手寸（女戒）:'.$vo['goods_attrs']['hand1']		 	: '';?>
												<?php echo !empty($vo['goods_attrs']['word1']) 				? '刻字:'.$vo['goods_attrs']['word1']		 			: '';?>
											</a>
										</td>
										<td>{$vo['goods_attrs']['goods_sn']}<if condition="$vo['have_goods'] lt 1">【<span style="color:red;">无货</span>】</if></td>
									<elseif condition="$vo['goods_type'] eq 2"/>
										<td>{$vo['goods_attrs']['goods_sn']} 分类:{$vo['goods_attrs']['type_name']} 颜色:{$vo['goods_attrs']['color']}  净度:{$vo['goods_attrs']['clarity']}  切工:{$vo['goods_attrs']['cut']}  库存重量:{$vo['goods_attrs']['goods_weight']} CT</td>
										<td>
											{$vo['goods_attrs']['goods_sn']}
										</td>
									<else/>
										<td>{$vo['goods_attrs']['certificate_type']} <if condition="$yn_certificate_num_cv neq 1">_{$vo['goods_attrs']['certificate_number']}</if>  <if condition="$vo['have_goods'] lt 1">【<span style="color:red;">无货</span>】 </if>{$vo['goods_attrs']['shape_name']}   {$vo['goods_attrs']['weight']}ct  颜色:{$vo['goods_attrs']['color']}  净度:{$vo['goods_attrs']['clarity']}  切工:{$vo['goods_attrs']['cut']}  抛光:{$vo['goods_attrs']['polish']}  荧光:{$vo['goods_attrs']['fluor']} 对称:{$vo['goods_attrs']['symmetry']}  </td>
										<td>
											<eq name="vo['goods_attrs']['luozuan_type']" value="1">彩钻&nbsp;</eq>
											{$vo['goods_attrs']['goods_name']}
										</td>

									</if>

									<td>{$vo['create_time']}</td>

									<td class="xiaoji"><span class="red price">￥{$vo['goods_price']}</span></td>
									<td><a href="javascript:;" onclick="deleteColletion('确定要删除吗？',{$vo['id']});" class="btn-link">删除</a></td>
								</tr>
							</volist>
						</if>
						</tbody>
					</table>
				</div>
				<div class="row js">
					<div class="col-md-6"><a href="javascript:;" id="clearCollection" >批量删除</a>  &nbsp;&nbsp;   <a href="javascript:;" id="addAllCollectionToCart"><strong>加入购物车</strong></a></div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<else />
		<div class="container null" style="padding: 100px 0">
			<p style="margin-bottom: 5px; font-size: 14px;text-align: center;">您的收藏夹还是空的！</p>
		</div>
	</if>
</div>
<!-- cart end //-->
<script>
	// 批量删除，单个删除-->
	function getSelectObjArray(id){
		var collection_obj = {};
		if(id){
			collection_obj[id] = id;
		}else{
			$("input[name = tbSelectedId]:checkbox").each(function(){
				if($(this).is(":checked")){
					var now_id = $(this).attr('data-id').replace('chk_','');
					collection_obj[now_id] = now_id;
				}
			});
		}
		var tempdata   = new Array();
		for( var key in collection_obj ){
			tempdata.push(collection_obj[key]);
		}
		return tempdata;
	}
	function deleteColletion(msg,id){
		var tempdata = getSelectObjArray(id);
		if(tempdata.length==0){
			layer.msg('请选择操作对象');
			return;
		}
		layer.confirm(msg, {
					btn: ['确定','再想想'] //按钮
				}, function(){
					$.ajax({
						type: "post",
						url : "{:U('/Home/Goods/deleteColletion')}",
						dataType:'json',
						data: {id:tempdata},
						success: function(res){
							if(res.status == 100){
								layer.msg(res.msg,{
									shift:6,
									icon: 6
								});
								setTimeout(function(){
									window.location.reload();
								},1500)
							}else{
								layer.msg(res.msg,{
									shift:6,
									icon: 5
								});
							}
						},
					});
				}
		);
	}
	function addAllCollectionToCart(){
		var tempdata = getSelectObjArray();
		if(tempdata.length==0){
			layer.msg('请选择操作对象');
			return;
		}
		$.ajax({
			type: "post",
			url : "{:U('/Home/Goods/addCollectionToCart')}",
			dataType:'json',
			data: {id:tempdata},
			success: function(res){
				if(res.status == 100){
					layer.msg(res.msg,{
						shift:6,
						icon: 6
					});
					setTimeout(function(){
						window.location.reload();
					},1500)
				}else{
					layer.msg(res.msg,{
						shift:6,
						icon: 5
					});
				}
			},
		});


	}
	// 全部选中产品 -->
	function selectAll(){
		var status = $("#selectThisPage").is(":checked");
		$("input[name = tbSelectedId]:checkbox").prop("checked", status);
	}
	$(document).ready(function(){
		// 进入页面全部选中 -->
		selectAll();

		// 选定当前页数据 -->
		$('#selectThisPage').click(function(){
			selectAll();
		})

		// 批量删除 -->
		$('#clearCollection').click(function(){
			deleteColletion('确定要批量删除吗？');
		})
		$('#addAllCollectionToCart').click(function(){
			addAllCollectionToCart();
		})
	})
</script>
