<!-- mallhot -->
<div class="mallhot mallhot-type diamond diamond-select">
	<div class="container">
		<div class="path">
			<ol class="breadcrumb">
				当前位置：
				<li><a href="javascript:void(0);">首页</a></li>
				<li class="active">浏览记录</li>
			</ol>
		</div>
		<div class="groups">
			<ul>
				<li>
					<h3 class="pull-left">全部</h3>
					<span class="pull-right">
						<a href="javascript:;" class="lh25 remove-items"><img src="__IMG__/history_icon_0_03.png" alt="" class="vt"> 删除所选</a>
						<a href="javascript:;" class="lh25 remove-all"><img src="__IMG__/history_icon_0_03.png" alt="" class="vt"> 清空</a>
					</span>
					<div class="clearfix"></div>
				</li>
				<li class="attrs xlattr">商品分类
					<a href="{:U('Goods/getHistoryLists')}" <if condition="$goods_type eq -1">class="active"</if> >全部</a>
					<a href="{:U('Goods/getHistoryLists').'?goods_type=3'}" <if condition="$goods_type eq 3">class="active"</if> data-value-id="54">成品</a>
					<a href="{:U('Goods/getHistoryLists').'?goods_type=4'}" <if condition="$goods_type eq 4">class="active"</if> data-value-id="54">定制</a>
				</li>
				<li class="attrs attr-child" id="js_category_child"></li>
			</ul>
		</div>
		<div class="goods-list fadeIn animated">
			<div class="hist-down-icon" style="display: none;"></div>
			<div class="row historyrow" id="listbox1">
				<volist name="goods_history" id="historys">
					<if condition="$historys['count'] gt 0">
						<div class="histlist histlist-js" data-count="{$historys['count']}">
							<div class="col-md-12">
								<h3>{$historys['name']} <small>{$historys['date']} {$historys['count']}件商品</small></h3>
							</div>
							<volist name="historys.lists" id="vo">
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="thumbnail" h_id="{$vo['history_id']}">
										<div class="remove-icon"><img src="__IMG__/remove_icon_03.png" alt=""></div>
										<div class="slectgood"><img src="__IMG__/history_icon_11.png" alt=""></div>
										<a href="/Home/Goods/goodsDetails.html?goods_type={$vo['goods_type']}&amp;gid={$vo['goods_id']}" target="_blank"><img src="{$vo['thumb']}"></a>
										<div class="caption">
											<h5 class="text-center list-name"><a href="javascript:void(0);">{$vo['goods_name']}</a></h5>
											<p class="jiage text-center"><strong class="rmbsum red text-left">￥{$vo['now_price']}</strong></p>
										</div>
									</div>
								</div>
							</volist>
						</div>
					</if>
				</volist>
				<!--<div class="histlist">
					<div class="col-md-12">
						<h3>昨天 <small>2017-6-14 4件商品</small></h3>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="thumbnail">
							<div class="remove-icon"><img src="__IMG__/remove_icon_03.png" alt=""></div>
							<div class="slectgood"><img src="__IMG__/history_icon_11.png" alt=""></div>
							<a href="/Home/Goods/goodsDetails.html?goods_type=4&amp;gid=1985" target="_blank"><img src="http://zmall.com/Public/Uploads/product/2017-05-14/5917c9c0dd73f_2.JPG"></a>
							<div class="caption">
								<h5 class="text-center list-name"><a href="javascript:void(0);">钻石(男戒)</a></h5>
								<p class="jiage text-center"><strong class="rmbsum red text-left">￥3812.54</strong></p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="thumbnail">
							<div class="remove-icon"><img src="__IMG__/remove_icon_03.png" alt=""></div>
							<div class="slectgood"><img src="__IMG__/history_icon_11.png" alt=""></div>
							<div class="dbox">
								<p>GIA _624249755</p>
								<p>形状:圆形</p>
								<p>重量10.00ct</p>
								<p>颜色:N</p>
								<p>净度:SI1</p>
								<p>切工:EX</p>
							</div>
							<div class="caption">
								<h5 class="text-center list-name"><a href="javascript:void(0);">彩宝&amp;异形钻石(耳扣/耳环)</a></h5>
								<p class="jiage text-center"><strong class="rmbsum red text-left">￥3126.72</strong></p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="thumbnail">
							<div class="remove-icon"><img src="__IMG__/remove_icon_03.png" alt=""></div>
							<div class="slectgood"><img src="__IMG__/history_icon_11.png" alt=""></div>
							<a href="/Home/Goods/goodsDetails.html?goods_type=4&amp;gid=1983" target="_blank"><img src="http://zmall.com/Public/Uploads/product/2017-05-23/5923d395d0da3_2.JPG"></a>
							<div class="caption">
								<h5 class="text-center list-name"><a href="javascript:void(0);">钻石(情侣对戒)</a></h5>
								<p class="jiage text-center"><strong class="rmbsum red text-left">￥2255.68</strong></p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="thumbnail">
							<div class="remove-icon"><img src="__IMG__/remove_icon_03.png" alt=""></div>
							<div class="slectgood"><img src="__IMG__/history_icon_11.png" alt=""></div>
							<a href="/Home/Goods/goodsDetails.html?goods_type=4&amp;gid=1982" target="_blank"><img src="http://zmall.com/Public/Uploads/product/2017-05-23/592393fcd4f5d_2.jpg"></a>
							<div class="caption">
								<h5 class="text-center list-name"><a href="javascript:void(0);">钻石(链牌)</a></h5>
								<p class="jiage text-center"><strong class="rmbsum red text-left">￥5486.06</strong></p>
							</div>
						</div>
					</div>
				</div>-->

				<!-- 暂无浏览记录 -->
				<div class="no-record" style="display: none">
					暂无浏览记录，<a href="/">点击返回首页</a>
				</div>
			</div>
			<div class="hist-up-icon" style="display: none;"></div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<script>

	$(function(){
		//商品选择
		$(document).delegate('.slectgood', 'click', function(){
			if($(this).attr('lock') == "true"){
				//选中
				$(this).find('img').attr('src', '__IMG__/history_icon_11.png');
				$(this).attr('lock', 'false');
			}else{
				//取消选中
				$(this).find('img').attr('src', '__IMG__/history_icon_0_07.png');
				$(this).attr('lock', 'true');
			}

		});
		//显示己选中
		$(document).delegate('.thumbnail', 'mouseenter', function(){
			$(this).find('.slectgood').show();
			$(this).find('.remove-icon').show();
		});
		$(document).delegate('.thumbnail', 'mouseleave', function(){
			$(this).find('.remove-icon').hide();
			if($(this).find('.slectgood').attr('lock') == "true"){
				$(this).find('.slectgood').show();
			}else{
				$(this).find('.slectgood').hide();
			}
		});

		//删除商品
		$(document).delegate('.remove-icon', 'click', function(){
			var collection_obj = {};
			var now_id = $(this).parents('.thumbnail').attr('h_id');
			collection_obj[now_id] = now_id;
			deleteHistory(collection_obj,$(this),1);
		});

		//删除所选
		$(document).delegate('.remove-items', 'click', function(){
			var collection_obj = {};
			$('.histlist .thumbnail').each(function(){
				if($(this).find('.slectgood').attr('lock') == "true"){
					var now_id = $(this).attr('h_id');
					collection_obj[now_id] = now_id;
					//$(this).parent().remove();
				}
			});
			deleteHistory(collection_obj,$('.histlist .thumbnail'),2);
		});

		//清空所有
		$(document).delegate('.remove-all', 'click', function(){
			var collection_obj = {};
			collection_obj[-1] = -1;
			deleteHistory(collection_obj,$('.histlist'),3)
		});
	});
	function deleteHistory(h_id,obj,type){
		var delete_all = 0;
		if(type==3){
			delete_all = 1;
		}
		if($.isEmptyObject(h_id)){
			layer.msg('请选择操作的对象');
			return;
		}
		$.getJSON("{:U('Goods/deleteHistory')}", {
			id: h_id , delete_all: delete_all
		}, function(data) {
			if(data.status==100){
				obj.each(function(){
					if(type==1){
						var data_count = obj.parents('.thumbnail').parent().parent().attr('data-count');
						data_count--;
						obj.parents('.thumbnail').parent().parent().attr('data-count',data_count);
						if(data_count==0){
							obj.parents('.thumbnail').parent().parent().hide();
						}else{
							obj.parents('.thumbnail').parent().remove();
						}
					}else if(type==3){
						obj.remove();
					}else{
						obj.each(function(){
							if($(this).find('.slectgood').attr('lock') == "true"){
								var data_count = $(this).parent().parent().attr('data-count');
								data_count--;
								$(this).parent().parent().attr('data-count',data_count);
								if(data_count==0){
									$(this).parent().parent().hide();
								}else{
									$(this).parent().remove();
								}
							}
						});
					}

					show_none_hist();
				});
			}else{
				layer.msg(data.msg);
			}
		});
	}
	function show_none_hist(){
		var data_count = 0;
		$('.histlist-js').each(function(){
			data_count += $(this).attr('data-count');
		});
		if(data_count==0){
			$('.no-record').show();
		}
	}
	show_none_hist();

	/*function getSelectObjArray(obj,id){
		var collection_obj = {};
		if(id){
			collection_obj[id] = id;
		}else{
			//$("input[name = tbSelectedId]:checkbox").each(function(){
			obj.each(function(){
				if($(this).attr('lock') == "true"){
					var now_id = $(this).attr('data-id').replace('chk_','');
					collection_obj[now_id] = now_id;
				}
			});
		}
		var tempdata   = new Array();
		for( var key in collection_obj ){
			tempdata.push(collection_obj[key]);
		}
		return tempdata;
	}*/
</script>
<!-- mallhot end //-->
