<style>
  .query-main { background: url('/Application/Home/View/b2c_new/Styles/Img/diamond_para_bg.jpg'); padding: 50px 0; line-height: 25px; color: #000;}
  .query-main .container { max-width: 950px;}
  .query-main .container button { padding: 5px 20px;}
  .query-main .gia-input { width: 85%; margin-left: 5px;}
  .query-main .pullleft { margin-right: 15px; float: left; line-height: 35px; font-size: 14px;}
  .query-main .h3title { font-weight: bold; font-size: 16px; color: #000;}
  .query-main .selectbox { margin-top: 20px;}
  .query-main .pullleft img { border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; width: 50px; height: 50px;}
  .query-main .twocol { float: left;}
  .query-main .twocol .form-control { width: 70%;}
</style>
<div class="certificate-query">
    <include file=".:Com:b2c:product:search" />
</div>
 