<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet" href="__CSS__/public.css">
<link rel="stylesheet" href="__CSS__/main.css">
<link rel="stylesheet" href="__CSS__/user.css">
<link href="__JS__/iCheck/skins/minimal/blue.css" rel="stylesheet">
<link href="__JS__/iCheck/skins/square/blue.css" rel="stylesheet">
<link href="__JS__/iCheck/skins/flat/blue.css" rel="stylesheet">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/user.js"></script>
<link rel="stylesheet" href="__CSS__/cart.css">
<script src="__JS__/iCheck/jquery.icheck.js"></script>
<script src="__JS__/icheck-init.js"></script>
<script type="text/javascript" src="__JS__/fuelux/js/spinner.min.js"></script>
<script src="__JS__/spinner-init.js"></script>
<script src="__JS__/layer-mobile/layer.js"></script>
<script src="__JS__/public.js"></script>
<!-- 商品滑动 -->
<link rel="stylesheet" href="__CSS__/swiper.min.css">
<title>发票信息</title>
</head>
<body class="wrap-bg">
  <section>
    <div class="invoice-info">
      <div class="borbot"> 
        <div class="square-blue single-row">
          <h4 style="font-size: 15px;">发票收据</h4>
          <div class="radio-list">
            <div class="radio pull-left zfss-radio">
              <input tabindex="1" type="radio"  name="pay-radio">
            </div>
            <span class="pull-left" style="line-height: 40px; margin-left: 5px;">暂不开具发票</span>
            <div class="clearfix"></div>
          </div>
          <div class="radio-list">
            <div class="radio pull-left zfss-radio">
              <input tabindex="2" type="radio"  name="pay-radio">
            </div>
            <span class="pull-left" style="line-height: 40px; margin-left: 5px;">开具个人发票</span>
            <div class="clearfix"></div>
          </div>
          <div class="radio-list">
            <div class="radio pull-left zfss-radio">
              <input tabindex="3" type="radio"  name="pay-radio">
            </div>
            <span class="pull-left" style="line-height: 40px; margin-left: 5px;">开具公司发票</span>
            <div class="clearfix"></div>
          </div>
		  
          <div class="radio-list " style="padding-left: 38px;">
            <p class="input_invoice" style="display:none"><input class="form-control" placeholder="请填写发票抬头" /></p>
            <p><button type="button" class="btn btn-danger">确 定</button></p>
            <p >提示：发票类型为纸质普通发票</p>
          </div>
		  
        </div>
      </div>
    </div>
  </section>
  <script>
	window.onload=function(){
		init();
		var radio_tips='';
	}
  
	init=function(){
		  	$('input[name="pay-radio"]:eq(0)').iCheck('check');
			radio_tips = $('input[name="pay-radio"]:eq(0)').attr('tabindex') 			 ? $('input[name="pay-radio"]:eq(0)').attr('tabindex') 		: null;				
	}
	$('input[name="pay-radio"]').on('ifChecked', function(event){
			radio_tips 	= ($(this).attr('tabindex'));
			if(radio_tips=='3'){
				$('.input_invoice').show();
			}else{
				$('.input_invoice').hide();
			}
	});
  
	$('.btn-danger').click(function(){
		if(radio_tips=='1'){
				radio_tips='暂不开具发票';
		}else if(radio_tips=='2'){
				radio_tips='开具个人发票';
		}else if(radio_tips=='3'){
			if($('.form-control').val()=="" || $('.form-control').val()==undefined || $('.form-control').val()==null){
				tan('请填写发票抬头！');return false;
			}else{
				radio_tips=$('.form-control').val();
			}
		}else{
			 tan('数据错误！');
		}
 
		if(radio_tips){
			setCookie('invoice_name',encodeURI(radio_tips));
			var uid	 	='<?php echo empty(C('uid'))   		? 0 : C('uid')?>';
			var token	='<?php echo empty(C('token')) 		? 0 : C('token')?>';
			var agent_id='<?php echo empty(C('agent_id')) 	? 0 : C('agent_id')?>';
			window.location.href="/Cart/Confirm_Cart?agent_id="+agent_id+"&uid="+uid+"&token="+token;
		}

	});
  
 

 
  </script>
  
  
</body>
</html>