<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet" href="__CSS__/public.css">
<link rel="stylesheet" href="__CSS__/main.css">
<link rel="stylesheet" href="__CSS__/user.css">
<link rel="stylesheet" href="__CSS__/aftersales.css">
<link href="__JS__/iCheck/skins/minimal/blue.css" rel="stylesheet">
<link href="__JS__/iCheck/skins/square/blue.css" rel="stylesheet">
<link href="__JS__/iCheck/skins/flat/blue.css" rel="stylesheet">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/user.js"></script>
<link rel="stylesheet" href="__CSS__/cart.css">
<script src="__JS__/iCheck/jquery.icheck.js"></script>
<script src="__JS__/icheck-init.js"></script>
<script type="text/javascript" src="__JS__/fuelux/js/spinner.min.js"></script>
<script src="__JS__/spinner-init.js"></script>
<script src="__JS__/layer-mobile/layer.js"></script>
<title>正在跳转中</title> 
</head>



[ 1=>
 ['id'= 1,
  ],3=>['id'=>3]
  ]



<style>
  .content { width: 300px; height: 140px; text-align: center; position: fixed; top: 25%; left: 50%; margin-left: -150px;}
  .content h4 { font-size: 1.5rem;}
  .syt { position: fixed; bottom: 0; left: 0;}
</style>
<body>
  <div class="content">
    <h4>正在跳转支付宝中</h4>
    <p><img src="__IMG__/loading.gif" alt=""></p>
  </div>
  <footer>
    <div class="syt">
      <div class="prompt">
        <p class="title">温馨提示：</p>
        <small class="hs">如果您选择线下转账付款，请在转完后保留凭证，拍照或截图上传，如果帮助请联系客服 <a href="tel:0755-68451124">0755-68451124</a>，选择在线支付无需上传凭证。</small>
      </div>
    </div>
  </footer>
  {$html_text}
</body>
</html>