<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>配送方式</title>
</head>
<body>
<div class="page-main">
    <div class="subMenu">
        <h3>当前操作：配送方式</h3>
        <ul>
            <volist name="menuList[7]['sub']" id="vo">
                <li class="<eq name="currentUrl" value="$vo['url']">active</eq>"><a href="{:U($vo['url'])}" >{$vo.menu_name}</a></li>
            </volist>
        </ul>
    </div>
    <table class="listTbl" border="1" bordercolor="#000" cellspacing="0px" style="border-collapse:collapse">
        <tr class="top">
            <th width="8%">配送方式ID</th>
            <th>配送方式名称</th>
            <th>配送方式备注</th>
            <th>操作</th>
        </tr>
        <volist name="deliModeList" id="vo" mod="2">
          <tr class="{$mod?'bg2':'bg1'}">
            <td>{$vo.mode_id}</td>
            <td>{$vo.mode_name}</td>
            <td>{$vo.mode_note}</td>
            <td>
              <a href="{:U('Admin/System/deliveryInfo?mode_id='.$vo['mode_id'])}" >修改</a>
            </td>
          </tr>
        </volist>
    </table>
</div>
</body>
</html>
