<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>load</title>
</head>
<style>
	body { color: #333; font-family: "微软雅黑";}
	table { max-width: 90%; min-width: 90%; text-align: center; margin: 0 auto; border: 1px solid #ccc;}
	table th, table td { border-bottom: 1px solid #ccc; padding: 8px 5px;}
	table td:last-child { border-bottom: none;}
</style>
<body>
	<table>
		<thead>
			<tr>
				<th>网络错误</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>无法请求数据，请检查网络是否正常!</td>
			</tr>
			<tr>
				<td>
					<button onclick="window.location.reload();">重新加载</button>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>