<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>速易宝-祼钻定制</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-1.12.3.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/public.js"></script>
</head>

<body>

	<!-- header -->
	<div class="header">
		<div class="container">
			<div class="shortcut hidden-xs">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6 col-md-6">
							<p class="text-left">您好，欢迎来到Munch珠宝 [<a href="#">登录</a>] [<a href="#">注册</a>]</p>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="shortcut-right">
								<ul class="list-inline text-right">
									<li class=""><a href="#">购物车(<span class="cat-c">2件</span>)</a></li>
									<li class="">|</li>
									<li class=""><a href="#">我的订单</a></li>
									<li class="">|</li>
									<li class=""><a href="#">帮助中心</a></li>
								</ul>   
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="top">
				<div class="logo">
						<div class="col-xs-12 col-sm-6 col-md-7 text-right">
							<img src="images/logo.png" alt="logo">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-5">
							<form class="navbar-left pull-right">
								<div class="form-group">
									<div class="input-group">
									      <input type="text" class="form-control search-text radius" placeholder="产品搜索">
									      <span class="input-group-btn">
									        <button type="submit" class="btn btn-default search-btn radius"><i class="glyphicon glyphicon-search"></i></button>
									      </span>
									</div>
									<div class="tag">
										热搜：
										<a href="#">裸钻</a>
										<a href="#">钻石</a>
										<a href="#">对接</a>
										<a href="#">女戒</a>
										<a href="#">男戒</a>
										<a href="#">女戒</a>
									</div>
								</div>
							</form>
						</div>
						<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="nav">
			<nav class="navbar navbar-default border-radiusno">
				<div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand hidden" href="#">LOGO</a>
				    </div>

				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav center-nav">
				        <li><a href="#">首页 <span class="sr-only">(current)</span></a></li>
				        <li class="active"><a href="#">钻石定制</a></li>
				        <li><a href="#">商城热卖</a></li>
				        <li><a href="#">品牌系列街</a></li>
				        <li><a href="#">珠宝资讯</a></li>
				      </ul>
				      <!-- <form class="navbar-form navbar-left" role="search">
				        <div class="form-group">
				          <input type="text" class="form-control" placeholder="Search">
				        </div>
				        <button type="submit" class="btn btn-default">Submit</button>
				      </form> -->
				    </div><!-- /.container-fluid -->
				</div>
			</nav>
		</div>
	</div>
	<!-- header end //-->
	
	<!-- diamond -->
	<div class="mallhot diamond">
		<div class="container">

			<div class="path">
				<ol class="breadcrumb">
					当前位置：
				  <li><a href="#">首页</a></li>
				  <li class="active">祼钻定制</li>
				</ol>
			</div>

			<div class="select-tab">
				<h3 class="text-center">
					<div class="col-md-12">
						<span class="select-tab-left tabactive">
							挑选祼钻 <span class="caret"></span>
						</span>
						<span class="hidden-xs">|</span>
						<span class="select-tab-right">
							挑选戒托 <span class=""></span>
						</span>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</h3>
			</div>

			<div class="diamond-banner">
				<a href="#"><img src="images/diamond_03.jpg" alt=""></a>
			</div>

			<div class="diamond-para">
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default border-radiusno margin-bottom-no">
							<div class="panel-heading">
								<h5 class="pull-left"><strong>选择钻石</strong></h5>
								<button class="btn btn-warning border-radiusno pull-right">清空己选条件</button>
								<div class="clearfix"></div>
							</div>
							<div class="panel-body">
								<div id="gmap-street-view">
									<div class="col-md-12"> 
										<div class="diamond-list">
												<strong>形状</strong>
												<a href="#"><img src="images/101.gif" alt=""> <br> 圆形</a>
												<a href="#"><img src="images/102.gif" alt=""> <br> 椭圆</a>
												<a href="#"><img src="images/103.gif" alt=""> <br> 马眼</a>
												<a href="#"><img src="images/104.gif" alt=""> <br> 心形</a>
												<a href="#"><img src="images/105.gif" alt=""> <br> 水滴</a>
												<a href="#"><img src="images/106.gif" alt=""> <br> 方形</a>
												<a href="#"><img src="images/107.gif" alt=""> <br> 祖母绿</a>
												<a href="#"><img src="images/108.gif" alt=""> <br> 枕形</a>
												<a href="#"><img src="images/109.gif" alt=""> <br> 蕾蒂恩</a>
												<a href="#"><img src="images/111.gif" alt=""> <br> 梯方</a>
											</div>
										</div>
										<div class="col-md-6">
											<div class="diamond-listbox">
												<div class="row">
													<div class="col-md-12">
														<strong>钻重</strong>
														<span class="d-list w1">
															<a href="#">0.30-0.49CT</a> <a href="#">0.50-0.79CT</a> 
															<a href="#">0.80-0.99CT</a> <a href="#">1克拉以上</a>
															<a href="#">自定义</a>
														</span>
													</div>
													<div class="col-md-12">
														<strong>价格</strong>
														<span class="d-list w2">
															<a href="#">2000-4999</a> <a href="#">5000-7999</a> 
															<a href="#">8000-9999</a> <a href="#">1万以上</a>
															<a href="#">自定义</a>
														</span>
													</div>
													<div class="col-md-12">
														<strong>颜色</strong>
														<span class="d-list w3">
															<a href="#">D</a> <a href="#">E</a> 
															<a href="#">F</a> <a href="#">G</a>
															<a href="#">G</a> <a href="#">H</a>
															<a href="#">I</a> <a href="#">J</a>
															<a href="#">K</a>
														</span>
													</div>
													<div class="col-md-12">
														<strong>净度</strong>
														<span class="d-list w4">
															<a href="#">FI</a> <a href="#">IF</a> 
															<a href="#">VVS1</a> <a href="#">VVS2</a>
															<a href="#">VS1</a> <a href="#">VS2</a>
															<a href="#">SI1</a> <a href="#">SI2</a>
														</span>
													</div>
													<div class="col-md-12">
														<strong>来源</strong>
														<span class="d-list w5">
															<a href="#">现货</a> <a href="#">订货</a> 
															<a href="#">无证书货</a>
														</span>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="diamond-listbox">
												<div class="row">
													<div class="col-md-12">
														<strong>切工</strong>
														<span class="d-list w6">
															<a href="#">Ideal</a> <a href="#">EX</a> 
															<a href="#">VG</a> <a href="#">GOOD</a>
															<a href="#">Fair</a>
														</span>
													</div>
													<div class="col-md-12">
														<strong>荧光</strong>
														<span class="d-list w7">
															<a href="#">M</a> <a href="#">F</a> 
															<a href="#">N</a> <a href="#">S</a>
															<a href="#">VS</a>
														</span>
													</div>
													<div class="col-md-12">
														<strong>抛光</strong>
														<span class="d-list w8">
															<a href="#">Ideal</a> <a href="#">EX</a> 
															<a href="#">VG</a> <a href="#">GOOD</a>
															<a href="#">Fair</a>
														</span>
													</div>
													<div class="col-md-12">
														<strong>对称</strong>
														<span class="d-list w9">
															<a href="#">Ideal</a> <a href="#">EX</a> 
															<a href="#">VG</a> <a href="#">GOOD</a>
															<a href="#">Fair</a>
														</span>
													</div>
													<div class="col-md-12">
														<strong>证书</strong>
														<span class="d-list w10">
															<a href="#">GIA</a> <a href="#">NGTC</a> 
															<a href="#">IGI</a>
														</span>
													</div>
													<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="datalist">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default border-radiusno">
							<div class="panel-heading">
								<h5 class="pull-left"><strong>共找到15090颗钻石供您挑选</strong></h5>	
								<button class="btn btn-warning border-radiusno pull-right">购物车（0）</button>
								<div class="clearfix"></div>
							</div>
							<div class="panel-body">
								<div id="gmap-street-view">
									<div class="table-responsive">
								      <table class="table table-bordered">
								        <thead>
								          	<tr>
									            <th>详细</th>
									            <th>来源</th>
									            <th>形状</th>
									            <th>证书</th>
									            <th>编号</th>
									            <th>钻重</th>
									            <th>颜色</th>
									            <th>净度</th>
									            <th>切工</th>
									            <th>抛光</th>
									            <th>对称</th>
									            <th>荧光</th>
									            <th>全深比</th>
									            <th>台宽比</th>
									            <th>价格</th>
									            <th><input type="checkbox"></th>
									            <th><button class="btn btn-default btn-warning">批量购买</button></th>
									        </tr>
								        </thead>
								        <tbody>
									        <tr>
									            <th class="oper"><button class="diamond-btnimg"></button></th>
									            <td>深圳</td>
									            <td>其它</td>
									            <td>1189238199</td>
									            <td>FMD1</td>
									            <td>1.54</td>
									            <td>G</td>
									            <td>FL</td>
									            <td>EX</td>
									            <td>EX</td>
									            <td>EX</td>
									            <td>N</td>
									            <td>62.50</td>
									            <td>58.00</td>
									            <td class="red">￥1234215.3</td>
									            <td><input type="checkbox"></td>
									            <td><button class="btn btn-default btn-sm pull-left btn-warning">购买</button> <button class="btn btn-default btn-sm pull-right btn-warning">定制</button></td>
									        </tr>
								          	<tr>
									            <th class="oper"><button class="diamond-btnimg"></button></th>
									            <td>深圳</td>
									            <td>其它</td>
									            <td>1189238199</td>
									            <td>FMD1</td>
									            <td>1.54</td>
									            <td>G</td>
									            <td>FL</td>
									            <td>EX</td>
									            <td>EX</td>
									            <td>EX</td>
									            <td>N</td>
									            <td>62.50</td>
									            <td>58.00</td>
									            <td class="red">￥1234215.3</td>
									            <td><input type="checkbox"></td>
									            <td><button class="btn btn-default btn-sm pull-left btn-warning">购买</button> <button class="btn btn-default btn-sm pull-right btn-warning">定制</button></td>
									        </tr>
									        <tr>
									            <th class="oper"><button class="diamond-btnimg"></button></th>
									            <td>深圳</td>
									            <td>其它</td>
									            <td>1189238199</td>
									            <td>FMD1</td>
									            <td>1.54</td>
									            <td>G</td>
									            <td>FL</td>
									            <td>EX</td>
									            <td>EX</td>
									            <td>EX</td>
									            <td>N</td>
									            <td>62.50</td>
									            <td>58.00</td>
									            <td class="red">￥1234215.3</td>
									            <td><input type="checkbox"></td>
									            <td><button class="btn btn-default btn-sm pull-left btn-warning">购买</button> <button class="btn btn-default btn-sm pull-right btn-warning">定制</button></td>
									        </tr>
									        <tr>
									            <th class="oper"><button class="diamond-btnimg"></button></th>
									            <td>深圳</td>
									            <td>其它</td>
									            <td>1189238199</td>
									            <td>FMD1</td>
									            <td>1.54</td>
									            <td>G</td>
									            <td>FL</td>
									            <td>EX</td>
									            <td>EX</td>
									            <td>EX</td>
									            <td>N</td>
									            <td>62.50</td>
									            <td>58.00</td>
									            <td class="red">￥1234215.3</td>
									            <td><input type="checkbox"></td>
									            <td><button class="btn btn-default btn-sm pull-left btn-warning">购买</button> <button class="btn btn-default btn-sm pull-right btn-warning">定制</button></td>
									        </tr>
									        <tr>
									            <th class="oper"><button class="diamond-btnimg"></button></th>
									            <td>深圳</td>
									            <td>其它</td>
									            <td>1189238199</td>
									            <td>FMD1</td>
									            <td>1.54</td>
									            <td>G</td>
									            <td>FL</td>
									            <td>EX</td>
									            <td>EX</td>
									            <td>EX</td>
									            <td>N</td>
									            <td>62.50</td>
									            <td>58.00</td>
									            <td class="red">￥1234215.3</td>
									            <td><input type="checkbox"></td>
									            <td><button class="btn btn-default btn-sm pull-left btn-warning">购买</button> <button class="btn btn-default btn-sm pull-right btn-warning">定制</button></td>
									        </tr>
									        <tr>
									            <th class="oper"><button class="diamond-btnimg"></button></th>
									            <td>深圳</td>
									            <td>其它</td>
									            <td>1189238199</td>
									            <td>FMD1</td>
									            <td>1.54</td>
									            <td>G</td>
									            <td>FL</td>
									            <td>EX</td>
									            <td>EX</td>
									            <td>EX</td>
									            <td>N</td>
									            <td>62.50</td>
									            <td>58.00</td>
									            <td class="red">￥1234215.3</td>
									            <td><input type="checkbox"></td>
									            <td><button class="btn btn-default btn-sm pull-left btn-warning">购买</button> <button class="btn btn-default btn-sm pull-right btn-warning">定制</button></td>
									        </tr>
									        <tr>
									            <th class="oper"><button class="diamond-btnimg"></button></th>
									            <td>深圳</td>
									            <td>其它</td>
									            <td>1189238199</td>
									            <td>FMD1</td>
									            <td>1.54</td>
									            <td>G</td>
									            <td>FL</td>
									            <td>EX</td>
									            <td>EX</td>
									            <td>EX</td>
									            <td>N</td>
									            <td>62.50</td>
									            <td>58.00</td>
									            <td class="red">￥1234215.3</td>
									            <td><input type="checkbox"></td>
									            <td><button class="btn btn-default btn-sm pull-left btn-warning">购买</button> <button class="btn btn-default btn-sm pull-right btn-warning">定制</button></td>
									        </tr>
								        </tbody>
								      </table>
								    </div>

								</div>
							</div>
							<div class="pages text-center">
								<nav>
									
									<ul class="pagination">
										<strong class="pagination pull-left" style="margin-top: 8px; margin-right: 5px;">15090条记录 1/1509页</strong>
										<li>
										  <a href="#" aria-label="Previous">
										    <span aria-hidden="true">上一页</span>
										  </a>
										</li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">下5页</a></li>
										<li>
											<a href="#" aria-label="Next">
												<span aria-hidden="true">最后一页</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- diamond end //-->

	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="ensure center-block text-center">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-5ths"><img src="images/index_86.png" alt="...">一钻双证</div>
					<div class="col-xs-12 col-sm-4 col-md-5ths"><img src="images/index_88.png" alt="...">全国免费配送</div>
					<div class="col-xs-12 col-sm-4 col-md-5ths"><img src="images/index_90.png" alt="...">珠宝协会会员</div>
					<div class="col-xs-12 col-sm-6 col-md-5ths"><img src="images/index_93.png" alt="...">15天免费退换</div>
					<div class="col-xs-12 col-sm-6 col-md-5ths"><img src="images/index_95.png" alt="...">全程保险</div>
				</div>
			</div>
		</div>
		
		<div class="foot-desc">
			<div class="container">
				<div class="row foot-desc-list">
					<div class="col-xs-12 col-md-2 footer-logo">
						<img src="images/logo.png" alt="">
					</div>
					<div class="col-xs-6 col-md-2">
						<h5>用户指南</h5>
						<ul class="list-group">
							<li><a href="#">注册用户</a></li>
							<li><a href="#">购买流程</a></li>
							<li><a href="#">支付方式</a></li>
						</ul>
					</div>
					<div class="col-xs-6 col-md-2">
						<h5>关于配送</h5>
						<ul class="list-group">
							<li><a href="#">商品包装</a></li>
							<li><a href="#">配送方式</a></li>
							<li><a href="#">配送流程</a></li>
						</ul>
					</div>
					<div class="col-xs-6 col-md-2">
						<h5>售后服务</h5>
						<ul class="list-group">
							<li><a href="#">会员细节</a></li>
							<li><a href="#">售后保障</a></li>
							<li><a href="#">退换流程</a></li>
						</ul>
					</div>
					<div class="col-xs-6 col-md-2">
						<h5>常见问题</h5>
						<ul class="list-group">
							<li><a href="#">珠宝常识</a></li>
							<li><a href="#">配送问题</a></li>
							<li><a href="#">联系客服</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-2 gstime">
						<img src="images/footer-phone.png" alt="">
						<strong><h4>0755-22922183</h4></strong>
						<span>服务时间： AM9: 00-PM23: 00</span>
					</div>
				</div>
			</div>
			<div class="copyright">
				<p class="copy-link">伪验证   友情链接        钻石、钻戒、裸钻、婚戒、戒指、结婚钻戒、结婚戒指、钻石戒指、珠宝、首饰、订婚戒指、克拉钻、异形钻、30分钻石、50分钻石、钻石饰品、裸钻定制</p>
				<p class="text-center">© 2010-2016 珠宝官网 版权所有,并保留所有权利  粤ICP备123456789号</p>
			</div>
		</div>
	</div>
	<!-- footer end //-->


</body>
</html>