<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>散货数据书货</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/admin.css" />
	</head>
	<body>
		<div class="goods page-main">
			<div class="subMenu">
				<h3>当前操作：散货数据导入</h3>
			</div>
			<div class="uploadData">
				<h3>散货数据导入</h3>
				<div class="info">
					<div class="title">上传数据包</div>
					<form id="uploadData" enctype="multipart/form-data" action="#" method="POST" class="upload">
						<input name="excelData" type="file" />
						<input type="submit" value="上传" />
					</form>
					<div class="clear"></div>
				</div>
				<div class="info">
					<div class="title">&nbsp;</div>
					<div class="UPcontent">
						<div>
							<p><big>☆：</big>上传的格式必须为xsl或xlsx格式。转换步奏： (检验部数据不需要)</p>
							<p><big>☆：</big>如果导入的数据不正确，或者报错，请检查您上传表格的列是否正确。<a href="__PUBLIC__/Uploads/sanhuo/散货导入模板.xls">
							<p><big>☆：</big>价格为0，散货编号为空，则会跳过该条数据，点击此行字即可下载散货导入模版。</p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>