<include file="Public:header" />
<!--导航-->
<div class="am-g ">
	<!-- <include file="Public:search" /> -->
	<!--内容-->
	<div class="wrap">
		<!-- Header -->
		<header data-am-widget="header" class="am-header am-serch cat">
			<div class="am-header-left am-header-nav">
				<a href="javascript:;" onclick="javascript:history.go(-1);" class="">
					<img class="am-header-icon-custom" src="__ASS__/Img/search_01.png" alt=""/>
				</a>
			</div>
			<h1 class="am-header-title">
				最新资讯
			</h1>
		</header>
		<p style="clear:both"></p>
		<hr class="article">
		<article class="am-article article">
				<?php if($info['art_mode']=='0'):?>
					<div class="am-article-hd">
						<h4 class="am-article-title">{$info.title}</h4>
						<p class="am-article-meta">时间：{$info.addtime|date="Y/m/d H:i:s",###}来源：{:C('site_name')}</p>
						<!--<img src="images/news-bg_03.jpg" alt="活动内容">-->
					</div>				
				<?php endif;?>
			<div class="am-article-bd">{$info.content|htmlspecialchars_decode}</div>
			<br>
		</article>
	</div>
</div>
<!--底部-->
<include file="Public:footer" />
