@charset "utf-8";
/* CSS Document */

/* pubilc */
a,a:hover { text-decoration: none;}
.clear { clear: both;}
.panel-default { border-left: none; border-right: none;}
.blue { color: #4C79D2;}
.pull-left { position: absolute; left: 0.5em;}
header .pull-right { right: 0.5em;}
.red { color: red;}
.panel { margin-bottom: 1em !important;}
.border-none { border: none;}

body { font-family: "微软雅黑",Microsoft Yahei Bold,DroidSans-Bold,DroidSansFallback,Heiti SC;}

/* user */
.pull-right-img { width: 2em;}
.border-radius-none { border-radius: initial;;}
.username { box-shadow: none; padding-top: 0.8em; padding-bottom: 0.5em;}
.username img { width: 3em; margin-right: 0.5em;}
.username .list-img { width: 0.5em; float: right; margin-top: 1.1em;}
.usbox { padding-top: 0; padding-bottom: 0;}
.usbox ul li,.username ul li:hover { cursor: pointer;}
.usbox ul li { border-bottom: 1px solid #DADADC; padding: 1em 0;}
.usbox ul li:last-child { border-bottom: none;}
.usbox img { width: 1.2em; vertical-align: bottom;}
.usbox .list-img { margin-top: 0.3em;}
.exit-button { width: 100%; background: #4073F4;}
.fxs { min-height: 15em;}

/* user-message */
.message-main { padding-top: 1em;}
.user-message-header .pull-right { text-decoration: none;}
.padding-10 { padding-top: 0px; padding-bottom: 0px;}
.message-list:hover,.message-delete:hover { cursor: pointer;}
.message-list small { color: #000; float: right; line-height: 1.5em; padding-right: 0.5em;}
.message-list h5 { width: 100%; float: left; padding-left: 1em; line-height: 1.4em;}
.message-delete { width: 0; height: 2.8em; display: none; line-height: 2.8em; background: #5E8AF9; float: right; color: #FFF;}

/* user-info */
.user-info { padding: 1em 0 1.5em 0;}
.user-info .una { float: right; color: #8A8A8A; text-align: right;}
.inputval { border: none; float: right; margin: 0 0.5em;}
.lie,.lie input { height: 0;}
.lie input { border: none;}

/* user-info-sex */
.user-info-sex-ul { margin-bottom: 0;}

/* user-address */
.user-address-list { margin-bottom: 0.5em;}
.contleft { width: 70%; max-height: 100%; overflow: hidden; float: left;}
.contleft span { margin-left: 2px; font-size: 12px;}
.contright { width: 30%; font-size: 10px; max-height: 100%; overflow: hidden; float: right; line-height: 37px;}
.contright span { float: right;}
.contright img { width: 2em; position:relative; top:25%; transform:translateY(-50%); margin: 0;}

/* user-edit-address */
.user-edit-address { margin-top: 0.5em;}
.user-edit-address input,.user-info input { text-align: right;}
.user-edit-address input[type="text"],.user-info input[type="text"]{ width: 100%; height: 2em; border: none; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.user-info .inputval { width: auto !important; height: auto !important;}
.user-edit-address .una,.user-info .una { width: 50%;}
.user-edit-address .una .bz { color: #C6C6C6;}
.select-box { width: 50%; float: right; text-align: right;}
.select-box .select-form { width: 33.3%; float: left; border: none; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}
.select-box .select-form select option { text-align: right;}
.user-edit-address select { direction: rtl;}
.user-edit-address select option { direction: ltr;}
.user-edit-address .checkbox { margin-top: 0;}
.user-edit-address .una-checkbox { float: right;}

/* user-password */
.user-password .col-sm-12 { margin-bottom: 1em;}
.user-password .exit-button { margin-top: 0.5em;}
.user-password .user-edit-address input, .user-info input { text-align: right;}
.user-password #form_1 input { text-align: left;}

/* user-order-empty */
.user-order-empty li a { color: #2B2C37 !important;} 
.user-order-empty .active { border-bottom: 2px solid #568DF2;}
.user-order-empty .active a { color: #5482D7 !important;}

/* user-order-waitpay */
.user-order-waitpay { margin-bottom: 0.5em; min-height: auto;}
.order-search .input-group-addon { background: #FFF; border-color: #D2D2D4; color: #8F8F8F;}
.order-search .form-control { border-left: none;}
.order-search .btn-sub { border-right: none; background: #FFF; color: #929292;}
.order-search .form-control { border-color: #D2D2D4;}
.order-search .form-control:focus { border-color: #66afe9;}
.search-box { padding: 0 1em;}
.search-box .form-group { margin-bottom: 0.5em;}
.order-list .panel-body { padding: 0.5em !important;}
.order-list .col-xs-12 { padding: 0;}
.order-list .col-xs-12 h6 { margin: 0;}
.order-list .panel-heading { background: none;}
.order-list .spimg { width: 70%; height: 4.5em; overflow: hidden; float: left;}
.order-list .spimg ul li { float: left; margin: 0 0.2em;}
.order-list .spimg ul li img { width: 3.5em;}
.order-list .spsum { font-size: 0.8em; width: 30%; line-height: 8em; float: right; text-align: right;}
.order-list .btn-pad { padding: 2px 12px;}
.order-list .panel { margin-bottom: 1em;}

/* user-order-detail */
.user-order-detail { padding-top: 0;}
.user-order-detail .username>h5 { border-bottom: 1px solid #EEEEEF; padding: 0.5em; margin-bottom: 0;}
.user-order-detail .username p { padding: 0 0.5em;}
.user-order-pad { padding: 1em 0; padding-top: 0;}
.user-order-detail .font-1em { font-size: 1.5em;}
.order-detail-list ul li { padding-bottom: 0;}
.order-detail-list ul li img { width: 3.5em;} 
.order-detail-list .fleft { float: left;}
.order-detail-list .orderimgl { float: left;}
.order-detail-list .titleright { line-height: 2.3em;}
.order-detail-list .rmb { color: #4074D3;}
.order-detail-list .sum { float: right;}
.order-detail-list .gdsp { line-height: 1.2em; cursor: pointer; border-top: 1px solid #E0E0E1; padding-top: 0.8em !important;}
.order-detail-list .gdsp img { max-width: 100%;}
.order-detail-list .user-order-detail-more {}
.order-settlement ul li { border-bottom: none; padding: 0.5em 0;}
.to-payment { margin-top: 1.5em;}

/* user-order-payment */
.user-order-payment { padding-top: 0; margin-top: 1em;}
.user-order-payment .zffs { margin-bottom: 0;}
.user-order-payment h5 { font-weight: bold;}
.user-order-payment p { color: #616161;}

/* join_distribution */
.join_distribution span.pull-right { width: 50%;}
.join_distribution span.pull-right input { /* width: 100%; */ border: none;}
.join_distribution .panel-body { padding-top: 0; padding-bottom: 0;}
.join_distribution h6 { color: #212121;}
.join_distribution select { direction: rtl; font-size: 0.9em;}
.join_distribution select option { direction: ltr;}