<block name="header">
    <include file=".:Base:layout_header" />
</block>
<block name="body">
 <style>
    .query-main { background: url('/Application/Home/View/b2c/Styles/Img/diamond_para_bg.jpg'); padding: 50px 0; line-height: 25px; color: #000;}
    .query-main .container { max-width: 950px;}
    .query-main .container button { padding: 5px 20px;}
    .query-main .gia-input { width: 85%; margin-left: 5px;}
    .query-main .pullleft { margin-right: 15px; float: left; line-height: 35px; font-size: 14px;}
    .query-main .h3title { font-weight: bold; font-size: 16px; color: #000;}
    .query-main .selectbox { margin-top: 20px;}
    .query-main .pullleft img { border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; width: 50px; height: 50px;}
    .query-main .twocol { float: left;}
    .query-main .twocol .form-control { width: 70%;}
  </style>
  <div class="certificate-query">
    <div class="query-main">
      <div class="container">
        <div class="selectbox">
		<form action="{:U('Home/Search/detail')}" method="get">

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <span class="pullleft"><img src="__IMG__/GIA-icon.png" alt=""></span>
                  <span class="h3title">GIA证书查询</span><br> GIA Report Check
                </div>
                <div class="col-md-7 col-sm-10 col-xs-12">
                  <span class="pullleft">证书号:</span>
                  <input type="text" class="form-control gia-input" name="zs_id">
				  <input type="hidden" value="0" name="zs_weight" />
				  <input type="hidden" value="1" name="zs_type" />
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <button class="btn btn-warning">查询</button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
		  </form>
        </div>
        <div class="selectbox">
		      <form action="{:U('Home/Search/detail')}" method="get">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <span class="pullleft"><img src="__IMG__/IGI-icon.png" alt=""></span>
                  <span class="h3title">IGI证书查询</span><br> IGI Report Check
                </div>
                <div class="col-md-7 col-sm-10 col-xs-12">
                  <div class="twocol col-md-6 col-xs-12">
                    <span class="pullleft">证书号:</span>
                    <input type="text" class="form-control gia-input" name="zs_id">
					<input type="hidden" value="2" name="zs_type" />
                  </div>
                  <div class="twocol col-md-6 col-xs-12">
                    <span class="pullleft">钻&nbsp;&nbsp;&nbsp;重:</span>
                    <input type="text" class="form-control gia-input" name="zs_weight">
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <button class="btn btn-warning">查询</button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
		  </form>
        </div>
        <div class="selectbox">
		      <form action="{:U('Home/Search/detail')}" method="get">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <span class="pullleft"><img src="__IMG__/HRD-icon.png" alt=""></span>
                  <span class="h3title">HRD证书查询</span><br> HRD Report Check
                </div>
                <div class="col-md-7 col-sm-10 col-xs-12">
                  <div class="twocol col-md-6 col-xs-12">
                    <span class="pullleft">证书号:</span>
                    <input type="text" class="form-control gia-input" name="zs_id">
					<input type="hidden" value="3" name="zs_type" />
                  </div>
                  <div class="twocol col-md-6 col-xs-12">
                    <span class="pullleft">钻&nbsp;&nbsp;&nbsp;重:</span>
                    <input type="text" class="form-control gia-input" name="zs_weight">
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <button class="btn btn-warning">查询</button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
		  </form>
        </div>
        <div class="selectbox">
		  <form action="{:U('Home/Search/detail')}" method="get">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <span class="pullleft"><img src="__IMG__/NGTC-icon.png" alt=""></span>
                  <span class="h3title">NGTC证书查询</span><br> NGTC Report Check
                </div>
                <div class="col-md-7 col-sm-10 col-xs-12">
                  <div class="twocol col-md-6 col-xs-12">
                    <span class="pullleft">证书号:</span>
                    <input type="text" class="form-control gia-input" name="zs_id">
					<input type="hidden" value="4" name="zs_type" />
                  </div>
                  <div class="twocol col-md-6 col-xs-12">
                    <span class="pullleft">防伪码:</span>
                    <input type="text" class="form-control gia-input" placeholder="L91A">
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <button class="btn btn-warning">查询</button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
		  </form>
        </div>
      </div>
    </div>
  </div>
  </block>
  <block name="footer">
      <include file=".:Base:layout_footer" />
  </block>
