<!-- user -->
<div class="user">
	<div class="container">
		<div class="path">
			<ol class="breadcrumb">
				当前位置：
			  <li><a href="/">首页</a></li>
			  <li><a href="{:U('/Home/User/index')}">个人中心</a></li>
			  <li class="active">账户安全</li>
			</ol>
		</div>

		<div class="userdata">
			<div class="row">
				<include file=".:Com:b2c:user:user_left" />
				<div class="col-md-9">
					<include file=".:Com:b2c:user:user_update_password" />
				</div>
			</div>
		</div>
	</div>
</div>
<!-- user end //-->
