<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-修改密码</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/user.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script>
	<script type="text/javascript" src="__JS__/common.js"></script>
	<script src="__JS__/user.js"></script>
	<script src="__JS__/common.js"></script>
	<script src="__JS__/layer-mobile/layer.js"></script> 

</head>
<body class="wrap-bg">
	<!-- Header -->
	<header class="header text-center">
    	修改密码
        <a href="/user/" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </header>
    <!-- Header END //-->

	<!-- Main -->
    <div class="container-fluid user-info user-password">
		<form name="form_1" id="form_1">
			<div class="form-group">
			    <div class="col-sm-12">
			      <input type="password" class="form-control" name="old_password" id="old_password" placeholder="请输入旧密码">
			    </div>
			    <div class="col-sm-12">
			      <input type="password" class="form-control" name="new_password" id="new_password" placeholder="请输入新密码">
			    </div>
			    <div class="col-sm-12">
			      <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="请再次输入新密码">
			    </div>
			    <div class="col-sm-12">
			    	<button type="button" id="btn_save" class="btn btn-primary exit-button">确认修改</button>
			    </div>
			</div>
		</form>
	</div>
    <!-- Main END //-->
<script type="text/javascript">
	//修改密码
	$("#btn_save").click(function(){
		if($('#old_password').val()==''){
			layer.open({content: '请输入原始密码', time: 2}); 
			$('#old_password').focus();
			return false;
		}
		if($('#new_password').val()==''){
			layer.open({content: '请输入新密码', time: 2}); 
			$('#new_password').focus();
			return false;
		}
		if($('#new_password').val() != $('#confirm_password').val()){
			layer.open({content: '两次输入密码不一致', time: 2}); 
			$('#confirm_password').focus();
			return false;
		}

		$.ajax({
			url:"/user/password.html",
			type: 'POST',
			data: $('#form_1').serialize(),
			success: function(d){
				if(d.ret==100){
					layer.open({content: d.msg+"，帐号即将退出，请重新登录", time: 2}); 
					setTimeout("window.location.href='/user'",2000);
					//$('#form_1')[0].reset();
				}else{
					layer.open({content: d.msg, time: 2}); 
				}
			}
		});
	});
</script>
</body>
</html>