<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>友情链接管理</title>
</head>
<body>
<div class="page-main edit">
    <div class="subMenu">
        <h3>当前操作：友情链接列表</h3>
        <ul>
        	<li><a href="{:U('Admin/Links/index')}" >链接列表</a></li>
			<li class="active"><a href="{:U('Admin/Links/add')}" >编辑链接</a></li>
        </ul>
    </div>
    <php>$status=array("1"=>"显示","0"=>"隐藏");</php>
    <form name="addLink" action="{:U('Admin/Links/edit_post')}" method="post">   
    <div style="padding:10px 20px;"> 
    	<div class="info"><div class="title">链接名称：</div><input type="text" value="{$link_name}" name="link_name"/></div>  
    	<div class="info"><div class="title">链接地址：</div><input type="text" value="{$link_url}" name="link_url"/></div>  
    	<div class="info"><div class="title">打开方式：</div>
    	<select name="link_target" class="normal_select">
			<foreach name="targets" item="vo">
			<php>$link_target_selected=$link_target==$key?"selected='selected'":"";</php>
			<option value="{$key}" {$link_target_selected}>{$vo}</option>
			</foreach>
		</select>
		</div>  
		<input type="hidden" class="input" name="link_id" value="{$link_id}">
    	<div class="info"><div class="title">描述：</div><textarea name="link_description">{$link_description}</textarea></div>  
    	<div class="info"><div class="title">状态：</div><select name="link_status" class="normal_select">
			<foreach name="status" item="vo">
			<php>$status_selected=$link_status==$key?"selected='selected'":"";</php>
			<option value="{$key}" {$status_selected}>{$vo}</option>
			</foreach>
		</select></div>  
    	<div class="info"><div class="title">&nbsp;</div><input class="button" type="submit" value="更新" /></div>
    </div>
    </form> 
</div>
</body>
</html>