{__NOLAYOUT__}
<include file="Public:header_cat" />
	<!-- cart -->
	<div class="cart">
		<div class="cart-confirm">
			<div class="container">
				<div class="media">
				  <div class="media-left media-middle" style="min-width: 72px; vertical-align: top;">
				    <a href="#">
				      <img class="media-object" src="__IMG__/successful_03.png" alt="">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">支付成功！</h4>
				    <p>您成功支付了，请等待商家发货...</p>
				    <p><a class="btn btn-default" href="/Home/User/odeta/orderid/{$order_id}">查看订单</a> &nbsp;&nbsp; <a class="btn btn-default" href="/"> 返回首页 </a></p>
				  </div>
				</div>
				<p class="text-center">如果您在交易过程中遇到任何问题, 请拨打我们400电话或是直接在用户中心给我们留言. <strong class="red">服务热线：{:C('site_contact')}</strong></p>
			</div>
		</div>
	</div>
	<!-- cart end //-->
<include file="Public:footer" />