<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/product.css">
<title>品牌系列</title>
</head>

<body class="wrap-bg">
	<!--头部-->
    <header class="header text-center sort-head">
        <a href="product.html" class="">产品分类</a>
        <a href="brand.html" class="">品牌系列</a>
    </header>
    <!--内容-->
    <div class="container wrap">
    	<div class="row">
        	<!--搜索-->
                <div class="col-lg-12 search">
                    <div class="input-group">
                    	<span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        <input type="text" class="form-control" placeholder="编号、名称、系列">
                    </div>
                </div>
           <!--系列列表-->
            <div class="brand">
            	<ul>
                	<li><a href="#">经典系列</a></li>
                    <li><a href="#">邂逅系列</a></li>
                    <li><a href="#">璀璨系列</a></li>
                    <li><a href="#">匠心系列</a></li>
                    <li><a href="#">真爱系列</a></li>
                    <li><a href="#">瑰丽系列</a></li>
                    <li><a href="#">天然彩宝系列</a></li>
                    <li><a href="#">天然翡翠系列</a></li>
                    <li><a href="#">天然冰种系列</a></li>
                    <li><a href="#">精品钻石系列</a></li>
                </ul>
            </div>
    
    
   		</div>
	</div>
    <!--底部-->
    <footer class="footer">
    	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
              <ul class="nav">
                 <li><a href="#"><i class="glyphicon glyphicon-home"></i>首页</a></li>
                 <li class="active"><a href="#"><i class="glyphicon glyphicon-list"></i>分类</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-globe"></i>珠宝资讯</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i>购物车</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-user"></i>个人</a></li> 
              </ul>
		</nav>
    </footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
