<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>提交订单-成功</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/user.css">
	<link rel="stylesheet" href="css/cart.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</head>
<body>
	<!-- Header -->
	<header class="header text-center">
    	提交订单
        <a href="javascript:;" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </header>
    <!-- Header END //-->

	<!-- Main -->
	<div class="container wrap cart-submit-order-successful">
    	<div class="empty">
    		<div class="row">
    			<div class="col-xs-12">
    				<p><img src="img/cuss_03.png" alt="" class="cussimg"><strong>己提交成功！</strong></p>
    			</div>
    			<div class="col-xs-12">
    				<p>订单总额：<span class="red">￥12500.00</span></p>
    			</div>
    			<div class="col-xs-12 col-md-offset-5">
    				<div class="succebox">
		            	<p class="text-left">支付方式：</p>
						<p class="text-left">您可以联系公司财务，完成线下转账支付</p>
						<p class="text-left">电话：13888888888 &nbsp; 0755-11111111</p>
			            <p class="text-left">提示：</p>
						<p class="text-left">可在“个人中心”我的订单管理 查看订单信息</p>
		            </div>
    			</div>
    			<div class="col-xs-12">
    				<p><a href="" class="blue">去看看</a></p>
    			</div>
    		</div>
   		</div>
	</div>
    <!-- Main END //-->

</body>
</html>