<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link href="js/iCheck/skins/minimal/blue.css" rel="stylesheet">
<link href="js/iCheck/skins/square/blue.css" rel="stylesheet">
<link href="js/iCheck/skins/flat/blue.css" rel="stylesheet">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/cart.css">
<title>购物车-编辑</title>
</head>

<body class="wrap-bg">
	<!--头部-->
    <header class=" header text-center">
    	购物车
        <a href="#" class="pull-right">编辑</a>
    </header>
    <!--内容-->
    <div class="container wrap">
    	<div class="row cart">
        	<div class="media">
            	<div class="square-blue single-row pull-left">
                  <label>
                     <input type="checkbox">
                     <span class="fa fa-check"></span>
                  </label>
              </div>
               <a class="pull-left" href="#">
                  <img class="media-object" src="img/cart_01.jpg" alt="购物车" width="100">
               </a>
               <div class="media-body">
                  <h4 class="media-heading"><strong>钻石女戒指【空托】</strong><br><del>市场价：1203.11</del></h4>
                  	<p class="text-right text-muted">会员价：<big>¥1100.00</big></p>
                            <div class="form-group pull-left cart-btn">
                                <div id="spinner1">
                                    <div class="input-group" style="width:120px;">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn btn-default spinner-down">
                                                <i class="glyphicon glyphicon-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="spinner-input form-control form-input" maxlength="3">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn-default spinner-up">
                                                
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                             </div>
                     <p class="pull-right"><button class="btn btn-cart">匹配钻石</button></p>
            	</div>
				<div class="media">
					<div class="square-blue single-row pull-left" style="margin: 0px 10px">
	                      <label>
                           <input type="checkbox">
                           <span class="fa fa-check"></span>
                        </label>
	                   </div>
				         <a class="col-lg-10" href="#">
				            <img src="img/small-cart.jpg" width="40" ><img src="img/small-cart.jpg" width="40" ><img src="img/small-cart.jpg" width="40" >
				         </a>
				         <p class="text-muted pull-right">......共100件裸钻</p>
				         <div class="media-body">
				           <p class="text-right text-muted">会员价：<big>¥20046.18</big></p>
				    </div>
			    </div>

            </div>
            <div class="media">
            	<div class="square-blue single-row pull-left">
                    <label>
                       <input type="checkbox">
                       <span class="fa fa-check"></span>
                    </label>
               </div>
               <div class="media-body">
                  <h4 class="media-heading">【裸钻】 货品编号：FME6420</h4>
                  	<p class="text-muted"> GIA&nbsp;&nbsp;2214685824<br>0.3ct&nbsp;&nbsp;L色&nbsp;&nbsp;SI2净度&nbsp;&nbsp;EX切工</p>
                  	<div><p class="pull-left">×1</p><p class="text-right">粒单价：<big>¥1683.16</big></p></div>
               </div>
           </div>
           
           <div class="media">
            	<div class="square-blue single-row pull-left">
                    <label>
                       <input type="checkbox">
                       <span class="fa fa-check"></span>
                    </label>
               </div>
               <div class="media-body">
                  <h4 class="media-heading">【散货】 货号：03-08SAGH</h4>
                  	<p class="text-muted">1分以下&nbsp;&nbsp;库存55.144ct<span class="pull-right">每卡单价：32980.00</span><br>颜色GH  净度SI1-SI2  VG切工</p>
                  	<div><p class="pull-left"><input type="text" size="8" placeholder="1ct"></p><p class="text-right">现金小计：<big>¥32980.00</big></p></div>
               </div>
           </div>
           <div class="media">
            	<div class="square-blue single-row pull-left">
                      <label>
                         <input type="checkbox">
                         <span class="fa fa-check"></span>
                      </label>
                   </div>
               <a class="pull-left" href="#">
                  <img class="media-object" src="img/cart_01.jpg" alt="购物车" width="100">
               </a>
               <div class="media-body">
                  <h4 class="media-heading"><strong>钻石女戒指【空托】</strong><br><del>市场价：1203.11</del></h4>
                  	<br>
                            <div class="form-group pull-left cart-btn">
                                <div id="spinner3">
                                    <div class="input-group" style="width:120px;">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn btn-default spinner-down">
                                                <i class="glyphicon glyphicon-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="spinner-input form-control form-input" maxlength="3">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn-default spinner-up">
                                                
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                             </div>
                     <p class="pull-right"><big>¥32980.00</big></p>
            	</div>
            </div>

			<p class="text-center order-all">商品总价：<em>¥12980.00</em></p>


            <div class="cart-fixed">
            	<div class="square-blue single-row pull-left">
                      <div class="radio">
                         <label>
                             <input type="checkbox">
                             <span class="fa fa-check"></span>
                          </label>
                      </div>
                </div>	
                <label for="">全选</label>
                <span class="pull-right"><button type="button" class="btn btn-warning">删除</button></span>
            </div>
   		</div>
	</div>

    <!--底部-->
    <footer class="footer">
    	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
              <ul class="nav">
                 <li><a href="#"><i class="glyphicon glyphicon-home"></i>首页</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-list"></i>分类</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-globe"></i>珠宝资讯</a></li>
                 <li class="active"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i>购物车</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-user"></i>个人</a></li> 
              </ul>
		</nav>
    </footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/iCheck/jquery.icheck.js"></script>
<script src="js/icheck-init.js"></script>
<script type="text/javascript" src="js/fuelux/js/spinner.min.js"></script>
<script src="js/spinner-init.js"></script>
</body>
</html>
