<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link href="js/iCheck/skins/minimal/blue.css" rel="stylesheet">
<link href="js/iCheck/skins/square/blue.css" rel="stylesheet">
<link href="js/iCheck/skins/flat/blue.css" rel="stylesheet">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/cart.css">
<title>商品清单</title>
</head>

<body class="wrap-bg">
	<!--头部-->
    <header class=" header text-center">
    	  <a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
        商品清单
    </header>
    <!--内容-->
    <div class="container wrap">
    	<div class="row cart">
        	<div class="media">
              <a class="pull-left radius" href="#">
                  <img class="media-object" src="img/cart_01.jpg" alt="购物车" width="100">
               </a>
              <div class="media-body">
                <h4 class="media-heading">BeMyLove 邂逅系列 钻石对戒</h4>
                <br><br><br>
                <div class="">
                   <b>¥5644.00</b>
                  <span class="pull-right"><big>x1</big></span>
                </div>
              </div>
        </div>
        <div class="media">
              <a class="pull-left radius" href="#">
                  <img class="media-object" src="img/cart_01.jpg" alt="购物车" width="100">
              </a>
              <div class="media-body">
                <h4 class="media-heading">BeMyLove 邂逅系列 钻石对戒</h4>
                 <p class="text-muted">1分以下&nbsp;&nbsp;库存55.144ct<br>颜色GH  净度SI1-SI2  VG切工</p>
                <div class="">
                    <b>¥5644.00</b>
                  <span class="pull-right"><big>x1</big></span>
                </div>
              </div>
        </div>
        <div class="media">
              <a class="pull-left radius" href="#">
                  <img class="media-object" src="img/cart_01.jpg" alt="购物车" width="100">
              </a>
              <div class="media-body">
                <h4 class="media-heading">【散货】 货号：03-08SAGH</h4>
                 <p class="text-muted">1分以下&nbsp;&nbsp;库存55.144ct<br>颜色GH  净度SI1-SI2  VG切工</p>
                <div class="">
                    <b>¥5644.00</b>
                  <span class="pull-right"><big>x1</big></span>
                </div>
              </div>
        </div>
        <div class="media">
              <a class="pull-left radius" href="#">
                  <img class="media-object" src="img/cart_01.jpg" alt="购物车" width="100">
              </a>
              <div class="media-body">
                <h4 class="media-heading">天然翡翠戒指 天然冰种系列</h4>
                 <p class="text-muted">1分以下&nbsp;&nbsp;库存55.144ct<br>颜色GH  净度SI1-SI2  VG切工</p>
                <div class="">
                    <b>¥5644.00</b>
                  <span class="pull-right"><big>x1</big></span>
                </div>
              </div>
        </div>
        <div class="media">
              <a class="pull-left radius" href="#">
                  <img class="media-object" src="img/cart_01.jpg" alt="购物车" width="100">
              </a>
              <div class="media-body">
                <h4 class="media-heading">BeMyLove 邂逅系列 钻石对戒</h4>
                <br><br><br>
                <div class="">
                   <b> ¥5644.00</b>
                  <span class="pull-right"><big>x1</big></span>
                </div>
              </div>
        </div>
   		</div>
	</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/iCheck/jquery.icheck.js"></script>
<script src="js/icheck-init.js"></script>
<script type="text/javascript" src="js/fuelux/js/spinner.min.js"></script>
<script src="js/spinner-init.js"></script>
</body>
</html>
