<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/cart.css">
<title>空购物车</title>
</head>

<body>
	<!--头部-->
    <header class=" header text-center">
    	购物车
    </header>
    <!--内容-->
    <div class="container wrap">
    	<div class="empty">        	
            <img src="img/empty.png" alt="" width="120">
            <h3>您购物车还没有商品T.T</h3>
    		<p class="text-muted">快去挑点宝贝吧</p>
    		<a class="btn btn-lg btn-default">去逛逛</a>
    
   		</div>
	</div>
    <!--底部-->
    <footer class="footer">
    	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
              <ul class="nav">
                 <li><a href="#"><i class="glyphicon glyphicon-home"></i>首页</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-list"></i>分类</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-globe"></i>珠宝资讯</a></li>
                 <li class="active"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i>购物车</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-user"></i>个人</a></li> 
              </ul>
		</nav>
    </footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
