<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link href="js/iCheck/skins/minimal/blue.css" rel="stylesheet">
<link href="js/iCheck/skins/square/blue.css" rel="stylesheet">
<link href="js/iCheck/skins/flat/blue.css" rel="stylesheet">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/cart.css">
<title>已匹配钻石列表</title>
</head>

<body class="wrap-bg">
	<!--头部-->
    <header class=" header text-center">
      <a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
    	裸钻列表
      <a href="#" class="pull-right"><i class="glyphicon glyphicon-trash"></i></a>
    </header>
    <!--内容-->
    <div class="container wrap">
    	<div class="row cart">
        <!--总计-->
          <div class="all">
            <span>共100件裸钻　</span>
            <span>总计：<em>￥20046.18</em></span>
          </div>
            <!---->
            <div class="media">
            	<div class="square-blue single-row pull-left">
                    <div class="radio">
                        <label>
                           <input type="checkbox">
                           <span class="fa fa-check"></span>
                        </label>

                    </div>
               </div>
               <div class="media-body">
                  <h4 class="media-heading">【裸钻】 货品编号：FME6420</h4>
                  	<p class="info"> GIA&nbsp;&nbsp;2214685824<br>0.3ct&nbsp;&nbsp;L色&nbsp;&nbsp;SI2净度&nbsp;&nbsp;EX切工</p>
                      <div class="form-group pull-left cart-btn">
                                <div id="spinner1">
                                    <div class="input-group" style="width:120px;">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn btn-default spinner-down">
                                                <i class="glyphicon glyphicon-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="spinner-input form-control form-input" maxlength="3">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn-default spinner-up">
                                                
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                             </div>
                      <p class="text-right">粒单价：<big>¥1100.00</big></p>
               </div>
            </div>
            <div class="media">
              <div class="square-blue single-row pull-left">
                    <div class="radio">
                        <label>
                           <input type="checkbox">
                           <span class="fa fa-check"></span>
                        </label>

                    </div>
               </div>
               <div class="media-body">
                  <h4 class="media-heading">【裸钻】 货品编号：FME6420</h4>
                    <p class="info"> GIA&nbsp;&nbsp;2214685824<br>0.3ct&nbsp;&nbsp;L色&nbsp;&nbsp;SI2净度&nbsp;&nbsp;EX切工</p>
                      <div class="form-group pull-left cart-btn">
                                <div id="spinner3">
                                    <div class="input-group" style="width:120px;">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn btn-default spinner-down">
                                                <i class="glyphicon glyphicon-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="spinner-input form-control form-input" maxlength="3">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn-default spinner-up">
                                                
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                             </div>
                      <p class="text-right">粒单价：<big>¥1100.00</big></p>
               </div>
            </div>
            <div class="media">
              <div class="square-blue single-row pull-left">
                    <div class="radio">
                        <label>
                               <input type="checkbox">
                               <span class="fa fa-check"></span>
                            </label>

                    </div>
               </div>
               <div class="media-body">
                  <h4 class="media-heading">【裸钻】 货品编号：FME6420</h4>
                    <p class="info"> GIA&nbsp;&nbsp;2214685824<br>0.3ct&nbsp;&nbsp;L色&nbsp;&nbsp;SI2净度&nbsp;&nbsp;EX切工</p>
                      <div class="form-group pull-left cart-btn">
                                <div id="spinner4">
                                    <div class="input-group" style="width:120px;">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn btn-default spinner-down">
                                                <i class="glyphicon glyphicon-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="spinner-input form-control form-input" maxlength="3">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn-default spinner-up">
                                                
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                             </div>
                      <p class="text-right">粒单价：<big>¥1100.00</big></p>
               </div>
            </div>
            <div class="media">
              <div class="square-blue single-row pull-left">
                    <div class="radio">
                        <label>
                               <input type="checkbox">
                               <span class="fa fa-check"></span>
                            </label>

                    </div>
               </div>
               <div class="media-body">
                  <h4 class="media-heading">【裸钻】 货品编号：FME6420</h4>
                    <p class="info"> GIA&nbsp;&nbsp;2214685824<br>0.3ct&nbsp;&nbsp;L色&nbsp;&nbsp;SI2净度&nbsp;&nbsp;EX切工</p>
                      <div class="form-group pull-left cart-btn">
                                <div id="spinner1">
                                    <div class="input-group" style="width:120px;">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn btn-default spinner-down">
                                                <i class="glyphicon glyphicon-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="spinner-input form-control form-input" maxlength="3">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn-default spinner-up">
                                                
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                             </div>
                      <p class="text-right">粒单价：<big>¥1100.00</big></p>
               </div>
            </div>
            <div class="media">
              <div class="square-blue single-row pull-left">
                    <div class="radio">
                        <label>
                               <input type="checkbox">
                               <span class="fa fa-check"></span>
                            </label>

                    </div>
               </div>
               <div class="media-body">
                  <h4 class="media-heading">【裸钻】 货品编号：FME6420</h4>
                    <p class="info"> GIA&nbsp;&nbsp;2214685824<br>0.3ct&nbsp;&nbsp;L色&nbsp;&nbsp;SI2净度&nbsp;&nbsp;EX切工</p>
                      <div class="form-group pull-left cart-btn">
                                <div id="spinner1">
                                    <div class="input-group" style="width:120px;">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn btn-default spinner-down">
                                                <i class="glyphicon glyphicon-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="spinner-input form-control form-input" maxlength="3">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn-default spinner-up">
                                                
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                             </div>
                      <p class="text-right">粒单价：<big>¥1100.00</big></p>
               </div>
            </div>
            <div class="media">
              <div class="square-blue single-row pull-left">
                    <div class="radio">
                        <label>
                               <input type="checkbox">
                               <span class="fa fa-check"></span>
                            </label>

                    </div>
               </div>
               <div class="media-body">
                  <h4 class="media-heading">【裸钻】 货品编号：FME6420</h4>
                    <p class="info"> GIA&nbsp;&nbsp;2214685824<br>0.3ct&nbsp;&nbsp;L色&nbsp;&nbsp;SI2净度&nbsp;&nbsp;EX切工</p>
                      <div class="form-group pull-left cart-btn">
                                <div id="spinner1">
                                    <div class="input-group" style="width:120px;">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn btn-default spinner-down">
                                                <i class="glyphicon glyphicon-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="spinner-input form-control form-input" maxlength="3">
                                        <div class="spinner-buttons input-group-btn">
                                            <button type="button" class="btn btn-default spinner-up">
                                                
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                             </div>
                      <p class="text-right">粒单价：<big>¥1100.00</big></p>
               </div>
            </div>
           


   		</div>
	</div>
    <!--底部-->
    <footer class="footer">
    	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
              <ul class="nav">
                 <li><a href="#"><i class="glyphicon glyphicon-home"></i>首页</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-list"></i>分类</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-globe"></i>珠宝资讯</a></li>
                 <li class="active"><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i>购物车</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-user"></i>个人</a></li> 
              </ul>
		</nav>
    </footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/iCheck/jquery.icheck.js"></script>
<script src="js/icheck-init.js"></script>
<script type="text/javascript" src="js/fuelux/js/spinner.min.js"></script>
<script src="js/spinner-init.js"></script>
</body>
</html>
