<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/public.css">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<title>个性定制专区</title>
</head>

<body class="product-bg">
	<!--头部-->
    <header class="header sub-header text-center">
    	个性定制专区
        <a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a href="#" id="search-right" class="pull-right">搜索</a>
    </header>
    <!--内容-->
    <div class="container" id="maincont">
    	<div class="product text-center">
        	<ul>
            	<li>
                	<div class="product-img"><a href="#"><img src="img/product.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【铭刻之吻】</p>
                            <p>钻石灵动吊坠(空托)</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
                <li>
                	<div class="product-img"><a href="#"><img src="img/product.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【铭刻之吻】</p>
                            <p>钻石灵动吊坠(空托)</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
                 <li>
                	<div class="product-img"><a href="#"><img src="img/product.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【铭刻之吻】</p>
                            <p>钻石灵动吊坠(空托)</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
                 <li>
                	<div class="product-img"><a href="#"><img src="img/product.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【铭刻之吻】</p>
                            <p>钻石灵动吊坠(空托)</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
                <li>
                	<div class="product-img"><a href="#"><img src="img/product.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【铭刻之吻】</p>
                            <p>钻石灵动吊坠(空托)</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
                 <li>
                	<div class="product-img"><a href="#"><img src="img/product.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【铭刻之吻】</p>
                            <p>钻石灵动吊坠(空托)</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
                <li>
                	<div class="product-img"><a href="#"><img src="img/product.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【铭刻之吻】</p>
                            <p>钻石灵动吊坠(空托)</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
                 <li>
                	<div class="product-img"><a href="#"><img src="img/product.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【铭刻之吻】</p>
                            <p>钻石灵动吊坠(空托)</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
            </ul>
        </div>
	</div>

	<!-- Search alert -->
	<div class="container-paluid" id="search-alert" style="display: none">
    	<div class="panel panel-default custom-product-search">
			<div class="panel-heading">
				<p class="ptitle">类型：</p>	
			</div>
			<div class="panel-body">
				<div class="gmap-street-view" style="width: 100%;">
					<a href="#" class="btn btn-default navbar-btn btn-primary">对戒</a>
					<a href="#" class="btn btn-default navbar-btn">男戒</a>
					<a href="#" class="btn btn-default navbar-btn">女戒</a>
					<a href="#" class="btn btn-default navbar-btn">项链</a>
					<a href="#" class="btn btn-default navbar-btn">裸钻</a>
					<a href="#" class="btn btn-default navbar-btn">吊坠</a>
                    <a href="#" class="btn btn-default navbar-btn">手镯</a>
                    <a href="#" class="btn btn-default navbar-btn">耳饰</a>
                    <a href="#" class="btn btn-default navbar-btn">吊坠</a>
                    <a href="#" class="btn btn-default navbar-btn">脚链</a>
					<a href="#" class="btn btn-default navbar-btn">胸针</a>
				</div>
			</div>

			<div class="panel-heading">
				<p class="ptitle">材质：</p>	
			</div>
			<div class="panel-body">
				<div class="gmap-street-view" style="width: 100%;">
					<a href="#" class="btn btn-default navbar-btn">千足金</a>
					<a href="#" class="btn btn-default navbar-btn">足金</a>
					<a href="#" class="btn btn-default navbar-btn">PT950</a>
					<a href="#" class="btn btn-default navbar-btn">PT900</a>
					<a href="#" class="btn btn-default navbar-btn">足金</a>
                    <a href="#" class="btn btn-default navbar-btn">PT950</a>
                    <a href="#" class="btn btn-default navbar-btn">18K金</a>
                    <a href="#" class="btn btn-default navbar-btn">14K金</a>
                    <a href="#" class="btn btn-default navbar-btn">9K金</a>
                    <a href="#" class="btn btn-default navbar-btn">S925银</a>
                    <a href="#" class="btn btn-default navbar-btn">千足银</a>
					<a href="#" class="btn btn-default navbar-btn">足银</a>
				</div>
			</div>
			
			<div class="panel-heading">
				<p class="ptitle">适用人群：</p>	
			</div>
			<div class="panel-body">
				<div class="gmap-street-view" style="width: 100%;">
					<a href="#" class="btn btn-default navbar-btn">男性</a>
					<a href="#" class="btn btn-default navbar-btn">女性</a>
					<a href="#" class="btn btn-default navbar-btn">中性</a>
					<a href="#" class="btn btn-default navbar-btn">儿童</a>
				</div>
			</div>

			<div class="panel-heading">
				<p class="ptitle">价格：</p>	
			</div>
			<div class="panel-body">
				<div class="gmap-street-view" style="width: 100%;">
					<a href="#" class="btn btn-default navbar-btn">1000以下</a>
					<a href="#" class="btn btn-default navbar-btn">1000-3000</a>
					<a href="#" class="btn btn-default navbar-btn">3000-5000</a>
					<a href="#" class="btn btn-default navbar-btn">5000-8000</a>
					<a href="#" class="btn btn-default navbar-btn">8000-12000</a>
                    <a href="#" class="btn btn-default navbar-btn">12000-18000</a>
                    <a href="#" class="btn btn-default navbar-btn">22000-30000</a>
					<a href="#" class="btn btn-default navbar-btn">30000以上</a>
				</div>
			</div>
		</div>
		<div class="searchsub">
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary exit-button">搜索</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary exit-button">重置</button>
			</div>
		</div>
	</div>
	<!-- Search alert END //-->

</body>
<script>
    $(function(){
        
        /* 条件选择 */
        $(".gmap-street-view a").bind("click",function(){
            $(this).parent("div").find("a").removeClass("btn-primary");
            $(this).addClass("btn-primary");
        });

        /* 搜索切换 */
        $("#search-right").click(function(){
            if($(this).text() == "取消"){
                $("#search-alert").fadeOut();
                $("#maincont").fadeIn();
                $(this).text("搜索");
            }else{
                $("#search-alert").fadeIn();
                $("#maincont").fadeOut();
                $(this).text("取消");
            }
        });
    });
</script>
</html>
