<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/information.css">
<title>资讯详情</title>
</head>

<body>
	<!--头部-->
    <header class="header text-center head">
        <a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
       	资讯详情
    </header>
    <!--内容-->
    <div class="container wrap">
    	<div class="row detail">
        	<div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">
                     <big>春节前后北京黄金制品大卖：小克数金条被抢光</big>
                  </h3>
                  <small class="text-muted">4小时前</small>
               </div>
               
            </div>
            <div class="panel panel-default">
               <div class="panel-body">
                  <p>一直以来，黄金被认为是抗通胀的最好避险品种。元旦过后，黄金价格呈现持续上扬态势，在春节、情人节、元宵节连续的节日效应，以及买涨不买跌的消费心理影响下，近期各大黄金卖场和银行的黄金销售都迎来了小高峰。</p>
                  <p>春节前后，记者走访了北京地区部分银行以及黄金卖场发现，购买黄金饰品、贺岁金条等实物黄金的顾客明显增多。</p>
                  <p><img src="img/detail.jpg" alt=""></p>
                  <h4>黄金销售迎来“黄金时代”</h4>
                  <p>在菜百商场的一个黄金饰品柜台，一位年轻女士正在挑选猴年贺岁品，她对记者表示:“我和妈妈今年都是本命年，趁着过年买个生肖吊坠，添添喜庆。”</p>
                  <p>在一家股份制银行的网点，银行的工作人员也表示“多数产品都需要预定”。他还介绍称，“在银行购买黄金饰品比金店要划算不少，并且品质更有保证。根据金饰</p>
               </div>
            </div>
    		
    
   		</div>
	</div>
   
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
