<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/information.css">
<title>资讯详情</title>
</head>

<body>
	<!--头部-->
    <header class="header text-center head">
        <a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
       	资讯详情
    </header>
    <!--内容-->
    <div class="container wrap">
    	<div class="row detail">
        	<div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">
                     <big>2016全国珠宝展时间表</big>
                  </h3>
                  <small class="text-muted">4小时前</small>
               </div>
               
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">
                     二月份展会信息
                  </h3>
               </div>
               <div class="panel-body">
                  <p>2016中国（太原）首届国际珠宝玉石首饰展览会</p>
                  <p>展会时间：2016年2月25—29日（五天)</p>
                  <p>展会地址：中国煤炭博物馆</p>
                  <p>2016中国（南昌）首届国际珠宝玉石首饰展览会</p>
                  <p>展会时间：2016年2月26-29日</p>
                  <p>展会地址：南昌国际会展中心（主馆）</p>
               </div>
            </div>
    		<div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">
                     三月份展会信息
                  </h3>
               </div>
               <div class="panel-body">
                  <p>2016中国（济南）国际珠宝首饰展</p>
                  <p>展会时间：2016年3月4-7日)</p>
                  <p>展会地址：济南舜耕国际会展中心</p>
               </div>
            </div>
    		<div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">
                     2016香港国际珠宝展
                  </h3>
               </div>
               <div class="panel-body">
                  <p>展会时间：2016年3月4-8日</p>
                  <p>展会地址：香港会议展览中心</p>
               </div>
            </div>
    		<div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">
                     四月份展会信息
                  </h3>
               </div>
               <div class="panel-body">
                  <p>中国（包头）第三届国际珠宝玉石首饰展览会</p>
                  <p>展会时间：2016年4月08-12日</p>
                  <p>展会地址：包头国际会展中心ABC馆</p>
               </div>
            </div>
    
    
   		</div>
	</div>
   
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
