<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/public.css">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<title>首页-证书货-散货钻石</title>
</head>

<body class="wrap-bg">
	<!--头部-->
    <header class=" header text-center">
    	<a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
       	钻石专区
        <a href="#" id="search-right" class="pull-right">搜索</a>
    </header>
    <!--内容-->
    <div class="container" id="maincont">
    	<div class="row area">
       		<!--选项卡-->
    		<ul class="nav nav-tabs">
	           <li><a href="dimond-area.html">证书货钻石</a></li>
	           <li class="active"><a href="dimond-area-bulk.html">散货钻石</a></li>
	        </ul>
            <div id="myTabContent" class="tab-content">
               <div class="tab-pane fade in active" id="bulk">
                  <table class="table bulk">
                  	<thead>
                    	<tr>         
                        	<td>货号</td>
                            <td>库存(ct）</td>
                            <td>颜色</td>
                            <td>净度</td>
                            <td>切工</td>
                            <td>统走定价</td>
                        </tr>
                    </thead>
                  	<tbody class="color">
                    	<tr class="head">
                        	<td>03-08SAGH</td>
                            <td>55.14</td>
                            <td>GH</td>
                            <td>SI1-SI2</td>
                            <td>EX</td>
                            <td>¥2835.00</td>
                        </tr>
                        <tr>
                        	<td colspan="6">
                            	详细描述: 这包货的颜色GH：GH占100%，净度是SI1-SI2：SI1-SI2
                            	为70%;SI2-SI3为30%；颜色：切工是EX：EX为70%；VG为30%；分数
                            	或筛号是03-08:000-00为29.7%；00-0为29.99%；0-1为12.32%；
                            	1-1.5为17.51%；1.5-2为6.24%；2-2.5为12.21%
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    	<tr class="head">
                        	<td>03-08SAGH</td>
                            <td>55.14</td>
                            <td>GH</td>
                            <td>SI1-SI2</td>
                            <td>EX</td>
                            <td>¥2835.00</td>
                        </tr>
                        <tr>
                        	<td colspan="6">
                            	详细描述: 这包货的颜色GH：GH占100%，净度是SI1-SI2：SI1-SI2
                            	为70%;SI2-SI3为30%；颜色：切工是EX：EX为70%；VG为30%；分数
                            	或筛号是03-08:000-00为29.7%；00-0为29.99%；0-1为12.32%；
                            	1-1.5为17.51%；1.5-2为6.24%；2-2.5为12.21%
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    	<tr class="head">
                        	<td>03-08SAGH</td>
                            <td>55.14</td>
                            <td>GH</td>
                            <td>SI1-SI2</td>
                            <td>EX</td>
                            <td>¥2835.00</td>
                        </tr>
                        <tr>
                        	<td colspan="6">
                            	详细描述: 这包货的颜色GH：GH占100%，净度是SI1-SI2：SI1-SI2
                            	为70%;SI2-SI3为30%；颜色：切工是EX：EX为70%；VG为30%；分数
                            	或筛号是03-08:000-00为29.7%；00-0为29.99%；0-1为12.32%；
                            	1-1.5为17.51%；1.5-2为6.24%；2-2.5为12.21%
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    	<tr class="head">
                        	<td>03-08SAGH</td>
                            <td>55.14</td>
                            <td>GH</td>
                            <td>SI1-SI2</td>
                            <td>EX</td>
                            <td>¥2835.00</td>
                        </tr>
                        <tr>
                        	<td colspan="6">
                            	详细描述: 这包货的颜色GH：GH占100%，净度是SI1-SI2：SI1-SI2
                            	为70%;SI2-SI3为30%；颜色：切工是EX：EX为70%；VG为30%；分数
                            	或筛号是03-08:000-00为29.7%；00-0为29.99%；0-1为12.32%；
                            	1-1.5为17.51%；1.5-2为6.24%；2-2.5为12.21%
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    	<tr class="head">
                        	<td>03-08SAGH</td>
                            <td>55.14</td>
                            <td>GH</td>
                            <td>SI1-SI2</td>
                            <td>EX</td>
                            <td>¥2835.00</td>
                        </tr>
                        <tr>
                        	<td colspan="6">
                            	详细描述: 这包货的颜色GH：GH占100%，净度是SI1-SI2：SI1-SI2
                            	为70%;SI2-SI3为30%；颜色：切工是EX：EX为70%；VG为30%；分数
                            	或筛号是03-08:000-00为29.7%；00-0为29.99%；0-1为12.32%；
                            	1-1.5为17.51%；1.5-2为6.24%；2-2.5为12.21%
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    	<tr class="head">
                        	<td>03-08SAGH</td>
                            <td>55.14</td>
                            <td>GH</td>
                            <td>SI1-SI2</td>
                            <td>EX</td>
                            <td>¥2835.00</td>
                        </tr>
                        <tr>
                        	<td colspan="6">
                            	详细描述: 这包货的颜色GH：GH占100%，净度是SI1-SI2：SI1-SI2
                            	为70%;SI2-SI3为30%；颜色：切工是EX：EX为70%；VG为30%；分数
                            	或筛号是03-08:000-00为29.7%；00-0为29.99%；0-1为12.32%；
                            	1-1.5为17.51%；1.5-2为6.24%；2-2.5为12.21%
                            </td>
                        </tr>
                    </tbody>
                  </table>
               </div>
            </div>
            <!--底部-->
            <div class="navbar-fixed-bottom area-bottom">
                <button type="button" class="btn btn-yellow">立即购买</button>
                <button type="button" class="btn">加入购物车</button>
            </div>
        
   		</div>
	</div>
	
	<!-- Search alert -->
	<div id="search-alert" class="container-fluid user-info search-masonry-bulk" style="display: none">

		<div class="panel panel-default border-radius-none search-masonry">
			<div class="panel-body username usbox">
				
				<div class="row">
					<div class="col-xs-4">
						<p class="xztitle">选择货品：</p>
					</div>
					<div class="col-xs-8">
						<div class="flhh">
							<select name="" id="">
								<option value="">所有分类</option>
								<option value="0">未分类</option>
								<option value="1">1分以下</option>
								<option value="2">1-3分</option>
								<option value="3">3-7分</option>
								<option value="4">8-12分</option>
								<option value="5">13-17分</option>
								<option value="6">18-22分</option>
								<option value="7">23-29分</option>
								<option value="8">30-39分</option>
								<option value="9">40-49分</option>
								<option value="10">50-69分</option>
								<option value="11">70-89分</option>
								<option value="12">90-99分</option>
								<option value="13">100-149分</option>
								<option value="14">150-199分</option>
								<option value="15">200分以上</option>
								<option value="16">异形钻</option>
								<option value="17">促销货</option>
							</select>
							<select name="" id="">
								<option value="">所有货号</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-4">
						<p class="xztitle">钻石分数：</p>
					</div>
					<div class="col-xs-8">
						<a href="javascript:;" class="btn btn-default navbar-btn">03-08</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">1-2</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">3-7</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">8-12</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">13-17</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">18-22</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">23-29</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">30-39</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">40-49</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">50-69</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">70-89</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">90-99</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">100-149</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">150-200</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">200-299</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">+300</a>
					</div> 
				</div>

				<div class="row">
					<div class="col-xs-3">
						<p class="xztitle">颜色：</p>
					</div>
					<div class="col-xs-9">
						<a href="javascript:;" class="btn btn-default navbar-btn btn-primary">DEF</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">GH</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">HI</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">IJ</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">JK</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">KL</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">MN</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">&lt;N</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">Fancy</a>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-3">
						<p class="xztitle">净度：</p>
					</div>
					<div class="col-xs-9">
						<a href="javascript:;" class="btn btn-default navbar-btn">VVS</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">IF</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">VVS-VS</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">VS</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">VS2-SI1</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">SI1-SI2</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">SI2-SI3</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">I1-I2</a>
						<a href="javascript:;" class="btn btn-default navbar-btn"><12</a>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-3">
						<p class="xztitle">切工：</p>
					</div>
					<div class="col-xs-9">
						<a href="javascript:;" class="btn btn-default navbar-btn">EX</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">VG</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">VG-GD</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">Fair</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">Poor</a>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-3">
						<p class="xztitle">所属：</p>
					</div>
					<div class="col-xs-9">
						
						<a href="javascript:;" class="btn btn-default navbar-btn">深圳</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">上海</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">北京</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">香港</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">国外</a>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-3">
						<p class="xztitle">特价：</p>
					</div>
					<div class="col-xs-9">
						<a href="javascript:;" class="btn btn-default navbar-btn">所有</a>
						<a href="javascript:;" class="btn btn-default navbar-btn">特价</a>
					</div>
				</div>
			
				<div class="navbar-fixed-bottom area-bottom">
	                <button type="button" class="btn btn-yellow">确认搜索</button>
	                <button type="button" class="btn">重置</button>
	            </div>

			</div>
		</div>
	</div>
	<!-- Search alert END // -->
</body>
<script>
    $(function(){
    	/* 条件选择 */
        $(".search-masonry .row a").bind("click",function(){
            $(this).parent("div").find("a").removeClass("btn-primary");
            $(this).addClass("btn-primary");
        });
        
        /* 搜索切换 */
        $("#search-right").click(function(){
            if($(this).text() == "取消"){
                $("#search-alert").fadeOut();
                $("#maincont").fadeIn();
                $(this).text("搜索");
            }else{
                $("#search-alert").fadeIn();
                $("#maincont").fadeOut();
                $(this).text("取消");
            }
        });
    });
</script>
</html>
