<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/public.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
<title>首页-证书货-证书货钻石</title>
</head>

<body class="wrap-bg">
	<!--头部-->
    <header class=" header text-center">
    	<a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
       	钻石专区
        <a href="#" id="search-right" class="pull-right">搜索</a>
    </header>
    <!--内容-->
    <div class="container" id="maincont">
    	<div class="row area">
       		<!--选项卡-->
    		<ul class="nav nav-tabs">
	           <li class="active"><a href="dimond-area.html">证书货钻石</a></li>
	           <li><a href="dimond-area-bulk.html">散货钻石</a></li>
	        </ul>
            <div id="myTabContent" class="tab-content">
               <div class="tab-pane fade in active" id="naked">
                  <div class="rank">
                  	<p class="">今日美元汇率：6.68</p>
                    <p class="right">共找到77023颗钻<button  type="button" class="btn btn-primary">价格排序</button></p>
                  </div>
                  <table class="table  text-center">
                  	<tbody class="color">
                    	<tr class="head">
                        	<td>圆形</td>
                            <td colspan="3">GIA:1197170918</td>
                            <td>国际: 750.00</td>
                        </tr>
                        <tr>
                        	<td><b>0.19CT</b></td>
                            <td>K</td>
                            <td>VS1</td>
                            <td>GIA</td>
                            <td class="red">折扣: <b>102.67</b></td>
                        </tr>
                        <tr>
                        	<td>国外</td>
                            <td>EX</td>
                            <td>VG</td>
                            <td>VG</td>
                            <td>每卡: <b>5143.77</b></td>
                        </tr>
                        <tr>
                        	<td>FMP3971</td>
                            <td>无奶</td>
                            <td>无咖</td>
                            <td>N</td>
                            <td class="red">每粒: <b>925.88</b></td>
                        </tr>
                    </tbody>
                    <table class="table  text-center">
                  	<tbody>
                    	<tr class="head">
                        	<td>圆形</td>
                            <td colspan="3">GIA:1197170918</td>
                            <td>国际: 750.00</td>
                        </tr>
                        <tr>
                        	<td><b>0.19CT</b></td>
                            <td>K</td>
                            <td>VS1</td>
                            <td>GIA</td>
                            <td class="red">折扣: <b>102.67</b></td>
                        </tr>
                        <tr>
                        	<td>国外</td>
                            <td>EX</td>
                            <td>VG</td>
                            <td>VG</td>
                            <td>每卡: <b>5143.77</b></td>
                        </tr>
                        <tr>
                        	<td>FMP3971</td>
                            <td>无奶</td>
                            <td>无咖</td>
                            <td>N</td>
                            <td class="red">每粒: <b>925.88</b></td>
                        </tr>
                    </tbody>
                    <table class="table  text-center">
                  	<tbody>
                    	<tr class="head">
                        	<td>圆形</td>
                            <td colspan="3">GIA:1197170918</td>
                            <td>国际: 750.00</td>
                        </tr>
                        <tr>
                        	<td><b>0.19CT</b></td>
                            <td>K</td>
                            <td>VS1</td>
                            <td>GIA</td>
                            <td class="red">折扣: <b>102.67</b></td>
                        </tr>
                        <tr>
                        	<td>国外</td>
                            <td>EX</td>
                            <td>VG</td>
                            <td>VG</td>
                            <td>每卡: <b>5143.77</b></td>
                        </tr>
                        <tr>
                        	<td>FMP3971</td>
                            <td>无奶</td>
                            <td>无咖</td>
                            <td>N</td>
                            <td class="red">每粒: <b>925.88</b></td>
                        </tr>
                    </tbody>
                    <table class="table  text-center">
                  	<tbody>
                    	<tr class="head">
                        	<td>圆形</td>
                            <td colspan="3">GIA:1197170918</td>
                            <td>国际: 750.00</td>
                        </tr>
                        <tr>
                        	<td><b>0.19CT</b></td>
                            <td>K</td>
                            <td>VS1</td>
                            <td>GIA</td>
                            <td class="red">折扣: <b>102.67</b></td>
                        </tr>
                        <tr>
                        	<td>国外</td>
                            <td>EX</td>
                            <td>VG</td>
                            <td>VG</td>
                            <td>每卡: <b>5143.77</b></td>
                        </tr>
                        <tr>
                        	<td>FMP3971</td>
                            <td>无奶</td>
                            <td>无咖</td>
                            <td>N</td>
                            <td class="red">每粒: <b>925.88</b></td>
                        </tr>
                    </tbody>
                    <table class="table  text-center">
                  	<tbody>
                    	<tr class="head">
                        	<td>圆形</td>
                            <td colspan="3">GIA:1197170918</td>
                            <td>国际: 750.00</td>
                        </tr>
                        <tr>
                        	<td><b>0.19CT</b></td>
                            <td>K</td>
                            <td>VS1</td>
                            <td>GIA</td>
                            <td class="red">折扣: <b>102.67</b></td>
                        </tr>
                        <tr>
                        	<td>国外</td>
                            <td>EX</td>
                            <td>VG</td>
                            <td>VG</td>
                            <td>每卡: <b>5143.77</b></td>
                        </tr>
                        <tr>
                        	<td>FMP3971</td>
                            <td>无奶</td>
                            <td>无咖</td>
                            <td>N</td>
                            <td class="red">每粒: <b>925.88</b></td>
                        </tr>
                    </tbody>
                  </table>
               </div>
            </div>
            <!--底部-->
            <div class="navbar-fixed-bottom area-bottom">
                <button type="button" class="btn btn-yellow">立即购买</button>
                <button type="button" class="btn">加入购物车</button>
            </div>  
   		</div>
	</div>



    <!-- Search alert -->
    <div id="search-alert" class="container-fluid user-info" style="display: none">

        <div class="panel panel-default border-radius-none search-masonry">
            <div class="panel-body username usbox">
                <div class="row">
                    <div class="col-xs-3">
                        <p class="xztitle">形状：</p>
                    </div>
                    <div class="col-xs-9">
                        <a href="javascript:;" class="btn btn-default navbar-btn"><img src="img/shape_img_43.png" alt="圆形" title="圆形"></a>
                        <a href="javascript:;" class="btn btn-default navbar-btn"><img src="img/shape_img_40.png" alt="椭圆" title="椭圆"></a>
                        <a href="javascript:;" class="btn btn-default navbar-btn"><img src="img/shape_img_36.png" alt="马眼" title="马眼"></a>
                        <a href="javascript:;" class="btn btn-default navbar-btn"><img src="img/shape_img_33.png" alt="心形" title="心形"></a>
                        <a href="javascript:;" class="btn btn-default navbar-btn"><img src="img/shape_img_30.png" alt="水滴" title="水滴"></a>
                        <a href="javascript:;" class="btn btn-default navbar-btn"><img src="img/shape_img_26.png" alt="方形" title="方形"></a>
                        <a href="javascript:;" class="btn btn-default navbar-btn"><img src="img/shape_img_22.png" alt="祖母绿" title="祖母绿"></a>
                        <a href="javascript:;" class="btn btn-default navbar-btn"><img src="img/shape_img_07.png" alt="枕形" title="枕形"></a>
                        <a href="javascript:;" class="btn btn-default navbar-btn"><img src="img/shape_img_14.png" alt="蕾蒂恩" title="蕾蒂恩"></a>
                        <a href="javascript:;" class="btn btn-default navbar-btn"><img src="img/shape_img_03.png" alt="梯方" title="梯方"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <p class="xztitle">颜色：</p>
                    </div>
                    <div class="col-xs-9">
                        <a href="javascript:;" class="btn btn-default navbar-btn btn-primary">D</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">E</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">F</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">G</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">H</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">I</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">J</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">K</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">L</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">M</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">N</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">Fancy</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <p class="xztitle">净度：</p>
                    </div>
                    <div class="col-xs-9">
                        <a href="javascript:;" class="btn btn-default navbar-btn">FL</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">IF</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">VVS1</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">VVS2</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">SI1</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">SI2</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">I1</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">I2</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">I3</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <p class="xztitle">证书：</p>
                    </div>
                    <div class="col-xs-9">
                        <a href="javascript:;" class="btn btn-default navbar-btn">GIA</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">HRD</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">IGI</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">国检</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">其他</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">无奶</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">无咖</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <p class="xztitle">切工：</p>
                    </div>
                    <div class="col-xs-9">
                        <a href="javascript:;" class="btn btn-default navbar-btn">Ideal</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">EX</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">VG</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">GOOD</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">Fair</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">其它</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <p class="xztitle">抛光：</p>
                    </div>
                    <div class="col-xs-9">
                        <a href="javascript:;" class="btn btn-default navbar-btn">Ideal</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">EX</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">VG</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">GOOD</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">Fair</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">其它</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <p class="xztitle">对称：</p>
                    </div>
                    <div class="col-xs-9">
                        <a href="javascript:;" class="btn btn-default navbar-btn">Ideal</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">EX</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">VG</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">GOOD</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">Fair</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">其它</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <p class="xztitle">荧光：</p>
                    </div>
                    <div class="col-xs-9">
                        <a href="javascript:;" class="btn btn-default navbar-btn">N</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">F</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">M</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">S</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">VS</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">其它</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">无奶</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">无咖</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <p class="xztitle">所属：</p>
                    </div>
                    <div class="col-xs-9">
                        <a href="javascript:;" class="btn btn-default navbar-btn">香港</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">深圳</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">上海</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">北京</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">广州</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">国外</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <p class="xztitle">筛选：</p>
                    </div>
                    <div class="col-xs-9">
                        <a href="javascript:;" class="btn btn-default navbar-btn btn-primary">现货</a>
                        <a href="javascript:;" class="btn btn-default navbar-btn">订货</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <p class="xztitle">重量：</p>
                    </div>
                    <div class="col-xs-9">
                        <p class="kl-box"><input type="text" class="kl"> - <input type="text" class="kl"> 克拉</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <p class="xztitle">价格：</p>
                    </div>
                    <div class="col-xs-9">
                        <p class="kl-box"><input type="text" class="kl"> - <input type="text" class="kl"> 人民币</p>
                    </div>
                </div>

                <div class="navbar-fixed-bottom area-bottom">
                    <button type="button" class="btn btn-yellow">确认搜索</button>
                    <button type="button" class="btn">重置</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Search alert END //-->



</body>
<script>
    $(function(){
        
        /* 条件选择 */
        $(".search-masonry .row a").bind("click",function(){
            $(this).parent("div").find("a").removeClass("btn-primary");
            $(this).addClass("btn-primary");
        });

        /* 搜索切换 */
        $("#search-right").click(function(){
            if($(this).text() == "取消"){
                $("#search-alert").fadeOut();
                $("#maincont").fadeIn();
                $(this).text("搜索");
            }else{
                $("#search-alert").fadeIn();
                $("#maincont").fadeOut();
                $(this).text("取消");
            }
        });
    });
</script>
</html>
