<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/information.css">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/163css.css">
<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
<title>行业资讯</title>
</head>

<body>

	<!--头部-->
    <header class="header text-center">
        <a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
       	珠宝资讯
    </header>


    <!--内容-->
    <div class="container wrap">
    	<div class="row inform">

          <div class="box_163css">
        	   <ul id="myTab" class="text-center line">
               <li class="active"><a href="#info" class="" data-toggle="tab">行业资讯</a>
               </li>
                <li class=""><a href="#dynamic" data-toggle="tab">钻石动态</a></li>
                <li class=""><a href="#wiki" data-toggle="tab">钻石百科</a></li>
                <li class=""><a href="#wiki" data-toggle="tab">钻石百科</a></li>
                <li class=""><a href="#wiki" data-toggle="tab">钻石百科</a></li>
                <li class=""><a href="#wiki" data-toggle="tab">钻石百科</a></li>
                <li class=""><a href="#wiki" data-toggle="tab">钻石百科</a></li>
                <li class=""><a href="#wiki" data-toggle="tab">钻石百科</a></li>
                <div class="clearfix"></div>
             </ul>
          </div>


            <div id="myTabContent" class="tab-content">
               <div class="tab-pane fade in active" id="info">
                  <ul class="media-list">
                       <li class="media">
                          <a class="pull-right" href="#">
                             <img class="media-object" src="img/baike.jpg" alt="钻石百科" width="180">
                          </a>
                          <div class="media-body muted">
                             <h4 class="media-heading"><b>2016全国珠宝展时间表</b></h4>
                             <p href="#" class="text-muted">
                             乘着和绚春暖之意，丹麦著名珠宝
                            品牌PANDORA潘多拉在上海沃思
                            琪艺术中心举办了2016春季新品....</p>
                          <p class="text-muted">4小时前</p>
                          </div>
                       </li>
                       <hr>
                       <li class="media">
                          <a class="pull-right" href="#">2-28</a>
                          <div class="media-body have">
                             <a href="#">春节前后北京黄金制品大卖：小克数金条被....</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-28</a>
                          <div class="media-body">
                            <a href="#">2月钻石市场报告</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-26</a>
                          <div class="media-body">
                           	<a href="#">哈萨克斯坦1-5月铜及黄金产量同比飙升</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-23</a>
                          <div class="media-body">
                            <a href="#">印度国内金饰需求略有回升 推动卢比计</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-20</a>
                          <div class="media-body">
                             <a href="#">缺乏婚礼季 印度金饰需求或下降</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-18</a>
                          <div class="media-body">
                             <a href="#">受希腊担忧刺激 德国黄金需求跳涨</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-15</a>
                          <div class="media-body">
                             <a href="#">未来5年亚洲黄金珠宝需求将不断增长</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-12</a>
                          <div class="media-body">
                             <a href="#">厄尔尼诺现象料引发通胀 刺激黄金需求升温</a>
                          </div>
                       </li>
                  </ul>
              </div>
               <div class="tab-pane fade" id="dynamic">
                  <ul class="media-list">
                       <li class="media">
                          <a class="pull-right" href="#">
                             <img class="media-object" src="img/baike.jpg" alt="钻石百科" width="180">
                          </a>
                          <div class="media-body muted">
                             <h4 class="media-heading"><b>2016全国珠宝展时间表</b></h4>
                             <p href="#" class="text-muted">
                             乘着和绚春暖之意，丹麦著名珠宝
                            品牌PANDORA潘多拉在上海沃思
                            琪艺术中心举办了2016春季新品....</p>
                          <p class="text-muted">4小时前</p>
                          </div>
                       </li>
                       <hr>
                       <li class="media">
                          <a class="pull-right" href="#">2-28</a>
                          <div class="media-body have">
                             <a href="#">春节前后北京黄金制品大卖：小克数金条被....</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-28</a>
                          <div class="media-body">
                            <a href="#">2月钻石市场报告</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-26</a>
                          <div class="media-body">
                           	<a href="#">哈萨克斯坦1-5月铜及黄金产量同比飙升</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-23</a>
                          <div class="media-body">
                            <a href="#">印度国内金饰需求略有回升 推动卢比计</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-20</a>
                          <div class="media-body">
                             <a href="#">缺乏婚礼季 印度金饰需求或下降</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-18</a>
                          <div class="media-body">
                             <a href="#">受希腊担忧刺激 德国黄金需求跳涨</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-15</a>
                          <div class="media-body">
                             <a href="#">未来5年亚洲黄金珠宝需求将不断增长</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-12</a>
                          <div class="media-body">
                             <a href="#">厄尔尼诺现象料引发通胀 刺激黄金需求升温</a>
                          </div>
                       </li>
                  </ul>
               </div>
               <div class="tab-pane fade" id="wiki">
                  <ul class="media-list">
                       <li class="media">
                          <a class="pull-right" href="#">
                             <img class="media-object" src="img/baike.jpg" alt="钻石百科" width="180">
                          </a>
                          <div class="media-body muted">
                             <h4 class="media-heading"><b>2016全国珠宝展时间表</b></h4>
                             <p href="#" class="text-muted">
                             乘着和绚春暖之意，丹麦著名珠宝
                            品牌PANDORA潘多拉在上海沃思
                            琪艺术中心举办了2016春季新品....</p>
                          <p class="text-muted">4小时前</p>
                          </div>
                       </li>
                       <hr>
                       <li class="media">
                          <a class="pull-right" href="#">2-28</a>
                          <div class="media-body have">
                             <a href="#">春节前后北京黄金制品大卖：小克数金条被....</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-28</a>
                          <div class="media-body">
                            <a href="#">2月钻石市场报告</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-26</a>
                          <div class="media-body">
                           	<a href="#">哈萨克斯坦1-5月铜及黄金产量同比飙升</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-23</a>
                          <div class="media-body">
                            <a href="#">印度国内金饰需求略有回升 推动卢比计</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-20</a>
                          <div class="media-body">
                             <a href="#">缺乏婚礼季 印度金饰需求或下降</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-18</a>
                          <div class="media-body">
                             <a href="#">受希腊担忧刺激 德国黄金需求跳涨</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-15</a>
                          <div class="media-body">
                             <a href="#">未来5年亚洲黄金珠宝需求将不断增长</a>
                          </div>
                       </li>
                       <li class="media">
                          <a class="pull-right" href="#">2-12</a>
                          <div class="media-body">
                             <a href="#">厄尔尼诺现象料引发通胀 刺激黄金需求升温</a>
                          </div>
                       </li>
                  </ul>
               </div>
            </div>
    
    
   		</div>
	</div>

<script type="text/javascript">
  $(function(){
    n=$('.line li').size();       
    var wh=100*n+"%";
    $('.line').width(wh);
    var lt=(100/n/4);
    var lt_li=lt+"%";
    $('.line li').width(lt_li);     
    var y=0;
    var w=n/2;            
    $(".line").swipe( {         
      swipeLeft:function() {
        if(y==-lt*w){
          alert('已经到最后页');
        }else{
          y=y-lt;               
          var t=y+"%";                  
          $(this).css({'-webkit-transform':"translate("+t+")",'-webkit-transition':'500ms linear'} ); 
        }
      },
      swipeRight:function() {
        if(y==0){
          alert('已经到第一页') 
        }else{
          y=y+lt;
          var t=y+"%";
          $(this).css({'-webkit-transform':"translate("+t+")",'-webkit-transition':'500ms linear'} ); 
        }
        
      }
    });
  });           
</script> 


    <!--底部-->
    <footer class="footer">
    	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
              <ul class="nav">
                 <li><a href="#"><i class="glyphicon glyphicon-home"></i>首页</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-list"></i>分类</a></li>
                 <li class="active"><a href="#"><i class="glyphicon glyphicon-globe"></i>珠宝资讯</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i>购物车</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-user"></i>个人</a></li> 
              </ul>
		</nav>
    </footer>

</body>
</html>
