<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/cart.css">
<title>匹配钻石</title>
</head>

<body class="wrap-bg">
	<!--头部-->
    <header class=" header text-center">
    	<a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
       	匹配裸钻
    </header>
    <!--内容-->
    <div class="container">
    	<div class="row area">
       		<!--选项卡-->
    		<ul id="myTab" class="nav nav-tabs">
               <li class="active"><a href="#naked" data-toggle="tab">证书货钻石</a></li>
               <li><a href="#bulk" data-toggle="tab">散货钻石</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
               <div class="tab-pane fade in active" id="naked">
                  <div class="rank">
                  	<p>今日美元汇率：6.68 &nbsp;&nbsp;&nbsp;&nbsp;共找到77023颗钻<br>选中的钻石将用于匹配戒托（<em>0.3CT,圆形</em>）</p>
                    <button  type="button" class="btn btn-primary pull-right">价格排序</button>

                  </div>
                  <table class="table  text-center">
                  	<tbody class="color">
                    	<tr class="head">
                        	<td>圆形</td>
                            <td colspan="3">GIA:1197170918</td>
                            <td>国际: 750.00</td>
                        </tr>
                        <tr>
                        	<td><b>0.19CT</b></td>
                            <td>K</td>
                            <td>VS1</td>
                            <td>GIA</td>
                            <td class="red">折扣: <b>102.67</b></td>
                        </tr>
                        <tr>
                        	<td>国外</td>
                            <td>EX</td>
                            <td>VG</td>
                            <td>VG</td>
                            <td>每卡: <b>5143.77</b></td>
                        </tr>
                        <tr>
                        	<td>FMP3971</td>
                            <td>无奶</td>
                            <td>无咖</td>
                            <td>N</td>
                            <td class="red">每粒: <b>925.88</b></td>
                        </tr>
                    </tbody>
                    <table class="table  text-center">
                  	<tbody>
                    	<tr class="head">
                        	<td>圆形</td>
                            <td colspan="3">GIA:1197170918</td>
                            <td>国际: 750.00</td>
                        </tr>
                        <tr>
                        	<td><b>0.19CT</b></td>
                            <td>K</td>
                            <td>VS1</td>
                            <td>GIA</td>
                            <td class="red">折扣: <b>102.67</b></td>
                        </tr>
                        <tr>
                        	<td>国外</td>
                            <td>EX</td>
                            <td>VG</td>
                            <td>VG</td>
                            <td>每卡: <b>5143.77</b></td>
                        </tr>
                        <tr>
                        	<td>FMP3971</td>
                            <td>无奶</td>
                            <td>无咖</td>
                            <td>N</td>
                            <td class="red">每粒: <b>925.88</b></td>
                        </tr>
                    </tbody>
                    <table class="table  text-center">
                  	<tbody>
                    	<tr class="head">
                        	<td>圆形</td>
                            <td colspan="3">GIA:1197170918</td>
                            <td>国际: 750.00</td>
                        </tr>
                        <tr>
                        	<td><b>0.19CT</b></td>
                            <td>K</td>
                            <td>VS1</td>
                            <td>GIA</td>
                            <td class="red">折扣: <b>102.67</b></td>
                        </tr>
                        <tr>
                        	<td>国外</td>
                            <td>EX</td>
                            <td>VG</td>
                            <td>VG</td>
                            <td>每卡: <b>5143.77</b></td>
                        </tr>
                        <tr>
                        	<td>FMP3971</td>
                            <td>无奶</td>
                            <td>无咖</td>
                            <td>N</td>
                            <td class="red">每粒: <b>925.88</b></td>
                        </tr>
                    </tbody>
                    <table class="table  text-center">
                  	<tbody>
                    	<tr class="head">
                        	<td>圆形</td>
                            <td colspan="3">GIA:1197170918</td>
                            <td>国际: 750.00</td>
                        </tr>
                        <tr>
                        	<td><b>0.19CT</b></td>
                            <td>K</td>
                            <td>VS1</td>
                            <td>GIA</td>
                            <td class="red">折扣: <b>102.67</b></td>
                        </tr>
                        <tr>
                        	<td>国外</td>
                            <td>EX</td>
                            <td>VG</td>
                            <td>VG</td>
                            <td>每卡: <b>5143.77</b></td>
                        </tr>
                        <tr>
                        	<td>FMP3971</td>
                            <td>无奶</td>
                            <td>无咖</td>
                            <td>N</td>
                            <td class="red">每粒: <b>925.88</b></td>
                        </tr>
                    </tbody>
                    <table class="table  text-center">
                  	<tbody>
                    	<tr class="head">
                        	<td>圆形</td>
                            <td colspan="3">GIA:1197170918</td>
                            <td>国际: 750.00</td>
                        </tr>
                        <tr>
                        	<td><b>0.19CT</b></td>
                            <td>K</td>
                            <td>VS1</td>
                            <td>GIA</td>
                            <td class="red">折扣: <b>102.67</b></td>
                        </tr>
                        <tr>
                        	<td>国外</td>
                            <td>EX</td>
                            <td>VG</td>
                            <td>VG</td>
                            <td>每卡: <b>5143.77</b></td>
                        </tr>
                        <tr>
                        	<td>FMP3971</td>
                            <td>无奶</td>
                            <td>无咖</td>
                            <td>N</td>
                            <td class="red">每粒: <b>925.88</b></td>
                        </tr>
                    </tbody>
                  </table>
               </div>
               <div class="tab-pane fade" id="bulk">
                  <table class="table bulk">
                  	<thead>
                    	<tr>         
                        	<td>货号</td>
                            <td>库存(ct）</td>
                            <td>颜色</td>
                            <td>净度</td>
                            <td>切工</td>
                            <td>统走定价</td>
                        </tr>
                    </thead>
                  	<tbody class="color">
                    	<tr class="head">
                        	<td>03-08SAGH</td>
                            <td>55.14</td>
                            <td>GH</td>
                            <td>SI1-SI2</td>
                            <td>EX</td>
                            <td>¥2835.00</td>
                        </tr>
                        <tr>
                        	<td colspan="6">
                            	详细描述: 这包货的颜色GH：GH占100%，净度是SI1-SI2：SI1-SI2
                            	为70%;SI2-SI3为30%；颜色：切工是EX：EX为70%；VG为30%；分数
                            	或筛号是03-08:000-00为29.7%；00-0为29.99%；0-1为12.32%；
                            	1-1.5为17.51%；1.5-2为6.24%；2-2.5为12.21%
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    	<tr class="head">
                        	<td>03-08SAGH</td>
                            <td>55.14</td>
                            <td>GH</td>
                            <td>SI1-SI2</td>
                            <td>EX</td>
                            <td>¥2835.00</td>
                        </tr>
                        <tr>
                        	<td colspan="6">
                            	详细描述: 这包货的颜色GH：GH占100%，净度是SI1-SI2：SI1-SI2
                            	为70%;SI2-SI3为30%；颜色：切工是EX：EX为70%；VG为30%；分数
                            	或筛号是03-08:000-00为29.7%；00-0为29.99%；0-1为12.32%；
                            	1-1.5为17.51%；1.5-2为6.24%；2-2.5为12.21%
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    	<tr class="head">
                        	<td>03-08SAGH</td>
                            <td>55.14</td>
                            <td>GH</td>
                            <td>SI1-SI2</td>
                            <td>EX</td>
                            <td>¥2835.00</td>
                        </tr>
                        <tr>
                        	<td colspan="6">
                            	详细描述: 这包货的颜色GH：GH占100%，净度是SI1-SI2：SI1-SI2
                            	为70%;SI2-SI3为30%；颜色：切工是EX：EX为70%；VG为30%；分数
                            	或筛号是03-08:000-00为29.7%；00-0为29.99%；0-1为12.32%；
                            	1-1.5为17.51%；1.5-2为6.24%；2-2.5为12.21%
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    	<tr class="head">
                        	<td>03-08SAGH</td>
                            <td>55.14</td>
                            <td>GH</td>
                            <td>SI1-SI2</td>
                            <td>EX</td>
                            <td>¥2835.00</td>
                        </tr>
                        <tr>
                        	<td colspan="6">
                            	详细描述: 这包货的颜色GH：GH占100%，净度是SI1-SI2：SI1-SI2
                            	为70%;SI2-SI3为30%；颜色：切工是EX：EX为70%；VG为30%；分数
                            	或筛号是03-08:000-00为29.7%；00-0为29.99%；0-1为12.32%；
                            	1-1.5为17.51%；1.5-2为6.24%；2-2.5为12.21%
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    	<tr class="head">
                        	<td>03-08SAGH</td>
                            <td>55.14</td>
                            <td>GH</td>
                            <td>SI1-SI2</td>
                            <td>EX</td>
                            <td>¥2835.00</td>
                        </tr>
                        <tr>
                        	<td colspan="6">
                            	详细描述: 这包货的颜色GH：GH占100%，净度是SI1-SI2：SI1-SI2
                            	为70%;SI2-SI3为30%；颜色：切工是EX：EX为70%；VG为30%；分数
                            	或筛号是03-08:000-00为29.7%；00-0为29.99%；0-1为12.32%；
                            	1-1.5为17.51%；1.5-2为6.24%；2-2.5为12.21%
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    	<tr class="head">
                        	<td>03-08SAGH</td>
                            <td>55.14</td>
                            <td>GH</td>
                            <td>SI1-SI2</td>
                            <td>EX</td>
                            <td>¥2835.00</td>
                        </tr>
                        <tr>
                        	<td colspan="6">
                            	详细描述: 这包货的颜色GH：GH占100%，净度是SI1-SI2：SI1-SI2
                            	为70%;SI2-SI3为30%；颜色：切工是EX：EX为70%；VG为30%；分数
                            	或筛号是03-08:000-00为29.7%；00-0为29.99%；0-1为12.32%；
                            	1-1.5为17.51%；1.5-2为6.24%；2-2.5为12.21%
                            </td>
                        </tr>
                    </tbody>
                  </table>
               </div>
            </div>
            <!--底部-->
            <div class="navbar-fixed-bottom area-bottom">
                <button type="button" class="btn btn-assign">确定</button>
               
            </div>
        
   		</div>
	</div>
   
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
