<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/product.css">
<title>产品分类</title>
</head>

<body class="wrap-bg">
	<!--头部-->
    <header class="header text-center sort-head">
        <a href="product.html" class="">产品分类</a>
        <a href="brand.html" class="">品牌系列</a>
    </header>
    <!--内容-->
    <div class="container wrap">
    	<div class="row">
        	<!--搜索-->
                <div class="col-lg-12 search">
                    <div class="input-group">
                    	<span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        <input type="text" class="form-control" placeholder="编号、名称、系列">
                    </div>
                </div>
           <!--分类列表-->
            <div class="panel-group product-list" id="accordion">
                  <div class="panel panel-default">
                  	<img src="img/product-bg_01.jpg" alt="">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" 
                          href="#collapseOne">
                          钻饰成品
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse"><!--加 in 自动展开-->
                      <div class="panel-body">
                        	<ul>
                            	<li><a href="#">戒指</a></li>
                                <li><a href="#">手链</a></li>
                                <li><a href="#">耳饰</a></li>
                                <li><a href="#">对戒</a></li>
                                <li><a href="#">吊坠</a></li>
                                <li><a href="#">项链</a></li>
                                <li><a href="#">胸针</a></li>
                                <li><a href="#">手镯</a></li>
                                <li><a href="#">全部</a></li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                  	<img src="img/product-bg_02.jpg" alt="">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" 
                          href="#collapseTwo">
                          彩宝成品
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                       <div class="panel-body">
                        	<ul>
                            	<li><a href="#">戒指</a></li>
                                <li><a href="#">手链</a></li>
                                <li><a href="#">耳饰</a></li>
                                <li><a href="#">对戒</a></li>
                                <li><a href="#">吊坠</a></li>
                                <li><a href="#">项链</a></li>
                                <li><a href="#">胸针</a></li>
                                <li><a href="#">手镯</a></li>
                                <li><a href="#">全部</a></li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                  	<img src="img/product-bg_03.jpg" alt="">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" 
                          href="#collapseThree">
                          翡翠
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                       <div class="panel-body">
                        	<ul>
                            	<li><a href="#">戒指</a></li>
                                <li><a href="#">手链</a></li>
                                <li><a href="#">耳饰</a></li>
                                <li><a href="#">对戒</a></li>
                                <li><a href="#">吊坠</a></li>
                                <li><a href="#">项链</a></li>
                                <li><a href="#">胸针</a></li>
                                <li><a href="#">手镯</a></li>
                                <li><a href="#">全部</a></li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                  	<img src="img/product-bg_04.jpg" alt="">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" 
                          href="#collapseFour">
                          玉石
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                       <div class="panel-body">
                        	<ul>
                            	<li><a href="#">戒指</a></li>
                                <li><a href="#">手链</a></li>
                                <li><a href="#">耳饰</a></li>
                                <li><a href="#">对戒</a></li>
                                <li><a href="#">吊坠</a></li>
                                <li><a href="#">项链</a></li>
                                <li><a href="#">胸针</a></li>
                                <li><a href="#">手镯</a></li>
                                <li><a href="#">全部</a></li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                  	<img src="img/product-bg_05.jpg" alt="">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" 
                          href="#collapseFive">
                          珍珠
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                       <div class="panel-body">
                        	<ul>
                            	<li><a href="#">戒指</a></li>
                                <li><a href="#">手链</a></li>
                                <li><a href="#">耳饰</a></li>
                                <li><a href="#">对戒</a></li>
                                <li><a href="#">吊坠</a></li>
                                <li><a href="#">项链</a></li>
                                <li><a href="#">胸针</a></li>
                                <li><a href="#">手镯</a></li>
                                <li><a href="#">全部</a></li>
                            </ul>
                      </div>
                    </div>
                  </div>
                   <div class="panel panel-default">
                  	<img src="img/product-bg_06.jpg" alt="">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" 
                          href="#collapseSix">
                          黄金
                        </a>
                      </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                       <div class="panel-body">
                        	<ul>
                            	<li><a href="#">戒指</a></li>
                                <li><a href="#">手链</a></li>
                                <li><a href="#">耳饰</a></li>
                                <li><a href="#">对戒</a></li>
                                <li><a href="#">吊坠</a></li>
                                <li><a href="#">项链</a></li>
                                <li><a href="#">胸针</a></li>
                                <li><a href="#">手镯</a></li>
                                <li><a href="#">全部</a></li>
                            </ul>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                  	<img src="img/product-bg_07.jpg" alt="">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" 
                          href="#collapseSeven">
                          铂金
                        </a>
                      </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                       <div class="panel-body">
                        	<ul>
                            	<li><a href="#">戒指</a></li>
                                <li><a href="#">手链</a></li>
                                <li><a href="#">耳饰</a></li>
                                <li><a href="#">对戒</a></li>
                                <li><a href="#">吊坠</a></li>
                                <li><a href="#">项链</a></li>
                                <li><a href="#">胸针</a></li>
                                <li><a href="#">手镯</a></li>
                                <li><a href="#">全部</a></li>
                            </ul>
                      </div>
                    </div>
                  </div>
                </div>
    
    
   		</div>
	</div>
    <!--底部-->
    <footer class="footer">
    	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
              <ul class="nav">
                 <li><a href="#"><i class="glyphicon glyphicon-home"></i>首页</a></li>
                 <li class="active"><a href="#"><i class="glyphicon glyphicon-list"></i>分类</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-globe"></i>珠宝资讯</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i>购物车</a></li>
                 <li><a href="#"><i class="glyphicon glyphicon-user"></i>个人</a></li> 
              </ul>
		</nav>
    </footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
