<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/style.css">
<title>注册</title>
</head>

<body class="wrap-bg">
	<!--头部-->
    <header class=" header text-center">
    	<a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
    		注册
    </header>
    <!--内容-->
    <div class="container">
        <form class="form-horizontal form-signin registr" role="form">
              <div class="form-group">
                <label class="iconic-input"></label>
                <div class="col-sm-12 iconic-input">
                	<i class="glyphicon glyphicon-user"></i>
                  <input type="text" class="form-control" id="" placeholder="用户名">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12 iconic-input">
                	<i class="glyphicon glyphicon-lock"></i>
                  <input type="password" class="form-control" id="" placeholder="登录密码">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12 iconic-input">
                	<i class="glyphicon glyphicon-lock"></i>
                  <input type="password" class="form-control" id="" placeholder="确认密码">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12 iconic-input">
                	<i class="glyphicon glyphicon-envelope"></i>
                  <input type="text" class="form-control" id="" placeholder="邮箱">
                </div>
              </div>
               <div class="form-group">
                <div class="col-sm-12 iconic-input">
                	<i class="glyphicon glyphicon-earphone"></i>
                  <input type="text" class="form-control" id="" placeholder="手机号">
                </div>
              </div>
              <label class="checkbox">
                <input type="checkbox" value="remember-me"> 同意并接受<a href="#">&nbsp;《用户协议》</a>
            </label>
               <button type="button" class="btn btn-lg btn-block btn-login">确认</button>
               <p class="text-center">我有用户名&nbsp;<a href="#">登录</a></p>
		</form>
    </div>
</div>
</body>
</html>
