<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/main.css">
<title>首页-珠宝成品系列</title>
</head>

<body class="product-bg">
	<!--头部-->
    <header class="header sub-header text-center">
    	主题系列
        <a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a href="#" class="pull-right">搜索</a>
    </header>
    <!--内容-->
    <div class="container">
    	<div class="product text-center">
        	<ul>
            	<li>
                	<div class="product-img"><a href="#"><img src="img/series.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【匠心系列】</p>
                            <p>天然翡翠戒指</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
               <li>
                	<div class="product-img"><a href="#"><img src="img/series.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【匠心系列】</p>
                            <p>天然翡翠戒指</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
                 <li>
                	<div class="product-img"><a href="#"><img src="img/series.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【匠心系列】</p>
                            <p>天然翡翠戒指</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
                <li>
                	<div class="product-img"><a href="#"><img src="img/series.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【匠心系列】</p>
                            <p>天然翡翠戒指</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
               <li>
                	<div class="product-img"><a href="#"><img src="img/series.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【匠心系列】</p>
                            <p>天然翡翠戒指</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
                 <li>
                	<div class="product-img"><a href="#"><img src="img/series.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【匠心系列】</p>
                            <p>天然翡翠戒指</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
                <li>
                	<div class="product-img"><a href="#"><img src="img/series.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【匠心系列】</p>
                            <p>天然翡翠戒指</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
                 <li>
                	<div class="product-img"><a href="#"><img src="img/series.jpg" alt="产品图片" width="140" height="140"></a></div>
                    <div class="info">
                    	<a href="#">
                    		<p>【匠心系列】</p>
                            <p>天然翡翠戒指</p>
                            <em>¥888</em>
                    	</a>
                    </div>
                </li>
            </ul>
        </div>
	</div>
    
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
