<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人信息-订单支付</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/user.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/user.js"></script>
</head>
<body>
	<!-- Header -->
	<header class="header text-center">
    	订单支付
        <a href="javascript:;" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </header>
    <!-- Header END //-->

	<!-- Main -->
    <div class="container-fluid user-info user-order-payment">
		<div class="panel panel-default border-radius-none border-none">
			<div class="panel-body username usbox">
				<h5>订单总额: <span class="red">￥12500.00</span></h5>
				<p class="zffs">支付方式：</p>
				<p>您可以联系公司财务，完成线下转账支付电话：13888888888 <br> 0755-11111111</p>
			</div>
		</div>
	</div>
    <!-- Main END //-->

</body>
</html>