<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-修改密码</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/user.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/user.js"></script>
</head>
<body class="wrap-bg">
	<!-- Header -->
	<header class="header text-center">
    	修改密码
        <a href="javascript:;" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </header>
    <!-- Header END //-->

	<!-- Main -->
    <div class="container-fluid user-info user-password">
		<form name="" action="" method="">
			<div class="form-group">
			    <div class="col-sm-12">
			      <input type="password" class="form-control" name="" placeholder="请输入旧密码">
			    </div>
			    <div class="col-sm-12">
			      <input type="password" class="form-control" name="" placeholder="请输入新密码">
			    </div>
			    <div class="col-sm-12">
			      <input type="password" class="form-control" name="" placeholder="请再次输入新密码">
			    </div>
			    <div class="col-sm-12">
			    	<button type="button" class="btn btn-primary exit-button">确认修改</button>
			    </div>
			</div>
		</form>
	</div>
    <!-- Main END //-->

</body>
</html>