<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>消息中心</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/user.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/user.js"></script>
</head>
<body>
	<!-- Header -->
	<header class="header text-center user-message-header">
        <a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
       		消息
       	<a href="#" class="pull-right">清空</a>
    </header>
    <!-- Header END //-->

    <!-- Main -->
    <div class="container-fluid message-main">
    	<div class="panel panel-default border-radius-none">
		  <div class="padding-10 message-list">
		    <h5>恭喜您资料审核通过！<small>3-12  12:28</small></h5>
		    <span class="message-delete text-center">删除</span>
		    <div class="clear"></div>
		  </div>
		</div>
		<div class="panel panel-default border-radius-none">
		  <div class="padding-10 message-list">
		    <h5>恭喜您资料审核通过！<small>3-12  12:28</small></h5>
		    <span class="message-delete text-center">删除</span>
		    <div class="clear"></div>
		  </div>
		</div>
		<div class="panel panel-default border-radius-none">
		  <div class="padding-10 message-list">
		    <h5>恭喜您资料审核通过！<small>3-12  12:28</small></h5>
		    <span class="message-delete text-center">删除</span>
		    <div class="clear"></div>
		  </div>
		</div>
		<div class="panel panel-default border-radius-none">
		  <div class="padding-10 message-list">
		    <h5>恭喜您资料审核通过！<small>3-12  12:28</small></h5>
		    <span class="message-delete text-center">删除</span>
		    <div class="clear"></div>
		  </div>
		</div>
		<div class="panel panel-default border-radius-none">
		  <div class="padding-10 message-list">
		    <h5>恭喜您资料审核通过！<small>3-12  12:28</small></h5>
		    <span class="message-delete text-center">删除</span>
		    <div class="clear"></div>
		  </div>
		</div>
    </div>
    <!-- Main END //-->
</body>
</html>