<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人信息</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/aftersales.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body class="wrap-bg">
	<!-- Header -->
	<header class="header text-center">
      <a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
      售后详情
      <a href="tel:0595-8225666" class="pull-right">客服</a>
  </header>
    <!-- Header END //-->


	<!-- Main -->
    <div class="container-fluid user-info sh-progress">

			<section class="after-sales-list">
				<span class="pull-left">订单号：20160916258411</span>
				<span class="pull-right red">受理中</span>
				<div class="clearfix"></div>
			</section>

			<section class="after-sales-list">
				<div class="shlx">
					<h4>问题描述</h4>
					<p class="miaoshu">戒指戴着不舒服，主石看起来太小了，我想换大一点的，戒托的款型也感觉戴着不潮流，总之就是想换一个</p>
					<p class="times">2016-10-21 09:03:05</p>
				</div>
			</section>
			
			<section class="after-sales-list">
				<div class="shlx">
					<h4>审核留言</h4>
					<p class="shenhezhong">正在审核中......</p>
				</div>
			</section>

			<section class="after-sales-list">
				<div class="shlx">
					<h4>受理结果</h4>
					<p class="shenhezhong">正在审核中......</p>
				</div>
			</section>

    </div>
    <!-- Main END //-->

</body>
</html>