<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人信息</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/aftersales.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body class="wrap-bg">
	<!-- Header -->
	<header class="header text-center">
  	申请售后
      <a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
  </header>
    <!-- Header END //-->


	<!-- Main -->
    <div class="container-fluid user-info">

			<section class="after-sales-list">

				<div class="shouhou shouhouxq">
					
					<!-- 结构类型1 -->
					<div class="tbody">
						<div class="cbimg pull-left"><img src="http://demo.btbzm.com/Public/Uploads/product/2016-09-01/57c7d0d3e26f6_2.jpg" alt=""></div>
						<div class="after-data pull-left">
							<p>钻石女戒指【空托】</p>
							<p>数量：x1 &nbsp;&nbsp;&nbsp; 价格：￥986.00</p>
						</div>
						<div class="clearfix"></div>
					</div>
					
					<!-- 结构类型2 -->
					<div class="tbody tbody2">
						<div class="after-data pull-left">
							<p>裸钻 货品编号：FME6420</p>
							<p>GIA 2214685824</p>
							<p>0.3ct L色 SI2净度 EX切工</p>
							<p>数量：x1</p>
						</div>
						<div class="clearfix"></div>
					</div>

				</div>

				

			</section>
			
			<section class="after-sales-list">
				<div class="shlx">
					<h4>售后类型</h4>
					<div class="shouhoutype"> 
						<button type="button" class="btn btn-primary">换货</button>
						<button type="button" class="btn btn-default">退货退款</button>
						<button type="button" class="btn btn-default">其它</button>
					</div>
				</div>
			</section>

			<section class="after-sales-list">
				<div class="shlx">
					<h4>问题描述</h4>
					<textarea cols="30" rows="5" class="form-control" placeholder="您尽可能详细描述问题，字数不超过500"></textarea>
				</div>
			</section>

			<section class="shouhouxq-sub">
				<p class="alert">温馨提示：非质量问题不支持退货</p>
				<p class="alert text-center"><button type="submit" class="btn btn-primary btn-block">提交</button></p>
			</section>

    </div>
    <!-- Main END //-->

</body>
</html>