<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人信息</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/aftersales.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body class="wrap-bg">
	<!-- Header -->
	<header class="header text-center">
  	售后服务
      <a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
  </header>
    <!-- Header END //-->


	<!-- Main -->
    <div class="container-fluid user-info">

			<section class="after-sales-box">
				<div class="after-sales-head">
					<span><a href="售后服务-申请售后.html">申请售后</a></span>
					<span class="active"><a href="售后服务-售后进度.html">售后进度</a></span>
					<div class="clearfix"></div>
				</div>
			</section>

			<section class="after-sales-list">
				<div class="thead">
					<span class="pull-left">订单号：20160916258411</span>
					<span class="pull-right red">受理中</span>
					<div class="clearfix"></div>
				</div>
				<div class="tbody">
					<div class="cbimg pull-left"><img src="http://demo.btbzm.com/Public/Uploads/product/2016-09-01/57c7d0d3e26f6_2.jpg" alt=""></div>
					<div class="after-data pull-right">
						<p>钻石女戒指【空托】</p>
						<p>提交时间：2016-10-21   09:03:05</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="tfoot">
					<a href="售后服务-售后进度-详情.html" class="btn btn-default pull-right">查看详情</a>
					<div class="clearfix"></div>
				</div>
			</section>

			<section class="after-sales-list">
				<div class="thead">
					<span class="pull-left">订单号：20160916258411</span>
					<span class="pull-right red">受理中</span>
					<div class="clearfix"></div>
				</div>
				<div class="tbody">
					<div class="cbimg pull-left"><img src="http://demo.btbzm.com/Public/Uploads/product/2016-09-01/57c7d0d3e26f6_2.jpg" alt=""></div>
					<div class="after-data pull-right">
						<p>钻石女戒指【空托】</p>
						<p>提交时间：2016-10-21   09:03:05</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="tfoot">
					<a href="售后服务-售后进度-详情.html" class="btn btn-default pull-right">查看详情</a>
					<div class="clearfix"></div>
				</div>
			</section>

    </div>
    <!-- Main END //-->

</body>
</html>