<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>证书查询</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/aftersales.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body class="wrap-bg">
	<!-- Header -->
	<header class="header text-center">
      <a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
      证书查询
  </header>
    <!-- Header END //-->


	<!-- Main -->
    <div class="container-fluid user-info sh-progress zsquery">

      <section class="shouhouxq-sub">
        <p class="alert text-center">
          <select class="form-control">
            <option>GIA证书查询</option>
            <option>GIB证书查询</option>
            <option>GIC证书查询</option>
            <option>GID证书查询</option>
          </select>
        </p>
      </section>

      <section class="shouhouxq-sub">
        <p class="alert text-center"><input type="text" class="form-control" placeholder="请输入证书编号"></p>
      </section>

      <section class="shouhouxq-sub">
        <p class="alert text-center"><button type="submit" class="btn btn-primary btn-block">查询</button></p>
      </section>

    </div>
    <!-- Main END //-->

</body>
</html>