<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>证书查询</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/aftersales.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body class="wrap-bg">
	<!-- Header -->
	<header class="header text-center">
      <a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
      查询内容
  </header>
    <!-- Header END //-->


	<!-- Main -->
    <div class="container-fluid user-info sh-progress zsquery">

      <section class="shouhouxq-sub cxbox">
        <table>
          <tbody>
            <tr>
              <th>证书编号</th>
              <td>2237574421</td>
            </tr>
            <tr>
              <th>颁发日期</th>
              <td>01/01/2015</td>
            </tr>
            <tr>
              <th>下腰小面比</th>
              <td>无</td>
            </tr>
            <tr>
              <th>净度特征</th>
              <td>Feather, Cloud, Crystal, Needle, Indented Natural</td>
            </tr>
          </tbody>
        </table>
      </section>

    </div>
    <!-- Main END //-->

</body>
</html>