<include file="Public:header" />
<body>
    <section class="orders-status product-evaluation">

        <header>
            <div class="web-top">
                <div class="back-box">
                    <img src="__IMG__/back_icon.png" onclick="history.back(-1)" class="back-img" alt="">
                </div>
                <h2>商品评价</h2>
            </div>
        </header>

        <section class="wrapper">

 
			
			
            <!-- 商品类型二 -->
            <div class="goods-item">
                <div class="goods-layout clearfix">
                    <div class="goods-img">
                        <a ><img src="{$orderGoodsInfo['attribute']['thumb']}" alt=""></a>
                    </div>
                    <div class="goods-right">
                        <h2><a >{$orderGoodsInfo['attribute']['goods_name']}</a></h2>
                        <div class="goods-fangshi clearfix">
                            <span class="fl c9 rmb">￥<span class="price">{$orderGoodsInfo['goods_price']}</span></span>
                            <span class="fr">
                                <small>x<?php echo intval($orderGoodsInfo['goods_number']);?></small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 商品类型二 end -->

			<if condition="$orderGoodsInfo['oeval'] neq 2 ">
            <!-- 未评价 -->
            <div class="no-evaluation">
                <div class="item-box">
                    <div class="desc">
                        <h2>评价描述</h2>
                        <textarea name="control" maxlength="200" placeholder="写下对商品的评价（最多200字内）"></textarea>
                    </div>
                </div>

                <!-- 评分 -->
                <script src="__JS__/starScore.js"></script>
                <div class="item-box">
                    <div class="desc">
                        <h2>服务评价</h2>
                        <div class="star">
                            <div id="starttwo" class="clearfix">
                                <div class="star-box">
                                    <h3 class="fl">评分情况：</h3>
                                    <div class="star_score fl"></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="star-box">
                                    <h3 class="fl">评分等级：</h3>
                                    <div class="attitude fl"></div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- <p><span class="fenshu"></span> 分</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    scoreFun($("#starttwo"),{
                        fen_d:22,//每一个a的宽度
                        ScoreGrade:5//a的个数5
                    });
                    //显示分数
                    $(".show_number li p").each(function(index, element) {
                        var num=$(this).attr("tip");
                        var www=num*2*16;//
                        $(this).css("width",www);
                        $(this).parent(".atar_Show").siblings("span").text(num+"分");
                    });
                </script>
                <!-- 评分 end -->
            </div>
            <!-- 未评价 end -->
			
            <!-- 提交评价 -->
            <div class="operation">
                <p><button type="button" class="operation-btn">提交评价</button></p>
            </div>
            <!-- 提交评价 end -->			
			
			
			<else/>
            <!-- 己评价 -->
            <div class="yes-evaluation" >
                <div class="item-box">
                    <div class="desc">
                        <h2>服务评价</h2>
                        <div class="star">
                            <div id="" class="clearfix">
                                <div class="star-box">
                                    <h3 class="fl">评分情况：</h3>
                                    <div class="star_score fl">
										<?php if ($orderGoodsInfo['start'] == 1): ?>
										  <img src="__IMG__/star_true.png" alt="">
										<?php elseif($orderGoodsInfo['start'] == 2): ?>
										  <img src="__IMG__/star_true.png" alt="">
										  <img src="__IMG__/star_true.png" alt="">
										<?php elseif($orderGoodsInfo['start'] == 3): ?>
										  <img src="__IMG__/star_true.png" alt="">
										  <img src="__IMG__/star_true.png" alt="">
										   <img src="__IMG__/star_true.png" alt="">
										<?php elseif($orderGoodsInfo['start'] == 4): ?>
										  <img src="__IMG__/star_true.png" alt="">
										  <img src="__IMG__/star_true.png" alt="">
										  <img src="__IMG__/star_true.png" alt="">
										  <img src="__IMG__/star_true.png" alt="">
										<?php else: ?>
										  <img src="__IMG__/star_true.png" alt="">
										  <img src="__IMG__/star_true.png" alt="">
										  <img src="__IMG__/star_true.png" alt="">
										  <img src="__IMG__/star_true.png" alt="">
										  <img src="__IMG__/star_true.png" alt="">
										<?php endif; ?> 
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="star-box">
                                    <h3 class="fl">评分等级：</h3>
                                    <div class="attitude fl">好评</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="star-box">
                                    <h3 class="fl">评价描述：</h3>
                                    <div class="attitude fl">{$orderGoodsInfo['control']}</div>
                                    <div class="clearfix"></div>
                                </div>
                                <p>{$orderGoodsInfo['createtime']|date="Y年m月d日",###}</p>
                                <!-- <p><span class="fenshu"></span> 分</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			</if>
            <!-- 己评价 end -->



        </section>

    </section>
	
	

	<script>
	
	
		var EvCondition = {
			'start'	: '',
			'control'	: '',	
			'og_id'			: '<?php echo $orderGoodsInfo['og_id'];?>',
		}
		
		


		$('button').click(function(){
			EvCondition.control  = $('textarea[name="control"]').val();
			EvCondition.start 	 = $('.clibg').index()+1;
			if(!(/^\S{1,500}$/.test(EvCondition.control))){
				CommonFunction.Prompt.Tan('请填写1-500以内的问题描述！');
				return false;
			}
			BringAjax.IntendData.SwitchMain = 1;
			BringAjax.IntendData.SuccessEvet = function(){ CommonFunction.Link.Href('/User/EvaluateList/order_id/'+<?php echo $orderGoodsInfo['order_id'];?>);};
			EasyTransition(EvCondition); 
		});			
 
	
	</script>
	
	
	
	
	
	<include file="Public:foot" />	

</body>
</html>
