<include file="Public:header" />
<body>
    <section class="user edit-password">

        <header>
            <div class="web-top">
                <div class="back-box">
                    <img src="__IMG__/back_icon.png" onclick="location='/User/index'" class="back-img" alt="">
                </div>
                <h2>修改密码</h2>
            </div>
        </header>

        <div class="wrapper">

            <div class="module-box user-main-list">
                <ul>
                    <li>
                        <input type="password" name="password" 	  value="" Func="Verif,Password" placeholder="请输入原始的登录密码" class="pass-text">
                    </li>
                </ul>
            </div>

            <div class="module-box user-main-list">
                <ul>
                    <li>
                        <input type="password" name="password1" value="" Func="Verif,Password"  placeholder="请输入确认后的新密码" class="pass-text">
                    </li>
                    <li>
                        <input type="password" name="password2" value="" Func="Verif,Password"  placeholder="请再次输入确认后的新密码" class="pass-text">
                    </li>
                </ul>
            </div>

            <div class="add-box">
                <button type="submit" class="add-address-btn">确定修改</button>
            </div>
        </div>
		<script>
			$('button').click(function(){
				VerifData.InitCondition.Div = '.wrapper';
				VerifData.Main();
				if(VerifData.InitCondition.Status==1){
					BringAjax.IntendData.SwitchMain = 1;
					EasyTransition(VerifData.Condition);
					CommonFunction.Link.Href('/User/index');
				}
			});		
		
		</script>
		
    </section>
</body>
</html>
