<include file="Public:header" />

<body>
    <section class="upload-credentials credentials-state">

        <header>
            <div class="web-top">
                <div class="back-box">
                    <img src="__IMG__/back_icon.png" onclick="history.back(-1)" class="back-img" alt="">
                </div>
                <h2>正在跳转支付宝中</h2>
            </div>
        </header>

        <section class="wrapper">
            <div class="item-box">
					<div class="content succeed">
						<h2>温馨提示：</h2>
						<p>如果您选择线下转账付款，请在转完后保留凭证，拍照或截图上传，如需帮助请联系客服 <?php echo C('site_contact');?>，选择在线支付无需上传凭证。</p>
					</div>
            </div>
        </section>
  {$html_text}
    </section>
<include file="Public:foot" />
</body>
</html>