<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/main.css">
<script src="__JS__/common.js"></script>
<title>个性定制专区-商品详情</title>
</head>

<body>
	<!--头部-->
    <header class="header sub-header text-center">
        <a href="#" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
        商品详情
    </header>
    <!--内容-->
    <div class="container">
    	<div class="product-info row">
        	<div class=""><img src="img/info_01.jpg" alt="商品详情页"></div>
            <div class="info">
            	<h4>钻石女戒指30分-1.0卡拉【铭刻之吻】</h4>
                <p class="default">商品编号：XSH001XB0234</p>
                <p>价格：<em>¥8888</em></p>
            </div>
            <div class="col-lg-12 col-xs-12 screen">
            	<h4>定制金工石</h4>
            	<dl>
                	<dt>材质：</dt>
                    <div class="border">
                    	<dd>白18K金</dd>
                    	<dd>红18K金</dd>
                    </div>
                </dl>
                <dl>
                	<dt>重量：</dt>
                    <div>
                    	<dd>6g</dd>
                    	<dd>6g</dd>
                    </div>
                </dl>
                <dl>
                	<dt>损耗：</dt>
                    <div>
                    	<dd>15%</dd>
                    	<dd>15%</dd>
                    </div>
                </dl>
                <dl>
                	<dt>工费：</dt>
                    <div>
                    	<dd>400.00</dd>
                    	<dd>400.00</dd>
                    </div>
                </dl>
                <dl>
                	<dt>手寸：</dt>
                    <dd>
                    	<select name="" id="">
                    		<option value="0">9</option>
                            <option value="1">10</option>
                            <option value="2">11</option>
                            <option value="3">12</option>
                            <option value="4">13</option>
                            <option value="5">14</option>
                    	</select>
                    </dd>
                </dl>
                <dl>
                	<dt>刻字：</dt>
                    <dd><input class="form-control" type="text" placeholder="最多能写10个字"></dd>
                </dl>
                <dl>
                	<dt>副石：</dt>
                    <div class="border">
                    	<dd>SAGH2颗0.06CT</dd>
                        <dd>SBGH2颗0.06CT</dd>
                        <dd>厂配</dd>
                    </div>
                </dl>
                <dl>
                	<dt>可搭配的主石：</dt>
                    <div class="border">
                    	<dd>圆形0.3CT </dd>
                        <dd>圆形0.5CT</dd>
                        <dd>圆形0.3CT</dd>
                        <dd>圆形0.5CT</dd>
                    </div>
                </dl>
                <dl>
                	<dt>附加工费：</dt>
                    <dd><em>¥70.00</em></dd>
                </dl>
                <dl>
                	<dt>预计交货时间：</dt>
                    <dd>15个工作日</dd>
                </dl>
                <p>特别说明：  售价不含主钻价格，主钻另行选配，详细报价以出货清单为准。</p>
            </div>
            <div class="sign">
            	<h4>详情参数</h4>
            </div>
            <div class="col-xs-12 info-img">
            	<ul>
                	<li><img src="img/info_02.jpg" alt=""></li>
                    <li><img src="img/info_03.jpg" alt=""></li>
                    <li><img src="img/info_04.jpg" alt=""></li>
                </ul>
            </div>
        </div>
	</div>
    <!--立即定制-->
    <div class="Instant">
        <button type="button" class="btn btn-default pull-right">立即定制</button>
    </div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
