@charset "utf-8";
/* CSS Document */


.empty{text-align:center;margin-top: 5em;}
.empty a{border:1px solid #fd7d16; color:#fd7d16; background:transparent;padding: 6px 16px;}

/**/
.cart{ position: relative; padding-bottom:50px;  }
.cart .media{ background:#fff;padding: 10px;margin-top:14px; border-bottom:1px solid #dcdcdc; border-top:1px solid #dcdcdc;}
.cart .media .square-blue{margin:30px 10px 0 0;}
.cart .media .radio{padding-left: 0px}
.cart .media h4 del{font-size:12px; color:#979797;}
.cart .media-body p big{ color:#fe0000;}
.cart .cart-btn .btn{padding: 4px 8px;}
.cart .cart-btn .form-input{ height: 30px; border: 0; box-shadow: none; }
.order-all{margin-top: 18px; margin-bottom:40px; }
.order-all em{font-style: normal;color:#fe0000;}
.cart-fixed{position: absolute;width: 100%;bottom: -7px;background: #fff; line-height: 42px;text-indent: 2px; /* padding:10px 0; */ border-top:1px solid #959595;  }
.cart-fixed .radio{padding-left: 8px;}
.cart-fixed span{ margin-left: 5px; }
.cart-fixed span big{color:#fe0000;}
.cart-fixed span button{ margin-right:10px;}

/*匹配钻石*/
.rank{height: auto;padding-top: 8px;}
.rank p{float: left; line-height: 24px; color:#494949;}
.rank p em{font-style: normal;color:#fe0000; }
.cart .all{padding-top: 10px;font-size: 14px;padding-left: 6px; }
.cart .all span{margin: 0px 6px;text-align: center;}
.cart .all span em{font-style: normal;color:#fe0000;}
.cart .info{padding-left: 8px;color: #737272;}

/*商品列表*/
.cart .radius img{border-radius: 6px; -webkit-border-radius:6px; -moz-border-radius:6px; border:1px solid #a0a0a0;}
.cart .media-body b{color: #5281d7;}

/* cart-submit-order-successful */
.cart-submit-order-successful .blue { border-color: #7FA1F8; color: #4073F4;}
.cart-submit-order-successful .cussimg { width: 2em; margin-right: 0.5em;}
.cart-submit-order-successful .succebox p { font-size: 0.8em;}
.cart-submit-order-successful .empty { margin-top: 2em;}
.cart-submit-order-successful .blue { display: inline-block; margin-top: 1em;}

/* cart-submit-order */
.ratext { float: left;}
.psfs { float: right;}
.rabox { line-height: 3em;}
.rabox .square-blue { float: left; line-height: 3em;}
.rabox .square-blue .iradio_square-blue { margin-right: 0.2em;}
.radio, .checkbox { padding-left: 0.3em;}
.submit-order { margin: 3em 0 2.5em 0;}
.borbot { border-bottom: 1px solid #F0F0F1; padding-bottom: 1em;}