@charset "utf-8";

/*全局定义*/
*{padding:0;margin:0;}
ul li{list-style:none;}
a{color:#4073f4;}
a,a:hover { text-decoration: none;}

body { font-family: "微软雅黑",Microsoft Yahei Bold,DroidSans-Bold,DroidSansFallback,Heiti SC;}

/*外部背景*/
.wrap-bg{background:#ededf3;}
.product-bg{ background:#f4f4f4;}
header .pull-right { position: absolute; right: 0;}
.wrapper{}
.wrap{ margin-bottom:68px;}

/*按钮*/
.btn-cart{ background: #ecf2fe; border: 1px solid #88abda; color: #4073f4; }

/*头部*/
.header{ background:#5281d7; height:50px; color:#fff; line-height:50px; font-size:18px;padding: 0 10px; position:relative}
.header a{color:#fff; margin-right:5px;}
.header .index-logo{display:block;}
.header .index-logo img{-webkit-transform: translate(-50%,-50%);width: 5em;max-width: 150px;position: absolute;top: 50%;left: 50%;}
.sub-header{ background:#fff; color:#383737;font-weight: bold;box-shadow: 0px 2px 4px #d9dadf;-moz-box-shadow: 0px 2px 4px #d9dadf;/*margin-bottom: 10px;*/}
.sub-header a{color:#315eb8; font-weight:normal;}
.head{ background:#fff; color:#303030; border-bottom:1px solid #e0e1e5;box-shadow: 0px 1px 4px #e0e1e5;-moz-box-shadow: 0px 1px 4px #e0e1e5;}
.head a{color:#303030;}

/*搜索*/
.search{ margin:10px 0;}
.search button{ border-right:0;color: #c1c1c1;}
.search input{border-left:0;}

/*底部*/
.footer{}
.footer .navbar-default{ background:#fff;border-top: 1px solid #7b7b7b;}
.footer ul{ display:flex;-moz-box-shadow:0px 0px 4px #7b7b7b;box-shadow: 0px 0px 4px #7b7b7b;}
.footer ul li{flex:1; text-align:center;}
.footer ul li a{color:#959595;white-space: nowrap;padding: 10px 0px;}
.footer ul li a:hover{background-color: transparent;color:#3366ff;}
.footer ul li.active a{background-color: transparent;color:#3366ff;}
.footer .navbar-default .navbar-nav>.active>a{background-color: transparent;color:#3366ff;}
.footer ul li i{display:block;margin-bottom: 5px;}

/* search-masonry */
.search-masonry .xztitle { margin-top: 1em; text-align: right;}
.search-masonry .btn { padding: 0.2em 0.1em;}
/* .search-masonry .btn img { width: 2em; height: 2em;} */
.search-masonry .btn { min-width: 2.5em; min-height: 2.5em; line-height: 2em;}
.search-masonry p { font-size: 0.9em;}
.search-masonry .kl-box .kl { width: 4em; height: 2em; line-height: 2em;}
.search-masonry .kl-box { margin-top: 0.6em;}
.search-masonry .panel-body { margin-bottom: 3em;}
.search-masonry .area-bottom .btn { min-width: 6em;}
.row a { background: #EDEDF3; color: #303030;}
.row .btn-primary { color: #ffffff; background-color: #428bca; border-color: #357ebd;}

/* search-masonry-bulk */
.search-masonry-bulk .flhh { margin-top: 0.2em;}
.search-masonry-bulk .flhh select { border: 1px solid #DDE4FF; padding: 0.3em;}
.search-masonry-bulk .panel-default { background: none; border-color: #EDEDF3; box-shadow: none;}
.search-masonry-bulk .panel-default a { background: #FFF; color: #575757;}
.search-masonry-bulk .btn-primary { color: #ffffff !important; background-color: #428bca !important; border-color: #357ebd !important;}

/* public */
#myTabContent { margin-bottom: 5em;}
.nav-tabs li a { width: auto;}

/* error */
.error { margin-top: 1em;}