<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>文章列表</title>
<js file="__PUBLIC__/ueditor/ueditor.config.js" /> 
<js file="__PUBLIC__/ueditor/ueditor.all.min.js" /> 
<script type="text/javascript">
window.onload=function(){ 
	window.UEDITOR_CONFIG.initialFrameHeight=300;//编辑器的高度
	window.UEDITOR_CONFIG.initialFrameWidth=900;//编辑器的高度
	UE.getEditor('content');
}
</script>
</head>
<body>
<div class="page-main edit">
    <div class="subMenu">
        <h3>当前操作：添加文章</h3>
    </div>
    <form enctype="multipart/form-data" action="" method="POST">
    	<div style="padding-top:10px;">
        <div class="info">
            <div class="title">文章标题:</div>
            <input type="text" name="title" value="{$articleInfo.title}" />
        </div>
        <div class="info">
            <div class="title">文章分类:</div>
            <select name="cat_id" class="select">
                    <volist name="categorys" id="vo">
                    <option <if condition="$articleInfo['cat_id'] eq $vo['cid']">selected</if> value="{$vo.cid}">
                    {$vo.catname}</option>
                    <volist name="vo['childCategory']" id="sub">
                    <option <if condition="$articleInfo['cat_id'] eq $sub['cid']">selected</if> value="{$sub.cid}">
                    &nbsp;&nbsp;&nbsp;&nbsp;{$sub.catname}</option>
                    </volist>
                    </volist>
            </select>
        </div>
        <div class="info">
            <div class="title">缩略图:</div>
            <input type="file" name="thumb" />
            <span>*建议最佳尺寸 280*170</span>
        </div>
        <if condition="$articleInfo['thumb'] neq '' ">
    	<div class="info">
            <div class="title">缩略图:</div>
            <img style="width: 280px;" src="__PUBLIC__/Uploads/article/{$articleInfo.thumb}">
        </div>
        </if>
        <div class="info">
            <div class="title">前端是否显示:</div>
            <label>
                <input type="radio" <if condition="$articleInfo['is_show'] eq 1">checked</if> name="is_show" value="1"/>
                <span>显示</span>
            </label>
            <label>
            	<input type="radio" name="is_show" value="0" <if condition="$articleInfo['is_show'] eq 0">checked</if> />
                <span>不显示</span>
            </label>
        </div>
		<div class="info">
            <div class="title">是否置顶:</div>
            <label>
                <input type="radio" <if condition="$articleInfo['top'] eq 1">checked</if> name="top" value="1"/>
                <span>是</span>
            </label>
            <label>
            	<input type="radio" name="top" value="0" <if condition="$articleInfo['top'] eq 0">checked</if> />
                <span>否</span>
            </label>
        </div>
		<div class="info">
            <div class="title">文章模式:</div>
            <label>
                <input type="radio" <if condition="$articleInfo['art_mode'] neq 1">checked</if> name="art_mode" value="0"/>
                <span>普通模式</span>
            </label>
            <label>
            	<input type="radio" name="art_mode" value="1" <if condition="$articleInfo['art_mode'] eq 1">checked</if> />
                <span>单页面模式</span>
            </label>
        </div>
        <div class="info">
            <div class="title">关键字:</div>
            <input type="text" name="keywords" value="{$articleInfo.keywords}" /><span>关键字以，分开</span>
        </div>
        <div class="info">
            <div class="title">摘要:</div>
            <textarea name="description" cols="140" rows="5">{$articleInfo.description}</textarea>
        </div>
        <div class="info">
            <div class="title">文章内容:</div>
            <div class="fl">
            <textarea nmae="content" id="content">{$articleInfo.content}</textarea>
            </div>
            <div class="clear"></div>
        </div>
        <div class="info">
            <div class="title">&nbsp;</div>
            <input type="hidden" name="thumb" value="{$articleInfo.thumb}" />
            <input type="hidden" name="aid" value="{$articleInfo.aid}" />
            <input type="submit" class="button fl" value="保存">
            <input type="reset" class="button fl ml10" value="重置">
            <div class="clear"></div>
        </div>
        </div>
    </form>
</div>
</body>
</html>

