<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="../default/css/bootstrap.min.css">
<link rel="stylesheet" href="../default/css/public.css">
<link rel="stylesheet" href="../default/css/main.css">
<link rel="stylesheet" href="../default/css/user.css">
<link rel="stylesheet" href="../default/css/aftersales.css">
<link href="../default/js/iCheck/skins/minimal/blue.css" rel="stylesheet">
<link href="../default/js/iCheck/skins/square/blue.css" rel="stylesheet">
<link href="../default/js/iCheck/skins/flat/blue.css" rel="stylesheet">
<script src="../default/js/jquery.min.js"></script>
<script src="../default/js/bootstrap.min.js"></script>
<script src="../default/js/user.js"></script>
<link rel="stylesheet" href="../default/css/cart.css">
<script src="../default/js/iCheck/jquery.icheck.js"></script>
<script src="../default/js/icheck-init.js"></script>
<script type="text/javascript" src="../default/js/fuelux/js/spinner.min.js"></script>
<script src="../default/js/spinner-init.js"></script>
<script src="../default/js/layer-mobile/layer.js"></script> 
</head>
<style>
  .content { width: 300px; height: 140px; text-align: center; position: fixed; top: 25%; left: 50%; margin-left: -150px;}
  .content h4 { font-size: 1.5rem;}
  .syt { position: fixed; bottom: 0; left: 0;}
</style>
<body>
  <div class="content">
    <h4>正在跳转支付宝中</h4>
    <p><img src="../default/img/loading.gif" alt=""></p>
  </div>
  <footer>
    <div class="syt">
      <div class="prompt">
        <p class="title">温馨提示：</p>
        <small class="hs">如果您选择线下转账付款，请在转完后保留凭证，拍照或截图上传，如果帮助请联系客服 <a href="tel:0755-68451124">0755-68451124</a>，选择在线支付无需上传凭证。</small>
      </div>
    </div>
  </footer>
</body>
</html>