<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>提交订单-成功</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../default/css/bootstrap.min.css">
	<link rel="stylesheet" href="../default/css/public.css">
	<link rel="stylesheet" href="../default/css/user.css">
	<link rel="stylesheet" href="../default/css/cart.css">
	<script src="../default/js/jquery.min.js"></script>
	<script src="../default/js/bootstrap.min.js"></script>
	<script src="../default/js/public.js"></script>
</head>
<body class="wrap-bg">

    <!-- 上传成功 -->
    <div class="corder-succeed upload-success">
      <section>
        <div class="succeed-box">
          <div class="succeed-head">
            <div class="succeed-img">
              <span class="pull-left" style="margin-right: 1em;">
              	<img src="../default/img/upload_success.png" width="50" height="50" alt="">
              </span>
              <span class="pull-left">
                <h3>凭证上传成功！</h3>
                <h4>请等待财务审核</h4>
                <h6>如需帮助请联系客服 <a href="tel:400-8008888">400-8008888</a></h6>
                <p><button type="button" class="btn btn-default btn-zdl">知道了</button></p>
              </span>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- 上传成功 end -->

    <!-- 上传失败 -->
    <div class="corder-succeed upload-success upload-failed">
      <section>
        <div class="succeed-box">
          <div class="succeed-head">
            <div class="succeed-img">
              <span class="pull-left" style="margin-right: 1em;">
                <img src="../default/img/upload_failed.png" width="50" height="50" alt="">
              </span>
              <span class="pull-left">
                <h3>凭证上传失败！</h3>
                <p><button type="button" class="btn btn-default btn-zdl">重新上传</button></p>
              </span>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- 上传失败 end -->

    <!-- Main END //-->

</body>
</html>