<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>我的订单-状态</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="../media/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../media/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../default/css/style-index.css" />
    <link rel="stylesheet" type="text/css" href="../default/css/style-swiper.css" />

    <script src="../default/js/jquery-1.12.3.js"></script>
    <script src="../default/js/swiper.min.js"></script>
</head>


<body>
    <section class="orders-status">

        <header>
            <div class="web-top">
                <div class="back-box">
                    <img src="../default/img/back_icon.png" onclick="history.back(-1)" class="back-img" alt="">
                </div>
                <h2>等确认</h2>
            </div>
        </header>

        <section class="wrapper">
            <!-- 用户订单信息 -->
            <div class="user-order">
                <p class="borderb">订单状态：已下单，待确认</p>
                <p class="borderb">订单编号：20151245255222</p>
                <div class="borderb">
                    <p class="clearfix">
                        <span class="fl">李先生</span>
                        <span class="fr">17722511622</span>
                    </p>
                    <p>网点名称：广东深圳福田</p>
                </div>
                <div class="userdata">
                    <p>订单类型：客户订货</p>
                    <p>备注：请快些发货，并且保质保量！</p>
                </div>
            </div>
            <!-- 用户订单信息 end -->


            <!-- 商品类型二 -->
            <div class="goods-item">
                <p class="borderb" style="padding: .5rem; background: #FFF;">款号：090D081</p>
                <div class="goods-layout clearfix">
                    <div class="goods-img">
                        <a href="商品详情.html"><img src="../img/goods_layou_img_03.jpg" alt=""></a>
                    </div>
                    <div class="goods-right">
                        <h2><a href="商品详情.html">玫瑰系列钻石戒指 经典</a></h2>
                        <p class="goods-title">颜色:18k白金+GIA+纯度99%</p>
                        <div class="goods-fangshi clearfix">
                            <span class="fl c9 rmb">￥<span class="price">808.00</span></span>
                            <span class="fr">
                                <small>x1</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 商品类型二 end -->

            <div class="item-box" style="margin-bottom: 4rem;">
                <div class="">
                    <p class="clearfix">
                        <span class="fl">总金额</span>
                        <span class="fr">￥2673.22</span>
                    </p>
                    <p>下单时间：2017-08-07 14:37:28</p>
                </div>
            </div>


            <!-- <div class="item-box">
                <p class="borderb clearfix">
                    <span class="fl">支付方式</span>
                    <span class="fr">线下转账</span>
                </p>
                <p class="clearfix">
                    <span class="fl">配送方式</span>
                    <span class="fr">第三方物流</span>
                </p>
            </div>

            <div class="item-box">
                <p class="clearfix">
                    <span class="fl">总金额</span>
                    <span class="fr">￥2673.22</span>
                </p>
                <p class="clearfix">
                    <span class="fl">保险费</span>
                    <span class="fr">￥25</span>
                </p>
                <p class="clearfix">
                    <span class="fl">运费</span>
                    <span class="fr">￥10</span>
                </p>
            </div>

            <div class="item-box">
                <p>下单时间：2017-08-07 14:37:28</p>
            </div>

            <div class="operation">
                <button type="button" class="operation-btn">取消订单</button>
                <a href="我的订单-收银台.html" class="operation-btn">去付款</a>
            </div> -->


        </section>

    </section>
</body>
</html>
