<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="../default/css/bootstrap.min.css">
<link rel="stylesheet" href="../default/css/public.css">
<link rel="stylesheet" href="../default/css/main.css">
<link rel="stylesheet" href="../default/css/user.css">
<link rel="stylesheet" href="../default/css/aftersales.css">
<link href="../default/js/iCheck/skins/minimal/blue.css" rel="stylesheet">
<link href="../default/js/iCheck/skins/square/blue.css" rel="stylesheet">
<link href="../default/js/iCheck/skins/flat/blue.css" rel="stylesheet">
<script src="../default/js/jquery.min.js"></script>
<script src="../default/js/bootstrap.min.js"></script>
<script src="../default/js/user.js"></script>
<link rel="stylesheet" href="../default/css/cart.css">
<script src="../default/js/iCheck/jquery.icheck.js"></script>
<script src="../default/js/icheck-init.js"></script>
<script type="text/javascript" src="../default/js/fuelux/js/spinner.min.js"></script>
<script src="../default/js/spinner-init.js"></script>
<script src="../default/js/layer-mobile/layer.js"></script> 
<!-- 商品滑动 -->
<link rel="stylesheet" href="../default/css/swiper.min.css">
<title>收银台-支付方式</title>
</head>
<body class="wrap-bg">
  <section>
    <div class="invoice-info payment-info">
      <div class="list-item">
        <span class="pull-left">订单金额</span>
        <span class="pull-right red">￥8888<small>.00</small></span>
        <div class="clearfix"></div>
      </div>
      <div class="borbot"> 
        <div class="square-blue single-row">
          <h4 style="font-size: 15px;">支付方式</h4>
          <div class="payment-data">
            <span class="pull-left"><img src="../default/img/ips_wl.png" width="40" alt=""> 环迅支付</span>
            <span class="pull-right red right-icon"><img src="../default/img/right_icon.png" width="18" class="wl" alt=""></span>
            <div class="clearfix"></div>
          </div>
          <div class="payment-data">
            <span class="pull-left"><img src="../default/img/ips_wl.png" width="40" alt=""> 环迅支付</span>
            <span class="pull-right red right-icon"><img src="../default/img/right_icon.png" width="18" class="wl" alt=""></span>
            <div class="clearfix"></div>
          </div>
          <div class="payment-data">
            <span class="pull-left"><img src="../default/img/ips_wl.png" width="40" alt=""> 环迅支付</span>
            <span class="pull-right red right-icon"><img src="../default/img/right_icon.png" width="18" class="wl" alt=""></span>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="shouhouxq-sub">
    <div class="payment-submit">
      <p class="text-center">
        <button type="submit" id="my_submit" class="btn btn-danger btn-block">立即支付</button>
      </p>
    </div>
  </section>
</body>
</html>