<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="../default/css/bootstrap.min.css">
<link rel="stylesheet" href="../default/css/public.css">
<link rel="stylesheet" href="../default/css/main.css">
<link rel="stylesheet" href="../default/css/user.css">
<link rel="stylesheet" href="../default/css/aftersales.css">
<link href="../default/js/iCheck/skins/minimal/blue.css" rel="stylesheet">
<link href="../default/js/iCheck/skins/square/blue.css" rel="stylesheet">
<link href="../default/js/iCheck/skins/flat/blue.css" rel="stylesheet">
<script src="../default/js/jquery.min.js"></script>
<script src="../default/js/bootstrap.min.js"></script>
<script src="../default/js/user.js"></script>
<link rel="stylesheet" href="../default/css/cart.css">
<script src="../default/js/iCheck/jquery.icheck.js"></script>
<script src="../default/js/icheck-init.js"></script>
<script type="text/javascript" src="../default/js/fuelux/js/spinner.min.js"></script>
<script src="../default/js/spinner-init.js"></script>
<script src="../default/js/layer-mobile/layer.js"></script> 
<!-- 商品滑动 -->
<link rel="stylesheet" href="../default/css/swiper.min.css">
<title>收银台</title>
</head>
<body class="wrap-bg">
  <div class="syt">
    <section>
      <div class="invoice-info payment-info">
        <div class="list-item">
          <span class="pull-left">订单编号：20114200</span>
          <span class="pull-right red">总金额：￥8888<small>.00</small></span>
          <div class="clearfix"></div>
        </div>
        <div class="offline-data">
          <h5>线下支付信息</h5>
          <p>户&nbsp;&nbsp;&nbsp;名：深圳钻明网络运营有限公司</p>
          <p>账&nbsp;&nbsp;&nbsp;号：448055875522555</p>
          <p>开户行：中国工商银行罗湖支行</p>
          <p><small>提示：可在“个人中心”我的 订单管理 查看订单信息</small></p>
        </div>
      </div>
    </section>
    <section class="shouhouxq-sub">
      <div class="payment-submit">
        <p class="text-center">
          <button type="submit" id="my_submit" class="btn btn-primary btn-blue btn-block">上传付款凭证</button>
          <br>
          <button type="submit" id="my_submit" class="btn btn-danger btn-block">在线支付</button>
        </p>
      </div>
    </section>
    <section>
      <div class="prompt">
        <p class="title">温馨提示：</p>
        <small class="hs">如果您选择线下转账付款，请在转完后保留凭证，拍照或截图上传，如果帮助请联系客服 <a href="tel:0755-68451124">0755-68451124</a>，选择在线支付无需上传凭证。</small>
      </div>
    </section>
  </div>
</body>
</html>