<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>发货单信息</title>
<link rel="stylesheet" type="text/css" href="__CSS__/admin.css" /> 
</head>
<body>
<div class="page-main">
    <div class="subMenu">
        <h3>当前操作:发货单信息</h3>
        <ul>
            <volist name="menuList[3]['sub']" id="vo">
                <li class="<eq name="currentUrl" value="$vo['url']">active</eq>"><a href="{:U($vo['url'])}" >{$vo.menu_name}</a></li>
            </volist>  
        </ul>
    </div>
    <div class="order">
    	<form action="{:U('Admin/Order/orderReturn?order_id='.$orderInfo['order_id'].'&delivery_id='.$delivery_id)}" method="post">
    	<div class="order-top">
            <div class="info fl">
                <span class="title">订单编号:</span>
                <span class="red">{$orderInfo.order_sn}</span>
                <div class="clear"></div>
            </div>
            <div class="info fr">
                <span class="title">发货总金额:</span>
                <span class="red">{$deliveryInfo.goods_price}</span>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="info fl">
            	<span class="title">订单来源:</span>
                <a href="{$orderInfo.objUrl}">{$orderInfo.obj}</a>
                <div class="clear"></div>
            </div>
            <if condition="!in_array_diy('7,8',$group) and ($orderInfo['uid'])">
            <div class="info fr tar">
            	<span class="title">所属业务员:</span>
                <span>{$orderInfo.parent_admin_name}</span>
                <div class="clear"></div>
            </div>
            </if>
            <div class="clear"></div>
            <div class="info fl">
            	<span class="title">配送方式:</span>
                <span>{$orderInfo.mode_name}</span>
                <div class="clear"></div>
            </div>
            <if condition="($orderInfo['uid'])">
            <div class="info fr tar">
            	<span class="title">收货信息:</span>
                <span>{$addressInfo}
                <div class="clear"></div>
            </div>
            </if>
            <div class="clear"></div>
        </div>
        <div class="order-content">
        	<!------------------裸钻列表------------------->
			<notempty name="goodsList['luozuan']">
        	<div class="info">
            	<div class="title">证书货产品:</div>
            	<table class="listTbl" border="1" bordercolor="#000" cellspacing="0px" style="border-collapse:collapse"> 
                    <tr class="top">
                    	<in name="orderInfo.order_status" value="3,4">
                    	<th width="5%">选中</th>
                    	</in>
                        <th>证书号</th>
                        <th>4C属性(重量/颜色/净度/切工)</th>
                        <th>发货数量(颗)</th>
                        <th>发货金额</th>
                        <in name="orderInfo.order_status" value="3,4">
                        <th>是否退货</th>
                        <th>退货数量</th>
                        <th>退货金额</th>
                        </in>
                    </tr>
                    <volist name="goodsList['luozuan']" id="vo" mod="2">
                    <tr class="{$mod?'bg2':'bg1'}">
                    	<in name="orderInfo.order_status" value="3,4">
                    	<td>
                    		<neq name="vo.is_return" value="1">
                    		<input type="checkbox" name="goodsLuozuan[{$vo['dg_id']}][dg_id]" value="{$vo['dg_id']}">
                    		</neq>
                    	</td>
                    	</in>
                        <td>{$vo['attribute']['certificate_type']}{$vo['attribute']['certificate_number']}</td>
                        <td>{$vo.4c}</td>
                        <td>{$vo.delivery_number}</td>
                       	<td>{$vo.delivery_price}</td>
                       	<in name="orderInfo.order_status" value="3,4">
                       	<td>
                       		<eq name="vo.is_return" value="1">是</eq>
                       		<eq name="vo.is_return" value="2">部分</eq>
                       		<eq name="vo.is_return" value="3">否</eq>
                       	</td>
                       	<td>{$vo.return_number}</td>
                       	<td>{$vo.goods_price}</td>
                       	</in>
                    </tr>
                    </volist>
            	</table>
                <div class="clear"></div>
            </div>
			</notempty>
            <!------------------裸钻列表结束------------------->
            <!------------------散货列表------------------->
            <notempty name="goodsList['sanhuo']">
            <div class="info">
            	<div class="title">散货产品:</div>
            	<table class="listTbl" border="1" bordercolor="#000" cellspacing="0px" style="border-collapse:collapse"> 
                    <tr class="top goodsSanhuoList">
                    	<in name="orderInfo.order_status" value="3,4">
                    	<th width="5%">选中</th>
                       	</in>
                        <th>产品编号</th>
                        <th>4C属性(颜色/净度/切工)</th>
                        <th>订购重量(Cut)</th>
                        <th>发货重量</th>
                        <th>发货金额</th>
                        <in name="orderInfo.order_status" value="3,4">
                        <th>是否退货</th>
                        <th>退货重量</th>
                        <th>退货金额</th>
                        <th>可退货重量</th>
                        </in>
                    </tr>
                    <volist name="goodsList['sanhuo']" id="vo" mod="2">
                    <tr class="{$mod?'bg2':'bg1'}">
                    	<in name="orderInfo.order_status" value="3,4">
                    	<td>
                    		<neq name="vo.is_return" value="1">
                    		<input type="checkbox" name="goodsSanhuo[{$vo['dg_id']}][dg_id]" value="{$vo['dg_id']}">
                    		</neq>
                    	</td>
                    	</in>
                        <td>{$vo['attribute']['goods_sn']}</td>
                        <td>{$vo.4c}</td>
                        <td>{$vo.goods_number_up}</td>
                        <td>{$vo.delivery_number}</td>
                        <td>{$vo.delivery_price}</td>
                        <in name="orderInfo.order_status" value="3,4">
                        <td>
                       		<eq name="vo.is_return" value="1">是</eq>
                       		<eq name="vo.is_return" value="2">部分</eq>
                       		<eq name="vo.is_return" value="3">否</eq>
                       	</td>
                       	<td>{$vo.return_number}</td>
                       	<td>{$vo.goods_price}</td>
                       	<td>
                       	<neq name="vo.is_return" value="1">
                			<input type="text" style="width: 50px; text-align: center;" name="goodsSanhuo[{$vo['dg_id']}][goods_number]" value="{$vo['residue']}">
                		<else />0</neq>
                		</td>
                		</in>
                    </tr>
                    </volist>
            	</table>
                <div class="clear"></div>
            </div>
            </notempty>
            <!------------------散货列表结束------------------->
            <!--------------珠宝产品列表开始----------------->
            <notempty name="goodsList['goods']">
            <div class="info">
            	<div class="title">珠宝产品:</div>
            	<table class="listTbl" border="1" bordercolor="#000" cellspacing="0px" style="border-collapse:collapse"> 
                    <tr class="top">
                    	<in name="orderInfo.order_status" value="3,4">
                    	<th width="5%">选中</th>
                    	</in>
                        <th width="10%">产品编号</th>
                        <th width="15%">产品名称</th>
                        <th width="30%">SKU规格/金工石</th>
                        <th width="5%">发货数量</th>
                        <th width="8%">发货金额</th>
                        <in name="orderInfo.order_status" value="3,4">
                        <th width="5%">是否退货</th>
                        <th width="8%">退货数量</th>
                        <th width="8%">退货金额</th>
                        <th width="12%">可退货数量</th>
                        </in>
                    </tr>
                    <volist name="goodsList['goods']" id="vo" mod="2">
                    <tr class="{$mod?'bg2':'bg1'}">
                    	<in name="orderInfo.order_status" value="3,4">
                    	<td>
                    		<neq name="vo.is_return" value="1">
                    		<input type="checkbox" name="goods[{$vo['dg_id']}][dg_id]" value="{$vo['dg_id']}">
                    		</neq>
                    	</td>
                    	</in>
                        <td>{$vo['attribute']['goods_sn']}</td>
                        <td>{$vo['attribute']['goods_name']}</td>
                        <td>{$vo.4c}</td>
                        <td>{$vo.delivery_number}</td>
                        <td>{$vo.delivery_price}</td>
                        <in name="orderInfo.order_status" value="3,4">
                        <td>
                       		<eq name="vo.is_return" value="1">是</eq>
                       		<eq name="vo.is_return" value="2">部分</eq>
                       		<eq name="vo.is_return" value="3">否</eq>
                       	</td>
                       	<td>{$vo.return_number}</td>
                       	<td>{$vo.goods_price}</td>
                       	<td>
                       	<neq name="vo.is_return" value="1">
                			<input type="text" style="width: 50px; text-align: center;" name="goods[{$vo['dg_id']}][goods_number]" value="{$vo['residue']}">
                		<else />0</neq>
                		</td>
                		</in>
                    </tr>
                    </volist>
            	</table>
                <div class="clear"></div>
            </div>
            </notempty>
            <!--------------珠宝产品列表结束----------------->
            <!------------------代销货列表------------------->
            <notempty name="goodsList['consignment']">
            <div class="info">
            	<div class="title">代销货产品:</div>
            	<table class="listTbl" border="1" bordercolor="#000" cellspacing="0px" style="border-collapse:collapse"> 
                    <tr class="top">
                    	<in name="orderInfo.order_status" value="3,4">
                    	<th width="5%">选中</th>
                    	</in>
                        <th width="10%">产品编号</th>
                        <th width="22%">产品名称</th>
                        <th width="10%">发货数量</th>
                        <th width="10%">发货价格</th>
                        <in name="orderInfo.order_status" value="3,4">
                        <th width="10%">是否退货</th>
                        <th width="10%">退货数量</th>
                        <th width="10%">退货金额</th>
                        <th width="10%">可退货数量</th>
                        </in>
                    </tr>
                    <volist name="goodsList['consignment']" id="vo" mod="2">
                    <tr class="{$mod?'bg2':'bg1'}">
                    	<in name="orderInfo.order_status" value="3,4">
                    	<td>
                    		<neq name="vo.is_return" value="1">
                    		<input type="checkbox" name="consignment[{$vo['dg_id']}][dg_id]" value="{$vo['dg_id']}">
                    		</neq>
                    	</td>
                    	</in>
                        <td>{$vo['attribute']['goods_sn']}</td>
                        <td>{$vo['attribute']['goods_name']}</td>
                        <td>{$vo.delivery_number}</td>
                        <td>{$vo.delivery_price}</td>
                        <in name="orderInfo.order_status" value="3,4">
                        <td>
                       		<eq name="vo.is_return" value="1">是</eq>
                       		<eq name="vo.is_return" value="2">部分</eq>
                       		<eq name="vo.is_return" value="3">否</eq>
                       	</td>
                       	<td>{$vo.return_number}</td>
                       	<td>{$vo.goods_price}</td>
                       	<td>
                       	<neq name="vo.is_return" value="1">
                			<input type="text" style="width: 50px; text-align: center;" name="consignment[{$vo['dg_id']}][goods_number]" value="{$vo['residue']}">
                		<else />0</neq>
                		</td>
                		</in>
                    </tr>
                    <tr><td colspan="10">{$vo.4c}</td></tr>
                    </volist>
            	</table>
                <div class="clear"></div>
            </div>
            </notempty>
            <!--------------代销货列表结束---------------->
			
			
         <div class="info">
            	<div class="title">物流信息:</div>
            	<table class="listTbl" border="1" bordercolor="#000" cellspacing="0px" style="border-collapse:collapse">
					<?php if($expert_order_data_1 == true):?>
						<?php foreach ($expert_order_data_1 as $k=>$v):?>
										<?php if($k == '0'):?>
											<tr class="top">
												<th width="10%">发货方式</th>
												<th width="15%">配送人  </th>
												<th width="10%">手机号  </th>
												<th width="10%">发货时间</th>
												<th width="10%">状态	</th>																
											</tr>
										<?php endif; ?>
										<tr class="{$mod?'bg2':'bg1'}">
											<td>送货上门											</td>
											<td><?php echo ($v['name']); ?>							</td>
											<td><?php echo ($v['phone']);?> 						</td >
											<td><?php echo (date("Y-m-d H:i:s", $v['ctime']));?> 	</td>
											<td><?php echo ($v['status']=='1' ? '开启' : '关闭');?> </td>														
										</tr>
						<?php endforeach;?>
					<?php endif; ?>

					<?php if($expert_order_data_0 == true):?>
						<?php foreach ($expert_order_data_0 as $k=>$v):?>
								<?php if($k == '0'):?>								
									<tr class="top">
										<th width="10%">发货方式</th>
										<th width="15%">快递公司</th>
										<th width="10%">运单号  </th>												
										<th width="10%">发货时间</th>
										<th width="10%">状态	</th>															
									</tr>
								<?php endif; ?>
								<tr class="{$mod?'bg2':'bg1'}">
									<td>第三方物流											</td>
									<td><?php echo ($v['company']);?>						</td>
									<td><?php echo ($v['number']); ?>						</td>
									<td><?php echo (date("Y-m-d H:i:s", $v['ctime']));?> 	</td>
									<td><?php echo ($v['status']=='1' ? '开启' : '关闭');?> </td>														
								</tr>	
						<?php endforeach;?>								
					<?php endif; ?> 					
            	</table>
                <div class="clear"></div>
            </div>			
			
			
            <div class="info">
                <div class="title">&nbsp;</div>
                <in name="orderInfo.order_status" value="3,4">
                	<input type="submit" class="button fl" value="确认退货" name="orderReturn" />
                </in>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    </form>
</div>
</body>
</html>