<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>采购单列表</title>
<link rel="stylesheet" type="text/css" href="__CSS__/admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Js/JqueryUI/jquery-ui-1.9.2.css" />
<script type="text/javascript" src="__PUBLIC__/Js/JqueryUI/jquery-ui-1.9.2.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/datepicker-tw.js"></script>
<script type="text/javascript">
$(function() {
	$( "#from" ).datepicker($.datepicker.regional[ "zh-TW" ] );
	$( "#end" ).datepicker($.datepicker.regional[ "zh-TW" ] );
});
</script> 
</head>
<body>
<div class="page-main">
    <div class="subMenu">
        <h3>当前操作：采购单列表</h3>
        <ul>
            <volist name="menuList[3]['sub']" id="vo">
                <li class="<eq name="currentUrl" value="$vo['url']">active</eq>"><a href="{:U($vo['url'])}" >{$vo.menu_name}</a></li>
            </volist>
        </ul>
    </div>
	<div class="filter">
    <form action="{:U('Admin/Order/purchaseOrderList')}" method="get">
		 <div class="fl">采购单编号：</div>
        <input class="input" type="text" name="order_sn" value="{$order_sn}"/>
		<div class="fl">采购单状态</div>
		<select name='order_status' style='width:80px'>
			<option value='10' <eq name="order_status" value="10">selected</eq>>全部</option>
			<option value='0' <eq name="order_status" value="0">selected</eq>>已下单，待确认</option>
			<option value='1' <eq name="order_status" value="1">selected</eq>>已确认，待支付</option>
			<option value='2' <eq name="order_status" value="1">selected</eq>>已支付，配货中</option>
			<option value='3' <eq name="order_status" value="3">selected</eq>>已配货，待发货</option>
			<option value='4' <eq name="order_status" value="4">selected</eq>>已发货，待收货</option>
			<option value='5' <eq name="order_status" value="5">selected</eq>>已收货，待完成</option>
			<option value='6' <eq name="order_status" value="7">selected</eq>>已完成</option>
		</select>
		<div class="fl">时间：</div>
			<input type='text' name='startTime' class='datepicker' id="from" value="{$startTime}" ><div class="fl">至</div>
			<input type='text' name='endTime'  class='datepicker' id="end" value="{$endTime}">
		<div class="fl">&nbsp;</div>
			<input class="button" type="submit" value="查询" />
	</form>
    </div>
    <table class="listTbl" border="1" bordercolor="#000" cellspacing="0px" style="border-collapse:collapse"> 
        <tr class="top">
            <th>采购单编号</th>
            <th>下单时间</th>
            <th>订单金额</th>
            <th>订单状态</th>
            <th width="10%">操作</th>
        </tr>
        <volist name="list" id="vo" mod="2">
        <tr class="{$mod?'bg2':'bg1'}">
            <td><a href="{:U('Admin/Order/purchaseOrderInfo?order_id='.$vo['order_id'])}" >{$vo.order_sn}</a></td>
            <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
            <td>{$vo.order_price}</td>
            <td>{$vo.status}</td>
            <td>
				<?php if ($vo['order_status'] == 0): ?>
					<a href="{:U('Admin/Order/purchaseOrderQuxia?order_id='.$vo['order_id'])}" id="isQx">取消采购单</a>
				<?php elseif($vo['order_status'] == '-1'): ?>
					<a href="{:U('Admin/Order/purchaseOrderShangChu?order_id='.$vo['order_id'])}" id="isDel">删除采购单</a>
				<?php endif; ?>
				
					<a href="{:U('Admin/Order/purchaseOrderInfo?order_id='.$vo['order_id'])}" >查看</a>
					
            </td>
        </tr>
        </volist>
    </table>
    <div class="page">{$page}</div>
</div>
</body>
</html>