<include file="Public:header_cat" />
	<!-- cart -->
	<div class="cart">
		<div class="cart-confirm">
			<div class="container">
				<div class="media">
				  <div class="media-left media-middle" style="min-width: 72px; vertical-align: top;">
				    <a href="#">
				      <img class="media-object" src="__IMG__/results_07.png" alt="">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">支付失败！</h4>
				    <p><button type="button" class="btn btn-default"> 确定 </button></p>
				  </div>
				</div>
				<p class="text-center">如果您在交易过程中遇到任何问题, 请拨打我们400电话或是直接在用户中心给我们留言. <strong class="red">服务热线：{:C('site_contact')}</strong></p>
			</div>
		</div>
	</div>
	<!-- cart end //-->
<include file="Public:footer" />