<if condition="$list">
    <foreach name="list" item="vo" >
        <section class="after-sales-list">
            <div class="shouhou">
                <div class="thead">
                    <span class="pull-left">订单号：{$vo.order_sn}</span>
                    <span class="pull-right red"></span>
                    <div class="clearfix"></div>
                    <h6>下单时间：{$vo.create_time}</h6>
                </div>
                
                <if condition="$vo.goods_list">
                    <foreach name = "vo.goods_list" item="v" >
                        <if condition = " $v.goods_type eq '3' || $v.goods_type eq '4' ">
                            <div class="tbody">
                                <div class="cbimg pull-left">
                                    <img style="max-height:150px" src="{$v.thumb}" alt="">
                                </div>
                                <div class="after-data pull-left">
                                    <p>{$v.goods_name}</p>
                                    <p>数量：x{$v.goods_number}</p>
                                </div>
                                <div class="toview pull-right">
                                    <if condition = " !$v.status ">
                                        <a href="{:U('OrderService/oInfo',array('og_id'=>$v['og_id']))}" class="btn btn-default btn-sm pull-right">申请售后</a>
                                    <else />
                                        <span style="margin-top: 22px; display: inline-block;" class="red">已受理</span>
                                    </if>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        <else />
                            <div class="tbody tbody2">
                                <div class="after-data pull-left">
                                    <p>【裸钻】货品编号：FME6420</p>
                                    <p>GIA 2214685824</p>
                                    <p>0.3ct L色 SI2净度 EX切工</p>
                                    <p>数量：x{$v.goods_number}</p>
                                </div>
                                <div class="toview pull-right"><a href="javascript:" class="btn btn-default btn-sm pull-right">无法售后</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </if>
                    </foreach>
                </if>
            </div>
        </section>
    </foreach>
</if>