

<!-- user -->
<div class="user">
	<div class="container">
		<div class="path">
			<ol class="breadcrumb">
				当前位置：
			  <li><a href="{:U('/')}">首页</a></li>
			  <li><a href="{:U('User/olist')}">我的订单</a></li>
			  <li class="active">订单详情</li>
			</ol>
		</div>


		<div class="userdata">
			<div class="row">
				<include file=".:Com:b2c:user:user_left" />
				<div class="col-md-9">
					<include file=".:Com:b2c:user:user_odeta" />
				</div>
			</div>
		</div>
	</div>
</div>
<!-- user end //-->
