<include file="Public:header" /><body>
    <section class="login reg">
        <header>
            <div class="web-top">
                <div class="back-box">
                    <img src="__IMG__/back_icon.png" onClick="history.back(-1)" class="back-img" alt="">
                </div>
                <h2>注册</h2>
            </div>
        </header>

        <section class="wrapper">
            <form class="form-box" id="myform" name="regist" action="" method="post">
                <ul>
                    <li>
                        <label for="" class="label-title">手机  +86</label>
                        <input type="text" name="username" id="phone" class="text-input" placeholder="请输入手机号">
                    </li>
                    <li>
                        <label for="" class="label-title">验证码</label>
                        <input type="text" name="code" id="code" class="text-input pr5" placeholder="请输入验证码">
                        <button type="button" class="getcode" id="verification" style="width:4.5rem; height:1.5rem;">获取验证码</button>
                    </li>
                    <li>
                        <label for="" class="label-title">密码</label>
                        <input type="password" name="password" id="password" class="text-input password" placeholder="密码由6-20位数字和字母组成">
                    </li>
                    <li>
                        <label for="" class="label-title">确认密码</label>
                        <input type="password" name="confirm_password" id="confirm_password" class="text-input password" placeholder="再一次输入密码">
                    </li>
                </ul>

                <div class="pass-help">
                    <div class="user-agreement"><input type="checkbox" name="agreement" id="record" class="zdy-checkbox"> <label for="record">同意并接受<用户协议></label></div>
                </div>

                <div class="login-btn-box">
                    <button type="button" id="regist" class="ripple login-btn">确认</button>
                </div>

                <div class="toreg">
                    我已有账户？现在<a href="{:U('/Public/login')}">去登录</a>
                </div>
            </form>
        </section>
    </section>
    <include file="Public:foot" />
</body>
<script>
var wait=60;
function time(){
  var timer=null;
  timer=setInterval(function(){
	if(wait==0){
		$("#verification").text('发送验证码');
		$("#verification").css({'background':'#999999','color':'#000','width':'4.5rem','height':'1.5rem'});
		$("#verification").removeAttr("disabled");
	   clearInterval(timer);
	}else{
		$("#verification").attr('disabled','disabled');
		$("#verification").css({'background':'#999999','color':'#000','width':'4.5rem','height':'1.5rem'});
		$("#verification").text(''+wait+'  S');
	   wait--;
	}
	
	},1000)

}
    $(document).ready(function(){
		//发送验证码
		$('#verification').click(function(){
            var phone = $('#phone');
			$.ajax({
                url: '/Public/getCode',
                type: 'POST',
				dataType: 'json',
                data: {'phone':phone.val()},
                success: function(d){
                    if(d.success == true){
						time();
						return true;
                    }else{
						layer.open({
							   content: d.msg
							   ,btn: '确定'
						});	
                        return false;
                    }
                }
            });
            return false;
		});
		//注册
        $('#regist').click(function(){
            $.ajax({
                url: '/Public/regist',
                type: 'POST',
				dataType: 'json',
                data: $('#myform').serialize(),
                success: function(d){
                    if(d.success == true){
						window.location.href = d.url;
                    }else{
						layer.open({
							   content: d.msg
							   ,btn: '确定'
						});	
                        return false;
                    }
                }
            });
            return false;
        });
    })
</script>
</html>